﻿@import "./variable.scss";
////// 믹스인 끝

// 전체 태그 적용 (index.js)
ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
a {
  text-decoration: none !important; // a 태그에 밑줄 생기는 것 수정
  &:focus { // IE 브라우저 클릭 후 점선 생기는 현상 수정
    outline: none;
  }
}
img {
  &:focus { // IE 브라우저 클릭 후 점선 생기는 현상 수정
    outline: none;
  }
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

// 데스크톱 전용
@media #{$desktop} {
  // 모바일(적용 X)
  .mobile {
    display: none !important;
  }
  body {
    font-family: $BASE_FONT_KR !important;
    font-weight: $FONT_WEIGHT_REGULAR;
    background-color: transparent !important; // 지워야 할지 필요성 의문
    width: 100%;
    height: 100%;
  }
  html {
    padding-bottom: 0;
  }
  // 헤더(데스크톱) 시작
  .header {
    position: -webkit-sticky; /* 사파리 브라우저 지원 */
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: $COLOR_FFFFFF;
    border-bottom: 1px solid $COLOR_DDDDDD;
    .desktop {
      position: relative;
      max-width: 990px;
      margin: 0 auto;
      height: 70px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 30px;
      // 헤더 좌측 로고
      .logo-box {
        align-self: center;
        margin: auto 0;
        .logo {
          display: block;
          @include setBackgroundImage('header_logo.png', 89px, 48px);
        }
      }

      // 헤더 중앙 검색 (데스크톱)
      .search-box {
        display: flex;
        position: relative;
        max-width: 365px;
        min-width: 120px;
        width: 100%;
        height: 40px;
        border-radius: 20px;
        margin: auto 30px;
        align-items: center;
        overflow: hidden;
        background-color: transparent;
        padding-right: 35px;
        .ico-search {
          @include setBackgroundImage('header_search.png', 14px, 14px);
          display: inline-block;
          min-width: 14px;
          min-height: 14px;
          margin-left: 19px;
        }

        .input-search {
          border: none;
          display: flex;
          text-overflow: ellipsis;
          //width: 280px;
          width: 100%;
          height: 18px;
          font-size: 12px;
          margin-left: 9px;
          z-index: 10;
          @include ieRemoveXButton();
        }

        .input-search-remove-btn {
          display: block;
          position: absolute;
          bottom: 12px;
          right: 15px;
          @include setBackgroundImage('07_myofriends_review_photo_delete.png', 14px, 14px);
        }

      }
      #active {
        border: 1px solid $COLOR_FF6600;
      }
      #inactive {
        border: 1px solid $COLOR_DDDDDD;
      }

      .header-search-remove-btn {
        display: block;
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        @include setBackgroundImage('header_search_x.png', 15px, 15px);
      }

      // 헤더 우측 메뉴
      .header-right-menus {
        position: relative;
        display: flex;
        width: auto;
        flex-grow: 0; // Flex Item의 증가 너비 비율을 설정
        flex-shrink: 0; // Flex Item의 감소 너비 비율을 설정
        //flex-basis // Flex Item의 (공간 배분 전) 기본 너비 설정
        //height: 20px;
        margin: auto 0;
        flex-direction: row;
        list-style: none;
        align-self: center;
        li {
          min-width: inherit;
          display: flex;
          position: relative;
          @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
          @include setCursorPointer();
          a {
            color: $COLOR_212121 !important;
            &:hover {
              //color: $COLOR_212121 !important;
            }
          }
          // 프로필(아이디) 눌렀을 때 뜨는 팝업 창
          .header-right-menus-profile-dropdown {
            position: absolute;
            width: 76px;
            height: 68px;
            top: 30px;
            right: 0;
            z-index: 3;
            border: 1px solid $COLOR_DDDDDD;
            box-shadow: 0 0 2px rgba(139,139,139,0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            // 창 안의 아이템
            .d-header-right-menus-profile {
              position: relative;
              width: 100%;
              height: 34px;
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                background-color: $COLOR_FFF8F4; // FFF8F4
              }
              a {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
                width: 100%;
                height: 33.5px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $COLOR_666666 !important;
                &:hover {
                  color: $COLOR_212121 !important;
                }
              }
            }
            .d-header-right-menus-logout {
              display: flex;
              width: 100%;
              justify-content: center;
              align-items: center;
              height: 34px;
              font-size: 12px;
              color: $COLOR_666666 !important;
              &:hover {
                background-color: $COLOR_FFF8F4; // FFF8F4
                color: $COLOR_212121 !important;
              }
            }
          }

          // 고객센터 눌렀을 때 뜨는 창
          .header-right-menus-help-dropdown {
            position: absolute;
            top: 30px;
            right: 0;
            width: 82px;
            height: 102px;
            z-index: 3;
            border: 1px solid $COLOR_DDDDDD;
            box-shadow: 0 0 2px rgba(139,139,139,0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $COLOR_FFFFFF;
            li {
              display: flex;
              justify-content: center;
              width: 100%;
              align-items: center;
              position: relative;
              height: 33px;
              font-weight: $FONT_WEIGHT_MEDIUM;
              font-size: 12px;
              &:hover {
                background-color: $COLOR_FFF8F4;
              }
              .header-right-menus-notice {
                width: 100%;
                height: 33.5px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $COLOR_666666 !important;
                &:hover {
                  color: $COLOR_212121 !important;
                }
              }
              .header-right-menus-faq {
                width: 100%;
                height: 33.5px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $COLOR_666666 !important;
                &:hover {
                  color: $COLOR_212121 !important;
                }
              }
              .header-right-menus-terms {
                width: 100%;
                height: 33.5px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $COLOR_666666 !important;
                &:hover {
                  color: $COLOR_212121 !important;
                }
              }
            }
          }

          .center-arrow-open {
            margin: auto 0 auto 6px;
            display: inline-block;
            @include setBackgroundImage('header_arrow_close.png', 7px, 4px);
          }
          .center-arrow-close {
            margin: auto 0 auto 6px;
            display: inline-block;
            @include setBackgroundImage('header_arrow_open.png', 7px, 4px);
          }
        }
        .header-vertical-line {
          width: 1px;
          height: 14px;
          background-color: $COLOR_D8D8D8;
          margin: auto 18px;
        }
      }
    }
  }
  // 헤더 끝(데스크톱)
  // 푸터 시작(데스크톱)
  .footer {
    width: 100%;
    height: 215px;
    border-top: 1px solid $COLOR_DDDDDD;
    bottom: 0;
    position: relative;
    clear: both; // 추가
    // 모바일용 푸터 여닫이 창
    .footer-mobile-desc-popup-con {
      display: none;
    }
    .footer-container-m {
      display: none !important;
    }
    .footer-container-d {
      display: block;
      .footer-top-container {
        max-width: 990px;
        margin: 0 auto;
        padding: 0 30px;
        height: 170px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //position: relative;
        .footer-top-logo-container {
          display: block;
          flex-direction: column;
          margin-right: 15px;
          margin-top: 70px;
          .footer-logo {
            display: block;
            @include setBackgroundImage('footer_logo.png', 89.1px, 48px);
          }
          //#sns-icon {
          //  margin-left: 10px;
          //}
          //.footer-facebook {
          //  display: inline-block;
          //  width: 30px;
          //  height: 30px;
          //  margin-top: 20px;
          //  @include setBackgroundImage('footer_facebook_off.png');
          //  &:hover {
          //    cursor: pointer;
          //    @include setBackgroundImage('footer_facebook_on.png');
          //  }
          //}
          //.footer-instagram {
          //  display: inline-block;
          //  width: 30px;
          //  height: 30px;
          //  @include setBackgroundImage('footer_instagram_off.png');
          //  &:hover {
          //    cursor: pointer;
          //    @include setBackgroundImage('footer_instagram_on.png');
          //  }
          //}
          //.footer-twitter {
          //  display: inline-block;
          //  width: 30px;
          //  height: 30px;
          //  @include setBackgroundImage('footer_linkedin_off.png');
          //  &:hover {
          //    cursor: pointer;
          //    @include setBackgroundImage('footer_linkedin_on.png');
          //  }
          //}
          //.footer-linkedin {
          //  display: inline-block;
          //  width: 30px;
          //  height: 30px;
          //  @include setBackgroundImage('footer_twitter_off.png');
          //  &:hover {
          //    cursor: pointer;
          //    @include setBackgroundImage('footer_twitter_on.png');
          //  }
          //}
        }
        // 데스크톱
        .footer-top-desc-container {
          font-size: 10px;
          display: flex;
          flex-direction: row;
          margin-top: 45px;
          .footer-desc-loc-info {
            width: 190px;
            margin-right: 10px;
            div {
              padding: 0.5px 0;
              line-height: 1.6em;
              &:first-child {
                margin-top: 0;
              }
            }
            .footer-friendtrip {
              margin-bottom: 2.5px;
              @include setCursorDefault();
            }
          }
          .footer-contract-info {
            width: 190px;
            div {
              padding: 0.5px 0;
              line-height: 1.6em;
              &:first-child {
                margin-top: 0;
              }
            }
            .footer-empty-space {
              margin-bottom: 1.5px;
              min-height: 18px;
            }
          }
          .footer-mail{
            color: $COLOR_666666;
          }
        }
      }
      .footer-bottom-container {
        position: static;
        display: flex;
        height: 44px;
        width: 100%;
        align-items: center;
        font-size: 10px;
        color: $COLOR_B1B1B1;
        background-color: $COLOR_444444;
        justify-content: space-around;
        min-width: 540px;
        .footer-terms-container {
          max-width: 990px;
          width: 100%;
          padding: 0 30px;
          .footer-terms{
            float: left;
            color: $COLOR_B1B1B1;
            &:hover {
              color: $COLOR_FFFFFF;
            }
          }
          .footer-personal-information {
            color: $COLOR_B1B1B1;
            margin-left: 36px;
            &:hover {
              color: $COLOR_FFFFFF;
            }
          }
          .footer-marketing {
            color: $COLOR_B1B1B1;
            margin-left: 36px;
            &:hover {
              color: white;
            }
          }
          .footer-reserved {
            color: $COLOR_B1B1B1;
            float: right;
          }
        }
      }
    }
  }
  // 푸터 끝(데스크톱)

  // 바디 시작(데스크톱)
  .body {
    position: relative;
    min-height: calc(100vh - 89px);
    //display: flex;
    //position: relative;
    //flex-direction: column;
    // 이미지 확대 창(데스크톱)
    .larger-image-view-entity-container {
      position: fixed;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 0 30px;
      width: 100%;
      height: 100%;
      z-index: 700;
      background-color: $COLOR_212121_OP_46;
      .larger-image-view-modal-container {
        position: relative;
        display: block;
        top: 50%;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        margin: auto;
        transform: translateY(-50%);
        max-height: calc(100vh - 90px);
        max-width: 1024px !important;
        .larger-image-view-con {
          display: inline-block;
          position: relative;
          max-width: 100% !important;
          min-width: 300px;
          min-height: 300px;
          img {
            min-width: 300px;
            min-height: 300px;
            display: block !important;
            -webkit-user-select: none !important;
            -ms-user-select: none !important;
            height: auto !important;
            margin: 0 auto !important;
            max-width: 100% !important;
            //width: auto;
          }
          .larger-img-view-leftClick {
            position: absolute;
            margin-top: auto;
            margin-bottom: auto;
            top: 0;
            bottom: 0;
            left: 30px;
            @include setBackgroundImage('06_detailpage_review_photo_arrow_left.png', 32px, 52px);
            @include setCursorPointer();
          }
          .larger-img-view-rightClick {
            position: absolute;
            margin-top: auto;
            margin-bottom: auto;
            top: 0;
            bottom: 0;
            right: 30px;
            @include setBackgroundImage('06_detailpage_review_photo_arrow_right.png', 32px, 52px);
            @include setCursorPointer();
          }
          .larger-img-view-length {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            width: 68px;
            height: 30px;
            border-radius: 15px;
            background-color: $COLOR_000000_OP_70;
            @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
          }
          .larger-img-view-closeClick {
            position: absolute;
            top: 30px;
            right: 30px;
            @include setBackgroundImage('06_detailpage_review_photo_close.png', 40px, 40px);
            @include setCursorPointer();
          }
        }
      }
    }
    // 아이템(프립) 상세 페이지 끝(데스크톱)

    // 투버튼 모달 창(공용, 데스크톱)
    @include setTwoBtnModal(1);
  }
  // 바디 끝

  // FAQ 용 서비스 센터
  .help-center {
    display: block;
    padding: 45px 30px 58px !important;
    background-color: $COLOR_F8F8F8;
    max-height: 400px;
    @media screen and (min-width: 930px) {
    }
    .help-center-body {
      display: flex;
      max-width: 930px;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;

      .help-desk-heading.center-text {
        @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 14px);
      }

      .help-desk-title.center-text {
        margin-top: 5px;
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
      }

      .help-desk-available-time-con {
        margin-top: 5px;
        @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 14px);
      }

      .help-desk-body {
        display: flex;
        margin-top: 18px;
        max-width: 930px;
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 5px;
          background-color: $COLOR_FFFFFF;
          margin-right: 15px;
          width: 30vw;
          height: 21vw;
          max-width: 300px;
          max-height: 210px;
          @include setCursorPointer();
          &:last-child {
            margin-right: 0;
          }
          div {
            @media screen and (min-width: 930px) {
              margin-top: 10px;
            }
            margin-top: 1vw;
            height: 30px;
          }
        }
        .help-desk-kakao {
          .ico-help-desk.kakao-help {
            //padding-left: auto;
            //padding-right: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 70px;
            max-height: 70px;
            min-width: 40px;
            min-height: 40px;
            margin-top: 2.5vw;
            @media screen and (min-width: 930px) {
              margin-top: 25px;
            }
            @include setBackgroundImage('02_faq_kakaoplus.png', 7vw, 7vw);
          }
          .title-help-desk.center-text {
            display: flex;
            height: 3vw;
            max-height: 30px;
            span {
              @media screen and (min-width: 930px) {
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 16px);
              }
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 1.6vw);
            }
          }
          .info-help-desk.center-text {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 150px;
            max-height: 32px;
            min-width: 105px;
            min-height: 22.4px;
            width: 15vw;
            height: 3.2vw;
            border-radius: 16px;
            background-color: $COLOR_D8D8D8_OP_30;
            span {
              @media screen and (min-width: 930px) {
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
              }
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 1.2vw);
            }
          }
        }
        .help-desk-tel {

          .ico-help-desk.phone-help {
            //padding-left: auto;
            //padding-right: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 70px;
            max-height: 70px;
            min-width: 40px;
            min-height: 40px;
            margin-top: 2.5vw;
            @media screen and (min-width: 930px) {
              margin-top: 25px;
            }
            @include setBackgroundImage('02_faq_telephone.png', 7vw, 7vw);
          }
          .title-help-desk.center-text {
            display: flex;
            height: 3vw;
            max-height: 30px;
            span {
              @media screen and (min-width: 930px) {
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 16px);
              }
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 1.6vw);
            }
          }
          .info-help-desk.center-text {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 150px;
            max-height: 32px;
            min-width: 105px;
            min-height: 22.4px;
            width: 15vw;
            height: 3.2vw;
            border-radius: 16px;
            background-color: $COLOR_D8D8D8_OP_30;
            span {
              @media screen and (min-width: 930px) {
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
              }
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 1.2vw);
            }
          }
        }
        .help-desk-email {
          .ico-help-desk.email-help {
            //padding-left: auto;
            //padding-right: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 70px;
            max-height: 70px;
            min-width: 40px;
            min-height: 40px;
            margin-top: 2.5vw;
            @media screen and (min-width: 930px) {
              margin-top: 25px;
            }
            @include setBackgroundImage('02_faq_email.png', 7vw, 7vw);
          }
          .title-help-desk.center-text {
            display: flex;
            height: 3vw;
            max-height: 30px;
            span {
              @media screen and (min-width: 930px) {
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 16px);
              }
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 1.6vw);
            }
          }
          .info-help-desk.center-text {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15vw;
            height: 3.2vw;
            max-width: 150px;
            max-height: 32px;
            min-width: 105px;
            min-height: 22.4px;
            border-radius: 16px;
            background-color: $COLOR_D8D8D8_OP_30;
            span {
              @media screen and (min-width: 930px) {
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
              }
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 1.2vw);
            }
          }
        }
      }
    }
  }

}
// 데스크톱 버전 끝

// 모바일 전용
@media #{$mobile} {
  // 데스크톱(적용 X)
  .desktop {
    display: none !important;
  }
  html {
    max-width: 480px;
    width: 100%;
    padding-bottom: 0;
  }
  body {
    font-family: $BASE_FONT_KR !important;
    font-weight: $FONT_WEIGHT_REGULAR;
    background-color: transparent !important;
    width: 100%;
    height: 100%;
  }
  // 헤더(모바일)
  .header {
    position: -webkit-sticky; /* 사파리 브라우저 지원 */
    position: sticky;
    min-width: 320px;
    top: 0;
    //margin-top: 15px;
    height: 100%;
    background-color: $COLOR_FFFFFF;
    padding: 15px 20px;
    z-index: 200;
    .mobile {
      .m-header-entity-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .m-header-menu-wrapper {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          min-height: 40px;
          width: 40px;
          @include setCursorPointer();
          .m-header-menu {
            @include setBackgroundImage('m_header_menu.png', 18px, 18px);
          }
        }
        .m-header-logo {
          @include setBackgroundImage('header_logo.png', 73px, 40px);
          @include setCursorPointer();
        }
        .m-header-search-wrapper {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          min-height: 40px;
          width: 40px;
          @include setCursorPointer();
          .m-header-search {
            @include setBackgroundImage('m_header_search.png', 18px, 18px);
            @include setCursorPointer();
          }
        }
      }

      // 모바일 검색 화면
      .m-header-search-container {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $COLOR_FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 300;
        min-width: 320px;
        .m-header-search-title-backbtn-con {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 60px;
          .m-header-search-backbtn {
            position: absolute;
            left: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            @include setCursorPointer();
            @include setBackgroundImage('m_header_back.png', 18px, 18px);
          }
          .m-header-search-title {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            min-width: 320px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
          }
        }
        .m-header-search-desc-input-icon-con {
          display: flex;
          position: absolute;
          flex-direction: column;
          padding: 0 40px 0 20px;
          left: 20px;
          margin-top: 130px;
          min-width: 320px;
          width: 100%;
          .m-header-search-desc {
            width: 100%;
            text-align: left;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 20px);
            font {
              @include setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 20px);
            }
          }
          .m-header-search-icon {
            position: absolute;
            bottom: 11px;
            @include setBackgroundImage('m_header_search.png', 18px, 18px)
          }
          .input-search {
            margin-top: 25px;
            padding-left: 30px;
            padding-bottom: 10px;
            padding-right: 25px;
            border: none;
            border-bottom: 1px solid $COLOR_212121;
            // ios 사파리 둥근 테두리 제거 및 그림자 삭제
            -webkit-appearance: none;
            -webkit-border-radius: 0;
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 16px);
          }
          .header-search-remove-btn {
            display: block;
            position: absolute;
            bottom: 11px;
            right: 40px;
            @include setBackgroundImage('07_myofriends_review_photo_delete.png', 15px, 15px);
          }
        }
      }
    }
    .mobile.sidenav.sidenav-open {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 400;
      background-color: $COLOR_000000_OP_50;
      min-width: 320px;
      transition: 1s;
      .sidenav-body {
        position: static;
        display: flex;
        flex-direction: column;
        overflow: auto;
        flex: 0 0 auto;
        height: 100%;
        width: 80%;
        z-index: 300;
        background-color: $COLOR_FFFFFF;
        //justify-content: space-between;
        .sidenav-userinfo {
          display: flex;
          height: 175px;
          flex-direction: column;
          align-items: center;
          padding-top: 22px;
          padding-bottom: 12px;
          background-color: $COLOR_DDDDDD_OP_30;
          .side-nav-login-user-image {
            display: block;
            width: 62px;
            height: 62px;
            border-radius: 31px;
          }
          .side-nav-login-container {
            margin-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .side-nav-login-user-name {
              width: 100%;
              text-align: center;
              padding: 0 10px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              @include setFont($COLOR_83786F, $FONT_WEIGHT_BOLD, 16px);
            }
          }
          .side-nav-login-logout-clickPf-con {
            display: flex;
            margin-top: 17px;
            .side-nav-logout-button {
              display: flex;
              justify-content: center;
              align-items: center;
              border: none;
              margin: 0;
              padding: 0 20px 0 0;
              background-color: transparent;
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
              border-right: 1px solid $COLOR_D8D8D8;
              &:before {
                content: "";
                margin-right: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                @include setBackgroundImage('m_menu_logout.png', 12px, 12px);
              }
            }
            .side-nav-click-my-profile-button {
              display: flex;
              border: none;
              margin: 0;
              padding: 0 0 0 20px;
              background-color: transparent;
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
              &:before {
                content: "";
                margin-top: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 4px;
                @include setBackgroundImage('m_menu_myprofile.png', 12px, 12px);
              }
            }
          }

          .side-nav-default-user-image {
            display: block;
            border: 0;
            width: 62px;
            height: 62px;
          }
          .side-nav-default-container {
            margin-top: 10px;
            @include setCursorPointer();
            .side-nav-default-login {
              @include setFont($COLOR_83786F, $FONT_WEIGHT_BOLD, 16px);
            }
            //.side-nav-default-login-do {
            //  @include setFont($COLOR_83786F, $FONT_WEIGHT_BOLD, 16px);
            //}
          }

          .side-nav-default-login-or-register {
            margin-bottom: 0 !important;
            margin-top: 17px;
            display: flex;
            .side-nav-default-or-con {
              span {
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }
            .side-nav-default-register-con {
              a {
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }
          }
        }
        // 모바일 왼쪽 내비게이션 카테고리 아이콘
        .side-nav-menus-container {
          //grid-template-columns: repeat(3, 42px);
          //grid-column-gap: 52px;
          //grid-row-gap: 25px;
          //justify-content: space-between;
          background-color: $COLOR_FFFFFF;
          display: flex;
          padding: 15px 14px 7px 17px;
          margin-bottom: 0 !important;
          .side-nav-menu-con {
            //min-width: 46px;
            //height: auto;
            //border-radius: 10px;
            margin-right: auto;
            &:nth-child(3n) {
              margin-right: 0 !important;
            }
            @include setCursorPointer();
            .side-nav-wrapper {
              width: auto;
              height: auto;
              position: relative;
              flex-direction: column;
              align-items: center;
              a {
                //border-radius: 10px;
                //#side-nav-menu-0 {
                //  background-color: $COLOR_FF6600;
                //}
                //#side-nav-menu-1 {
                //  background-color: $COLOR_83786F;
                //}
                //#side-nav-menu-2 {
                //  background-color: $COLOR_6987B4;
                //}
                //.side-nav-wrapper {
                //  width: 100%;
                //  height: 100%;
                //  position: relative;
                //  padding-top: 100%;
                .side-nav-menu-image {
                  display: flex;
                  width: 20vw;
                  height: 20vw;
                  min-width: 66.67px;
                  min-height: 66.67px;
                  max-width: 99.75px;
                  max-height: 99.75px;
                  //top: 0;
                  //left: 0;
                  //right: 0;
                  //bottom: 0;
                  //padding: 4.5px;
                  //border-radius: 10px;
                }
                .side-nav-menu-desc {
                  margin-top: 6px;
                  line-height: 16px;
                  min-width: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 14px);
                }
              }
            }
            //}
          }
        }
        // 모바일 좌측메뉴 캐러셀
        .recom-carousel-container {
          margin: 0 17px;
          width: auto;
          @include setCursorPointer();
          .carousel.carousel-slider {
            .slider-wrapper.axis-horizontal {
              border-radius: 5px;
              // ios 사파리 radius 처리 안될 때
              -webkit-backface-visibility: hidden;
              -moz-backface-visibility: hidden;
              -webkit-transform: translate3d(0, 0, 0);
              -moz-transform: translate3d(0, 0, 0);
              @include setCursorPointer();
              ul {
                border-radius: 5px;
                li {
                  display: block;
                  div {
                    position: relative;
                    padding-top: 40%; /* 25.2:12 Aspect Ratio */
                    min-height: 88.89px;
                    max-height: 133px;
                    .m-header-menu-carousel-image {
                      display: block;
                      position: absolute;
                      top: 0;
                      left: 0;
                      right: 0;
                      bottom: 0;
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
              }
            }
            .control-arrow.control-prev {
              display: none;
            }
            .control-arrow.control-next {
              display: none;
            }
            .control-dots {
              position: relative !important;
              margin-bottom: 0 !important;
              min-height: 24px;
              margin-top: -2px! important;
              li {
                user-select: none;
                box-shadow: none !important;
                width: 5px;
                height: 5px;
                border: transparent;
                &:focus {
                  display: none;
                }
                //&:last-child {
                //  margin-right: 0!important;
                //}
              }
              .dot {
                margin: 0!important;
                margin-left: 4px !important;
                margin-right: 4px !important;
                background-color: #b1b1b1;
              }
              .dot.selected {
                margin: 0!important;
                margin-left: 4px !important;
                margin-right: 4px !important;
                background-color: $COLOR_FF6600;
              }
            }
          }
        }
        .sidenav-help-notice-faq-email-container {
          padding: 0 25px 25px 26px;
          margin-top: 0px;
          display: flex;
          flex-direction: column;
          .side-nav-help-con {
            span {
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 14px);
            }
          }
          .sidenav-notice-link {
            margin-top: 16px;
            .side-nav-notice-con {
              display: flex;
              align-items: center;
              position: relative;
              .sidenav-notice-icon {
                @include setBackgroundImage('m_menu_notice.png', 18px, 18px);
              }
              .sidenav-notice-title {
                margin-left: 11px;
                height: 20px;
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
              }
              .sidenav-notice-arrow {
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                position: absolute;
                right: 0;
                @include setBackgroundImage('m_menu_arrow.png', 10px, 10px);
              }
            }
          }
          .sidenav-faq-link {
            margin-top: 13px;
            .side-nav-faq-con {
              display: flex;
              position: relative;
              align-items: center;
              .sidenav-faq-icon {
                @include setBackgroundImage('m_menu_faq.png', 18px, 18px);
              }
              .sidenav-faq-title {
                margin-left: 11px;
                height: 20px;
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
              }
              .sidenav-faq-arrow {
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                position: absolute;
                right: 0;
                @include setBackgroundImage('m_menu_arrow.png', 10px, 10px);
              }
            }
          }
          .sidenav-email-help {
            margin-top: 13px;
            .sidenav-email-con {
              display: flex;
              position: relative;
              align-items: center;
              .sidenav-email-icon {
                @include setBackgroundImage('m_menu_email.png', 18px, 18px);
              }
              .side-nav-email-title {
                margin-left: 11px;
                height: 20px;
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
              }
              .sidenav-email-arrow {
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                position: absolute;
                right: 0;
                @include setBackgroundImage('m_menu_arrow.png', 10px, 10px);
              }
            }
          }

          .side-nav-intro {
            margin-top: 13px;
            .sidenav-intro-con {
              display: flex;
              position: relative;
              align-items: center;
              .sidenav-intro-icon {
                @include setBackgroundImage('m_menu_ofriends.png', 18px, 18px);
              }
              .sidenav-benefit-icon {
                @include setBackgroundImage('m_menu_benefit.png', 18px, 18px);
              }
              .side-nav-intro-title {
                margin-left: 11px;
                height: 20px;
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
              }
              .sidenav-intro-arrow {
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                position: absolute;
                right: 0;
                @include setBackgroundImage('m_menu_arrow.png', 10px, 10px);
              }
            }
          }

          .side-nav-event {
            margin-top: 13px;
            .sidenav-event-con {
              display: flex;
              position: relative;
              align-items: center;
              .sidenav-event-icon {
                @include setBackgroundImage('m_menu_event.png', 18px, 18px);
              }
              .side-nav-event-title {
                margin-left: 11px;
                height: 20px;
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
              }
              .sidenav-event-arrow {
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                position: absolute;
                right: 0;
                @include setBackgroundImage('m_menu_arrow.png', 10px, 10px);
              }
            }
          }
        }
        //.side-nav-kakao-email-con {
        //  display: flex;
        //  justify-content: center;
        //  align-items: center;
        //  height: 44px;
        //  background-color: $COLOR_DDDDDD_OP_30;
        //  .side-nav-kakao-title {
        //    text-align: center;
        //    width: 50%;
        //    border-right: 1px solid $COLOR_DDDDDD;
        //    @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 10px);
        //    @include setCursorPointer();
        //  }
        //  .side-nav-email-con {
        //    text-align: center;
        //    width: 50%;
        //    @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 10px);
        //    @include setCursorPointer();
        //  }
        //}
      }
    }
    .mobile.sidenav.sidenav-close {
      display: none;
      width: 100%;
      height: 100%;
      transition: 0.5s;
    }
  }
  // 헤더 끝(모바일)

  // 푸터(모바일)
  .footer {
    margin-top: 50px;
    border-top: 1px solid $COLOR_DDDDDD;
    .footer-mobile-desc-popup-con {
      padding: 12px 15px 12px 20px;
      align-items: center;
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid $COLOR_DDDDDD;
      @include setCursorPointer();
      .footer-mobile-desc-title {
        @include setFont($COLOR_222222, $FONT_WEIGHT_MEDIUM, 10px);
      }
      .footer-mobile-desc-arrow-open {
        display: block;
        @include setBackgroundImage('m_footer_arrow_close.png', 11px, 6px);
      }
      .footer-mobile-desc-arrow-close {
        display: block;
        @include setBackgroundImage('m_footer_arrow_open.png', 11px, 6px);
      }
    }
    .footer-container-d {
      display: none;
    }
    .footer-container-m {
      .footer-top-container {
        .footer-top-desc-container {
          padding: 15px 20px;
          .footer-desc-loc-info {
            div {
              @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 8px);
            }
          }
          .footer-contract-info {
            div {
              @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 8px);
              a{
                @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 8px);
              }
            }
          }
        }
      }
      .footer-bottom-container {
        //position: absolute;
        height: 40px;
        left: 0;
        right: 0;
        display: flex;
        flex: 0 0 auto;
        padding: 14px 20px;
        align-items: center;
        background-color: $COLOR_444444;
        justify-content: space-around;
        .footer-terms-container {
          display: flex;
          flex: 0 0 auto;
          width: 100%;
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 8px);
          .footer-terms{
            display: flex;
            flex: 0 0 auto;
            @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 8px);
            float: left;
            &:hover {
              color: $COLOR_FFFFFF!important;
            }
          }
          .footer-personal-information {
            display: flex;
            flex: 0 0 auto;
            @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 8px);
            margin-left: 20px;
            &:hover {
              color: $COLOR_FFFFFF!important;
            }
          }
          .footer-marketing {
            display: flex;
            flex: 0 0 auto;
            @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 8px);
            margin-left: 20px;
            &:hover {
              color: $COLOR_FFFFFF !important;
            }
          }
          .footer-reserved {
            display: none;
            @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 8px);
            float: right;
          }
        }
      }
    }
  }
  // 푸터 끝(모바일)

  // 바디(모바일)
  .body {
    min-width: 320px;
    min-height: calc(100vh - 89px);
    // 이미지 확대 창(모바일, 공용)
    .larger-image-view-entity-container {
      position: fixed;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 0 20px;
      width: 100%;
      height: 100%;
      z-index: 700;
      background-color: $COLOR_212121_OP_46;
      .larger-image-view-modal-container {
        position: relative;
        display: block;
        top: 50%;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        margin: auto;
        transform: translateY(-50%);
        max-height: calc(100vh - 90px);
        max-width: 1024px !important;
        min-width: 300px;
        .larger-image-view-con {
          display: inline-block;
          position: relative;
          max-width: 100% !important;
          min-width: 200px;
          min-height: 200px;
          img {
            display: block !important;
            -webkit-user-select: none !important;
            -ms-user-select: none !important;
            height: auto !important;
            margin: 0 auto !important;
            max-width: 100% !important;
            min-width: 200px;
            min-height: 200px;
          }
          .larger-img-view-leftClick {
            position: absolute;
            margin-top: auto;
            margin-bottom: auto;
            top: 0;
            bottom: 0;
            left: 10px;
            @include setBackgroundImage('06_detailpage_review_photo_arrow_left.png', 11px, 18px);
            @include setCursorPointer();
          }
          .larger-img-view-rightClick {
            position: absolute;
            margin-top: auto;
            margin-bottom: auto;
            top: 0;
            bottom: 0;
            right: 10px;
            @include setBackgroundImage('06_detailpage_review_photo_arrow_right.png', 11px, 18px);
            @include setCursorPointer();
          }
          .larger-img-view-length {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            width: 45px;
            height: 20px;
            border-radius: 10px;
            background-color: $COLOR_000000_OP_70;
            @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 10px);
          }
          .larger-img-view-closeClick {
            position: absolute;
            top: 10px;
            right: 10px;
            @include setBackgroundImage('06_detailpage_review_photo_close.png', 14px, 14px);
            @include setCursorPointer();
          }
        }
      }
    }
    // 이미지 확대 창(모바일, 공용)

    // 로그인 투버튼 (모바일, 공용)
    @include setTwoBtnModal(2);
  }

  // 모바일용 FAQ 밑의 고객센터
  .help-center {
    min-width: 320px;
    padding: 0 20px;
    .help-center-body {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      .help-desk-heading.center-text {
        @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
      }
      .help-desk-title.center-text {
        margin-top: 2px;
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
      }
      .help-desk-available-time-con {
        margin-top: 5px;
        @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
      }
      .help-desk-body {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        max-width: 930px;
        a {
          padding: 0 25px 0 15px;
          width: 100%;
          height: 70px;
          border: 1px solid $COLOR_DDDDDD;
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 20px;
          @include setCursorPointer();
          &:last-child {
            margin-bottom: 0;
          }
        }
        .help-desk-kakao {
          .ico-help-desk.kakao-help {
            //padding-left: auto;
            //padding-right: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 50px;
            @include setBackgroundImage('02_faq_kakaoplus.png', 50px, 50px);
          }
          .title-help-desk.center-text {
            display: flex;
            height: 20px;
            margin-left: 11px;
            min-width: 70px;
            span {
              display: flex;
              align-items: center;
              height: 20px;
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
            }
          }
          .info-help-desk.center-text {
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 132px;
            max-height: 30px;
            width: 132px;
            height: 30px;
            border-radius: 16px;
            background-color: $COLOR_D8D8D8_OP_30;
            span {
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 10px);
            }
          }
        }
        .help-desk-tel {
          .ico-help-desk.phone-help {
            //padding-left: auto;
            //padding-right: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 50px;
            @include setBackgroundImage('02_faq_telephone.png', 50px, 50px);
          }
          .title-help-desk.center-text {
            display: flex;
            margin-left: 11px;
            min-width: 70px;
            span {
              display: flex;
              align-items: center;
              height: 20px;
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
            }
          }
          .info-help-desk.center-text {
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 132px;
            max-height: 30px;
            width: 132px;
            height: 30px;
            border-radius: 16px;
            background-color: $COLOR_D8D8D8_OP_30;
            span {
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 10px);
            }
          }
        }
        .help-desk-email {
          .ico-help-desk.email-help {
            //padding-left: auto;
            //padding-right: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 50px;
            @include setBackgroundImage('02_faq_email.png', 50px, 50px);
          }
          .title-help-desk.center-text {
            display: flex;
            margin-left: 11px;
            min-width: 70px;
            span {
              display: flex;
              align-items: center;
              height: 20px;
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
            }
          }
          .info-help-desk.center-text {
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 132px;
            max-height: 30px;
            width: 132px;
            height: 30px;
            border-radius: 16px;
            background-color: $COLOR_D8D8D8_OP_30;
            span {
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 10px);
            }
          }
        }
      }
    }
  }


}

.none {
  display: none;
}
.sidenav {
  position: fixed;
  transition: 0.5s;
}
.sidenav-open {
  width: 100%;
  visibility: visible;
}
.sidenav-close {
  width: 0;
  visibility: hidden;
}
.reg-info {
  height: 300px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: rgb(255, 12, 12);
  font-weight: 500;
}
.side-nav-img {
  height: 40px;
}
.user-img-upload {
  position: absolute;

  width: 62px;
  height: 62px;
  .user-img-upload-input {
    visibility: hidden;
  }
  .user-img-click {
    width: 62px;
    height: 62px;
  }
}
