@import "variable";


// /err
@media #{$desktop} {
  .err-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .err-image {
      display: block;
      @include setBackgroundImage('404_notfound.png', 350px, 260px);
    }
    .err-title {
      height: 26px;
      margin-top: 20px;
      @include setFont($COLOR_83786F, $FONT_WEIGHT_REGULAR, 18px);
    }
  }
}

@media #{$mobile} {
  .err-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .err-image {
      display: block;
      @include setBackgroundImage('404_notfound.png', 240px, 178px);
    }
    .err-title {
      height: 18px;
      margin-top: 22px;
      @include setFont($COLOR_83786F, $FONT_WEIGHT_REGULAR, 14px);
    }
  }
}
