@import "variable";

// /events(main)
@media #{$desktop} {
  .event {
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    .ev-link {
      position: absolute;
      right: 0;
      top: 0;
      @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 14px);
    }
    .ev-title {
      display: flex;
      height: 30px;
      align-items: center;
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
    }
    .ev-carousel {
      width: 100%;
      min-height:218px;
      margin-top: 13px;
      @include setCursorPointer();
      .carousel.carousel-slider {
        display: block;
        flex-direction: column;
        position: relative !important;
        .control-arrow.control-prev {
          position: absolute !important;
          margin-left: 25px;
          top: 0;
          bottom: 18px;
          margin-top: auto;
          margin-bottom: auto;
          @include setBackgroundImage('01_main_banner_arrow_left.png', 12px, 18px);
          &:hover {
            background-color: transparent;
          }
          &:before {
            display: none;
          }
        }
        .control-arrow.control-next {
          position: absolute !important;
          margin-right: 25px;
          top: 0;
          bottom: 18px;
          margin-top: auto;
          margin-bottom: auto;
          @include setBackgroundImage('01_main_banner_arrow_right.png', 12px, 18px);
          &:hover {
            background-color: transparent;
          }
          &:before {
            display: none;
          }
        }
        .control-dots {
          position: relative !important;
          margin-top: 0 !important;
          margin-bottom: 0 !important;
          height: 18px;
          li {
            margin-top: 13px;
            user-select: none;
            box-shadow: none !important;
            width: 5px;
            height: 5px;
            border: transparent;
            &:focus {
              display: none;
            }
          }
          .dot {
            background-color: #b1b1b1;
          }
          .dot.selected {
            background-color: $COLOR_FF6600;
          }
        }
        .slider-wrapper.axis-horizontal {
          border-radius: 8px;
          ul {
            li {
              .ev-wrapper {
                padding-top: 40%;
                .ev-image {
                  display: block;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  width: 100%;
                  height: 100%;
                  background-color: $COLOR_DDDDDD;
                }
              }
            }
          }
        }
      }

    }
  }
}

@media #{$mobile} {
  .event {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    position: relative;
    .ev-link {
      position: absolute;
      top: 0px;
      right: 20px;
      @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 12px);
    }
    .ev-title {
      padding: 0 20px;
      display: flex;
      height: 20px;
      align-items: center;
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
    }
    .ev-carousel {
      width: 100%;
      margin-top: 10px;
      max-height: 271.32px;
      min-height: auto;
      @include setCursorPointer();
      .carousel.carousel-slider {
        display: block;
        flex-direction: column;
        position: relative !important;
        .control-arrow.control-prev {
          position: absolute !important;
          margin-left: 25px;
          top: 0;
          bottom: 18px;
          margin-top: auto;
          margin-bottom: auto;
          @include setBackgroundImage('01_main_banner_arrow_left.png', 12px, 18px);
          &:hover {
            background-color: transparent;
          }
          &:before {
            display: none;
          }
        }
        .control-arrow.control-next {
          position: absolute !important;
          margin-right: 25px;
          top: 0;
          bottom: 18px;
          margin-top: auto;
          margin-bottom: auto;
          @include setBackgroundImage('01_main_banner_arrow_right.png', 12px, 18px);
          &:hover {
            background-color: transparent;
          }
          &:before {
            display: none;
          }
        }
        .control-dots {
          position: relative !important;
          margin-top: 0 !important;
          margin-bottom: 0 !important;
          height: 18px;
          li {
            margin-top: 13px;
            user-select: none;
            box-shadow: none !important;
            width: 5px;
            height: 5px;
            border: transparent;
            &:focus {
              display: none;
            }
          }
          .dot {
            background-color: #b1b1b1;
          }
          .dot.selected {
            background-color: $COLOR_FF6600;
          }
        }
        .slider-wrapper.axis-horizontal {


          ul {

            li {
              background-color: white;
              .ev-wrapper {
                padding-top: 39.8%;
                .ev-image {
                  border-radius: 8px;
                  display: block;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  margin-left: 1.5%;
                  width: 97%;
                  height: 100%;
                  background-color: $COLOR_DDDDDD;
                }
              }
            }
          }
        }
      }
    }
  }
}
