@import "variable";


// /err
@media #{$desktop} {
  .ev-page {
    max-width: 990px;
    padding: 0 30px 150px 30px;
    margin: 60px auto 0;
    .ev-title {
      height: 30px;
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
    }
    .ev-ongoing {
      margin-top: 30px;
      border-bottom: 1px solid $COLOR_DDDDDD;
      .ongoing-title {
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
      }
      .no-contents-entity-container {
        margin-top: 28px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .no-contents-icon-con {
          .icon-none-available {
            display: block;
            @include setBackgroundImage('nocontent.png', 100px, 100px);
          }
        }
        .no-contents-text-con {
          margin-top: 25px;
          .no-contents-text {
            @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 18px);
          }
        }
      }
      .ongoing-items {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        @include setOfriendsBodyItem(1);
      }
      @include setPagination(30px, 50px);
    }
    .ev-finished {
      margin-top: 41px;
      .finished-title {
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
      }
      .finished-items {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        @include setFinishedEventItem(1);
      }
      @include setPagination(30px, 50px);
    }
  }
}

@media #{$mobile} {
  .ev-page {
    margin-top: 30px;
    padding: 0 15px;
    .ev-title {
      margin-top: 13px;
      height: 30px;
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 20px);
    }
    .ev-ongoing {
      margin-top: 30px;
      border-bottom: 1px solid $COLOR_DDDDDD;
      .ongoing-title {
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 15px);
      }
      .no-contents-entity-container {
        margin-top: 28px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .no-contents-icon-con {
          .icon-none-available {
            display: block;
            @include setBackgroundImage('nocontent.png', 100px, 100px);
          }
        }
        .no-contents-text-con {
          margin-top: 25px;
          .no-contents-text {
            @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 15px);
          }
        }
      }
      .ongoing-items {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        @include setOfriendsBodyItem(2);
      }
      @include setPagination(30px, 50px);
    }
    .ev-finished {
      margin-top: 41px;
      .finished-title {
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 15px);
      }
      .finished-items {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        @include setFinishedEventItem(2);
      }
      @include setPagination(20px, 30px);
    }
  }
}
