@import "./variable.scss";

// /help

// 데스크톱 전용
@media #{$desktop} {
  // 8. FAQ 시작(데스크톱)
  .help-entity-container {
    .help-header-body-con {
      max-width: 990px !important;
      padding: 0 30px !important;
      margin: 0 auto !important;
      //padding-bottom: 150px;
      .help-header-entity-container {
        margin-top: 61px;
        span {
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
        }
      }

      .help-header-sub-tab {
        .help-header-sub-tab-container {
          height: 44px;
          display: flex;
          flex-direction: row;
          margin-top: 19px;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0 !important;

          .selected-tap {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 2px solid $COLOR_212121;
            border-right: 2px solid $COLOR_212121;
            border-top: 2px solid $COLOR_212121;
            @include setCursorPointer();
            span {
              display: flex;
              justify-content: center;
              width: 100%;
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
            }
          }

          .not-selected-tab {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            border-bottom: 2px solid $COLOR_212121;
            @include setCursorPointer();

            span {
              display: flex;
              justify-content: center;
              width: 100%;
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 14px);
              border-right: 1px solid $COLOR_D8D8D8;
            }

            &:last-child {
              span {
                border-right: none;
              }
            }
          }

          #selected-prev {
            span {
              border-right: none;
            }
          }
        }
      }

      .help-body-entity-container {
        margin-top: 41px;
        .help-body-help-items-con {
          min-height: 335px;
          .help-body-item {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid $COLOR_DDDDDD;
            .help-body-title-container {
              display: flex;
              min-height: 60px;
              justify-content: space-between;
              align-items: center;
              @include setCursorPointer();
              .help-body-item-icon-title-con {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 20px;
                margin-right: 20px;
                margin-bottom: 0 !important;
                .help-body-q-icon-con {
                  .help-body-icon {
                    display: block;
                    @include setBackgroundImage('02_faq_q.png', 9px, 12px);
                  }
                }
                .help-body-title-con {
                  max-width: 691.47px;
                  width: 100%;
                  margin-left: 11px;
                  padding: 23px 0;
                  .help-body-title-open {
                    @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);
                  }
                  .help-body-title-closed {
                    @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
                  }
                }
              }
              .help-body-item-date-con {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 0 !important;
                margin-right: 29px;
                min-width: 136px;
                //min-height: 30px;
                .help-body-date-con {
                  min-width: 99px;
                  margin-right: 25px;
                  .help-body-item-date {
                    display: flex;
                    width: 100%;
                    @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
                  }
                }
                .help-body-arrow-con {
                  .content-open {
                    display: block;
                    @include setBackgroundImage('02_faq_close.png', 12px, 6px);
                  }
                  .content-closed {
                    display: block;
                    @include setBackgroundImage('02_faq_open.png', 12px, 6px);
                  }
                }
              }
            }
            .help-body-content-container {
              background-color: $COLOR_FFF8F4;
              padding: 30px 20px;

              .help-body-content {
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
              }
            }
          }
        }
        .help-body-pagination {
          padding-bottom: 70px;
          @include setPagination(70px);
        }
      }
    }
  }
  // 8. FAQ 끝(데스크톱)
}
// 모바일 전용
@media #{$mobile} {
  // 8. FAQ 시작(모바일)
  .help-entity-container {
    padding: 40px 20px 0;
    .help-header-body-con {
      .help-header-entity-container {
        span {
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
        }
      }
      .help-header-sub-tab {
        .help-header-sub-tab-container {
          display: flex;
          flex-direction: row;
          margin-top: 20px;
          height: 28px;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0 !important;
          .selected-tap {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 1px solid $COLOR_212121;
            border-right: 1px solid $COLOR_212121;
            border-top: 1px solid $COLOR_212121;
            @include setCursorPointer();
            span {
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 10px);
              display: flex;
              justify-content: center;
              width: 100%;
            }
          }
          .not-selected-tab {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            border-bottom: 1px solid $COLOR_212121;
            @include setCursorPointer();
            span {
              display: flex;
              justify-content: center;
              width: 100%;
              border-right: 1px solid $COLOR_D8D8D8;
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_BOLD, 10px);
            }
            &:last-child {
              span {
                border-right: none;
              }
            }
          }
          #selected-prev {
            span {
              border-right: none;
            }
          }
        }
      }
      .help-body-entity-container {
        margin-top: 27px;
        .help-body-help-items-con {
          min-height: 265px;
          .help-body-item {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid $COLOR_DDDDDD;
            min-height: 53px;
            .help-body-title-container {
              display: flex;
              align-items: center;
              padding: 16px 0;
              @include setCursorPointer();
              .help-body-item-icon-title-con {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 0 !important;
                li {
                  .help-body-icon {
                    display: block;
                    margin-top: 2px;
                    margin-right: 10px;
                    @include setBackgroundImage('02_faq_q.png', 9px, 12px);
                  }
                  .help-body-title-open {
                    @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);
                  }
                  .help-body-title-closed {
                    @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
                  }
                }
              }
              .help-body-item-date-con {
                display: none;
                justify-content: center;
                align-items: center;
                margin-bottom: 0 !important;
                li {
                  .help-body-item-date {
                    @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
                  }
                }
              }
            }
            .help-body-content-container {
              background-color: $COLOR_FFF8F4;
              padding: 10px;
              .help-body-content {
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
              }
            }
          }
        }
        .help-body-pagination {
          @include setPagination(20px, 38px);
        }
      }
    }
  }
  // 8. FAQ(모바일) 끝
}
