@import "variable";


// /err
@media #{$desktop} {
  .img-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1002;
    background-color: $COLOR_212121_OP_46;
    .p-container {
      width: 100%;
      top: 0;
      display: flex;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 100%;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      .p-img-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $COLOR_FFFFFF;
        border-radius: 8px;
        margin: auto 20px;
        //min-width: 280px;
        //min-height: 120px;
        .p-image {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          max-width: 360px;
          max-height: 468px;
        }
        .btn-con {
          display: flex;
          height: 45px;
          width: 100%;
          .never-show {
            @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 14px);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            border-top: 1px solid $COLOR_DDDDDD;
            border-right: 1px solid $COLOR_DDDDDD;
            @include setCursorPointer();
            @include setUserSelectNone();
          }
          .confirm {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            border-top: 1px solid $COLOR_DDDDDD;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
            @include setCursorPointer();
            @include setUserSelectNone();
          }
        }
      }
    }
  }
}

@media #{$mobile} {
  .img-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    background-color: $COLOR_212121_OP_46;
    .p-container {
      width: 100%;
      top: 0;
      display: flex;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 100%;
      justify-content: center;
      align-items: center;
      .p-img-wrapper {
        display: inline-block;
        flex-direction: column;
        min-width: 280px;
        min-height: 120px;
        justify-content: center;
        align-items: center;
        background-color: $COLOR_FFFFFF;
        border-radius: 8px;
        left: 20px;
        right: 20px;
        margin: auto 20px;
        .p-image {
          display: block;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          width: 100%;
          flex-direction: column;
        }
        .btn-con {
          display: flex;
          height: 45px;
          width: 100%;
          .never-show {
            @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 12px);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            border-top: 1px solid $COLOR_DDDDDD;
            border-right: 1px solid $COLOR_DDDDDD;
            @include setCursorPointer();
            @include setUserSelectNone();
          }
          .confirm {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            border-top: 1px solid $COLOR_DDDDDD;
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
            @include setCursorPointer();
            @include setUserSelectNone();
          }
        }
      }
    }
  }
}
