@import "./variable.scss";

// /login/email

// 데스크톱 전용
@media #{$desktop} {
  // 4. 이메일 로그인(데스크톱)
  .login-email-entity-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 110px auto 0;
    width: 385px;
    //margin: 110px 308px 400px;
    .login-email-login-title {
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
    }
    .login-email-email-err-con {
      width: 100%;
      height: max-content;
      margin-top: 30px;
      position: relative;
      .login-email-email-input {
        height: 30px;
        border: none;
        width: inherit;
        padding-right: 30px;
        border-bottom: 1px solid $COLOR_DDDDDD;
        @include setValidInvalidBorder(14px);
        @include ieRemoveXButton();
      }
      .login-email-email-remove-btn {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right: 10px;
        @include setBackgroundImage('07_myofriends_review_photo_delete.png', 15px, 15px);
      }
      .login-email-email-err-msg {
        position: absolute;
        top: 40px;
        left: 0;
        @include setFont($COLOR_FF0C0C, $FONT_WEIGHT_REGULAR, 12px);
      }

    }
    .login-email-pw-err-con {
      width: 100%;
      height: max-content;
      margin-top: 50px;
      position: relative;
      .login-email-pw-input {
        height: 30px;
        border: none;
        width: inherit;
        padding-right: 30px;
        border-bottom: 1px solid $COLOR_DDDDDD;
        @include setValidInvalidBorder(14px);
        @include ieRemovePwReveal();
        @include ieRemoveXButton();
      }
      .login-email-pw-remove-btn {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right: 10px;
        @include setBackgroundImage('07_myofriends_review_photo_delete.png', 15px, 15px);
      }
      .login-email-pw-err-msg {
        position: absolute;
        top: 40px;
        left: 0;
        @include setFont($COLOR_FF0C0C, $FONT_WEIGHT_REGULAR, 12px);
      }
    }
    .login-email-login-click-btn-active {
      margin-top: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 285px;
      height: 44px;
      background-color: $COLOR_FF6600;
      border-radius: 22px;
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
      @include setCursorPointer();
    }
    .login-email-login-click-btn-inactive {
      margin-top: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 285px;
      height: 44px;
      background-color: $COLOR_DDDDDD;
      border-radius: 22px;
      @include setPointerEventsNone();
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
      @include setUserSelectNone();
      @include setCursorDefault();
    }
    .login-email-find-pw {
      margin-top: 25px;
      @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 12px);
      text-decoration: underline !important;
    }
  }
  .login-email-notice-msg {
    @include serverErrorMsg(1);
    //position: fixed;
    //display: flex;
    //right: 0;
    //left: 0;
    //bottom: 40px;
    //margin-left: auto;
    //margin-right: auto;
    //justify-content: center;
    //align-items: center;
    //max-width: 930px;
    //width: calc(93vw - 10vw);
    //height: 50px;
    //background-color: $COLOR_212121;
    //border-radius: 3px;
    //visibility: visible;
    //z-index: 1001;
    //@include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
    //@include setCursorDefault();
    //@include setUserSelectNone();
    //@include fadeOut();
  }
  // 4. 이메일 로그인 끝(데스크톱)
}
// 모바일 전용
@media #{$mobile} {
  // 4. 이메일 로그인(모바일)
  .login-email-entity-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 35px 20px 0;
    .login-email-login-title {
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
    }
    .login-email-email-err-con {
      width: 260px;
      height: max-content;
      margin-top: 40px;
      position: relative;
      .login-email-email-input {
        height: 30px;
        border: none;
        width: inherit;
        padding-right: 30px;
        border-bottom: 1px solid $COLOR_DDDDDD;
        @include setMobileSafariInputBox();
        @include setValidInvalidBorder(12px);
        @include ieRemoveXButton();
      }
      .login-email-email-remove-btn {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right: 5px;
        @include setBackgroundImage('07_myofriends_review_photo_delete.png', 14px, 14px);
      }
      .login-email-email-err-msg {
        position: absolute;
        top: 40px;
        left: 0;
        @include setFont($COLOR_FF0C0C, $FONT_WEIGHT_REGULAR, 12px);
      }

    }
    .login-email-pw-err-con {
      width: 260px;
      height: max-content;
      margin-top: 30px;
      position: relative;
      .login-email-pw-input {
        height: 30px;
        border: none;
        width: inherit;
        padding-right: 30px;
        border-bottom: 1px solid $COLOR_DDDDDD;
        @include setMobileSafariInputBox();
        @include setValidInvalidBorder(12px);
        @include ieRemovePwReveal();
        @include ieRemoveXButton();
      }
      .login-email-pw-remove-btn {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right: 5px;
        @include setBackgroundImage('07_myofriends_review_photo_delete.png', 14px, 14px);
      }
      .login-email-pw-err-msg {
        position: absolute;
        top: 40px;
        left: 0;
        @include setFont($COLOR_FF0C0C, $FONT_WEIGHT_REGULAR, 12px);
      }
    }

    .login-email-login-click-btn-active {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 260px;
      height: 40px;
      background-color: $COLOR_FF6600;
      border-radius: 20px;
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
      @include setCursorPointer();
    }
    .login-email-login-click-btn-inactive {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 260px;
      height: 40px;
      background-color: $COLOR_DDDDDD;
      border-radius: 20px;
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
      @include setCursorDefault();
    }

    .login-email-find-pw {
      margin-top: 20px;
      @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 10px);
      text-decoration: underline !important;
    }
  }

  .login-email-notice-msg {
    @include serverErrorMsg(2);
    //position: absolute;
    //display: flex;
    //margin-top: 50px;
    //right: 0;
    //left: 0;
    //margin-left: auto;
    //margin-right: auto;
    //justify-content: center;
    //align-items: center;
    //width: 330px;
    //height: 48px;
    //background-color: $COLOR_212121_OP_85;
    //border-radius: 5px;
    //@include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 8px);
    //@include setCursorDefault();
    //@include setUserSelectNone();
    //@include fadeOut();
  }
  // 4. 이메일 로그인 끝(모바일)
}
