@import "variable";


// /err
@media #{$desktop} {
  .magazine {
    .mag-sub {
      display: flex;
      height: 30px;
      justify-content: space-between;
      align-items: center;
      margin-top: 50px;
      .mag-title {
        min-width: 141px;
        display: flex;
        align-items: center;
        height: 30px;
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
      }
      .mag-link {
        @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 14px);
      }
    }
    .desktop {
      display: flex;
      margin-left: -7.5px;
      margin-right: -7.5px;
      flex-wrap: wrap;
      margin-top: 20px;
      @include setMagazineItems(1);
      .rounded-img {
        border-radius: 5px;
      }
    }
    .mobile {
      display: none;
    }
  }
}

@media #{$mobile} {
  .magazine {
    margin-top: 30px;
    .mag-sub {
      padding: 0 20px;
      height: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .mag-title {
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
      }
      .mag-link {
        @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 12px);
      }
    }
    .desktop {
      display: none;
    }
    .mobile {
      margin-top: 10px;
      .mag-carousel {
        background-color: white;
        //min-width: 320px;
        //min-height: 320px;
        .carousel.carousel-slider {
          background-color: white;
          .slider-wrapper.axis-horizontal {
            ul {
              background-color: white;
              li {
                background-color: white;

                .carousel-con {
                  width: 97%;
                  margin-left: 1.5%;

                  background-color: $COLOR_FFFFFF !important;
                  .img-wrapper {
                    @include setCursorPointer();
                    position: relative;
                    padding-top: 100%;
                    .carousel-img {
                      min-width: 284px;
                      min-height: 284px;
                      max-height: 425.6px;
                      max-width: 425.6px;
                      display: block;
                      position: absolute;
                      top: 0;
                      left: 0;
                      right: 0;
                      bottom: 0;
                      border-radius: 5px;
                      height: 100%;
                    }
                  }
                  .title-wrapper {
                    display: flex;
                    padding: 14px 16px;
                    .carousel-title {
                      display: flex;
                      width: 97%;
                      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
                    }
                  }
                }
              }
            }
          }
          .control-arrow.control-prev {
            display: none;
          }
          .control-arrow.control-next {
            display: none;
          }
          .control-dots {
            position: relative !important;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            height: 18px;
            li {
              margin-top: 13px;
              user-select: none;
              box-shadow: none !important;
              width: 5px;
              height: 5px;
              border: transparent;
              &:focus {
                display: none;
              }
            }
            .dot {
              background-color: #b1b1b1;
            }
            .dot.selected {
              background-color: $COLOR_FF6600;
            }
          }
        }
      }
    }
  }
}
