@import "variable";


// /magazine:{}
@media #{$desktop} {
  .magazine-detail {
    max-width: 817px;
    padding: 0 0 150px 0;
    margin: 0 auto;
    .date-con {
      padding: 0 23.5px;
      margin-top: 60px;
      .date {
        height: 18px;
        @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 14px);
      }
    }
    .title-con {
      margin-top: 15px;
      padding: 0 23.5px;
      .title {
        height: 30px;
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
      }
    }
    .desc-con {
      margin-top: 15px;
      padding: 0 23.5px;
      .desc {
        height: 22px;
        @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 16px);
      }
    }
    .body-con {
      border-top: 1px solid $COLOR_DDDDDD;
      border-bottom: 1px solid $COLOR_DDDDDD;
      margin: 85px 23.5px 60px;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .relate-con {
      margin-top: 35px;
      padding: 0 23.5px;
      .relate-title {
        height: 30px;
        min-width: 172px;
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
      }
    }
    .relate-items {
      display: flex;
      flex-wrap: wrap;
      margin-top: 25px;
      @include setRelatedMagazineItem();
    }
  }
}

@media #{$mobile} {
  .magazine-detail {
    padding: 0 20px;
    .date-con {
      margin-top: 17px;
      .date {
        height: 19px;
        @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 13px);
      }
    }
    .title-con {
      margin-top: 13px;
      .title {
        height: 25px;
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 20px);
      }
    }
    .desc-con {
      margin-top: 13px;
      .desc {
        height: 23px;
        @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 15px);
      }
    }
    .body-con {
      margin-top: 22px;
      border-top: 1px solid $COLOR_DDDDDD;
      border-bottom: 1px solid $COLOR_DDDDDD;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .relate-con {
      margin-top: 35px;
      .relate-title {
        height: 23px;
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 15px);
      }
    }
    .relate-items {
      display: flex;
      flex-wrap: wrap;
      margin-top: 22px;
      @include setOfriendsBodyItem(2);
    }
  }
}
