@import "./variable.scss";


// /magazine
@media #{$desktop} {
  .magazine-list {
    max-width: 1005px;
    padding: 0 30px 150px 30px;
    margin: 0 auto;
    .mag-scroll {
      .mag-entity {
        padding-top: 60px;
        .magazine-title {
          margin-left: 7.5px;
          min-width: 172px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
        }
        .mag-bundle {
          margin-top: 30px;
          &:first-child {
            margin-top: 22px;
          }
          .mag-month {
            margin-left: 7.5px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px, true);
          }
          .mag-items {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
            @include setMagazineItems(1);
          }
          &:after {
            content: "";
            display: flex;
            height: 1px;
            margin-left: 7.5px;
            margin-right: 7.5px;
            margin-top: 10px;
            border-bottom: 1px solid $COLOR_DDDDDD;
          }
          &:last-child {
            &:after {
              content: "";
              display: none;
            }
          }
        }
      }
      .loader {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 212.5px;
        margin-right: 212.5px;
        //margin-left: 7.5px;
        //margin-right: 7.5px;
        margin-top: 30px;
        border-radius: 3px;
        border: 1px solid $COLOR_DDDDDD;
        //width: 520px;
        height: 44px;
        //padding-left: 205px;
        //padding-right: 205px;
      }
    }
  }
}

@media #{$mobile} {
  .magazine-list {
    margin-top: 30px;
    padding: 0 15px;
    .mag-scroll {
      .mag-entity {
        .magazine-title {
          margin-left: 5px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
        }
        .mag-bundle {
          margin-top: 13px;
          .mag-month {
            margin-left: 5px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 15px);
          }
          .mag-items {
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
            @include setMagazineItems(2);
          }
          &:after {
            content: "";
            display: flex;
            height: 1px;
            margin-left: 5px;
            margin-right: 5px;
            border-bottom: 1px solid $COLOR_DDDDDD;
          }
          &:last-child {
            &:after {
              content: "";
              display: none;
            }
          }
        }
      }
      .loader {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        margin-right: 5px;
        border: 1px solid $COLOR_DDDDDD;
        border-radius: 3px;
        height: 38px;
        @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
        //width: 100%;
        //padding-left: 15px;
        //padding-right: 15px;
      }
    }
  }
}
