@import "variable";
// 데스크톱 전용
@media #{$desktop} {
  // 1. 메인 페이지 추천, 일상, 스페셜...(데스크톱)
  .main-entity-container {
    max-width: 990px;
    padding: 0 30px 150px 30px;
    margin: 0 auto;
    .main-header-entity-container {
      // 두번 째 헤더(추천, 일상, Special)
      .main-header {
        display: flex;
        font-size: 30px;
        flex-direction: row;
        margin-top: 60px;
        span {
          cursor: pointer;
          color: $COLOR_212121 !important;
        }
        .main-header-recommended {
          display: flex;
          .selected {
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 30px);
            font-weight: $FONT_WEIGHT_BOLD;
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
              margin-top: 6px;
              width: 7px;
              height: 7px;
              background-color: $COLOR_FF6600;
              display: block;
              border-radius: 50%;
            }
          }
          .unselected {
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 30px);
          }
        }

        .main-header-daily {
          margin-left: 47px;
          display: flex;
        }

        .main-header-special {
          margin-left: 45px;
          display: flex;
        }

        .selected {
          font-weight: $FONT_WEIGHT_BOLD;
          display: flex;
          flex-direction: column;
          align-items: center;

          span {
            margin-top: 6px;
            width: 7px;
            height: 7px;
            background-color: $COLOR_FF6600;
            display: block;
            border-radius: 50%;
          }
        }
      }
      // 두번 째 헤더(추천, 일상, Special) 끝
    }
    // 메인 카테고리(액티비티, 배움, 키즈 ...) 데스크톱
    .recom-body-recommended {
      margin-top: 21px;
      .recom-carousel-wrapper-container {
        min-height: 34.002vw;
        @media screen and (min-width: 990px) {
          min-height: 390px;
        }
        // 179.59px, 390px
        //min-height: 180px;
        // 데스크톱 메인 캐러셀
        .recom-carousel-container {
          @include setCursorPointer();
          .carousel.carousel-slider {
            display: block;
            flex-direction: column;
            position: relative !important;
            border-radius: 8px;
            .control-arrow.control-prev {
              position: absolute !important;
              margin-left: 25px;
              top: 0;
              bottom: 18px;
              margin-top: auto;
              margin-bottom: auto;
              @include setBackgroundImage('01_main_banner_arrow_left.png', 12px, 18px);
              &:hover {
                background-color: transparent;
              }
              &:before {
                display: none;
              }
            }
            .control-arrow.control-next {
              position: absolute !important;
              margin-right: 25px;
              top: 0;
              bottom: 18px;
              margin-top: auto;
              margin-bottom: auto;
              @include setBackgroundImage('01_main_banner_arrow_right.png', 12px, 18px);
              &:hover {
                background-color: transparent;
              }
              &:before {
                display: none;
              }
            }
            .control-dots {
              position: relative !important;
              margin-top: 0 !important;
              margin-bottom: 0 !important;
              height: 18px;
              li {
                margin-top: 13px;
                user-select: none;
                box-shadow: none !important;
                width: 5px;
                height: 5px;
                border: transparent;
                &:focus {
                  display: none;
                }
              }
              .dot {
                background-color: #b1b1b1;
              }
              .dot.selected {
                background-color: $COLOR_FF6600;
              }
            }
            .slider-wrapper.axis-horizontal {
              border: none;
              border-radius: 8px;
              ul {
                border-radius: 8px;
                li {
                  border-radius: 8px;
                  div {
                    position: relative;
                    padding-top: 40%;
                    border-radius: 8px;
                    max-height: 370px;
                    max-width: 930px;
                    .recom-carousel-image-mobile {
                      display: none;
                    }
                    .recom-carousel-image-desktop {
                      display: block;
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      left: 0;
                      right: 0;
                      width: 100%;
                      height: 100%;
                      border-radius: 8px;
                      background-color: $COLOR_DDDDDD;
                      //height: 37vw;
                    }
                  }
                }
              }
            }
          }
        }
      }


      // 데스크톱 카테고리
      .recom-categories {
        display: flex;
        flex-direction: row;
        margin-top: 45px;
        //#recom-categories-id-0 {
        //  background-color: $COLOR_FF6600;
        //}
        //#recom-categories-id-1 {
        //  background-color: $COLOR_83786F;
        //}
        //#recom-categories-id-2 {
        //  background-color: $COLOR_6987B4;
        //}
        .d-cat-item {
          display: flex;
          width: 100%;
          height: auto;
          max-height: 136px;
          margin-right: 15px;
          //box-shadow: 0 3px 7px rgba(0, 0, 0, 0.45);
          //border-radius: 8px;
          &:nth-child(6n-1) {
            margin-right: 0;
          }
          a {
            display: flex;
            width: 100%;
            height: 100%;
            //flex: 0 0 auto;
            //padding: 2.4vw 0 2.4vw 3.1vw;
            //display: flex;
            //flex-direction: row;
            //align-items: center;
            //width: 100%;
            //height: 100%;
            //@media screen and (min-width:990px) {
            //  padding: 24px 31px;
            //}
            .d-cat-image-wrapper {
              display: flex;
              width: 100%;
              height: 100%;
              position: relative;
              padding-top: 45.3%;
              //align-items: center;
              //.cat-name {
              //  @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 2.7vw);
              //  margin-left: 2.2vw;
              //  @media screen and (min-width:990px) {
              //    @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 27px);
              //    margin-left: 29px;
              //  }
              //}
              .d-cat-image {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                //max-width: 88px;
                //max-height: 88px;
                //width: 8.8vw;
                //height: 8.8vw;
              }
            }
          }
        }
        .m-cat-item {
          display: none;
        }
      }

      // 지금 뜨는 오프렌즈(데스크톱)
      .rising-ofriends-entity-container {
        display: block;
        // 지금 뜨는 오프렌즈 타이틀
        .rising-ofriends-header {
          height: 30px;
          display: flex;
          justify-content: space-between;
          margin-top: 68px;
          align-items: center;

          .rising-ofriends-title {
            display: flex;
            align-items: center;
            height: 30px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
          }

          .rising-ofriends-showAll {
            @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 14px);
          }
        }

        // 지금 뜨는 오프렌즈 아이템(데스크톱)
        .rising-ofriends-entity {
          display: flex;
          flex-wrap: wrap;
          margin-top: 22px;
          @include setOfriendsBodyItem(1);
        }
      }
    }
    // 추천 - 카테고리(액티비티, 배움, 키즈 ...) 끝, 데스크톱

    // 라이프 바디 시작(데스크톱)
    .body-daily {
      // 라이프 서브헤더 콘텐츠(데스크톱)
      margin-top: 20px;
      @include setDailySpecial(1, 1);
    }
    // 일정 바디 끝

    // 스페셜 바디 시작(데스크톱)
    .body-special {
      // Special 서브헤더 콘텐츠
      margin-top: 20px;
      @include setDailySpecial(1, 2);
    }
    // 스페셜 바디 끝

    @include setOneBtnModal(1);

  }
  // 1. 메인 페이지 추천, 일상, 스페셜...(데스크톱)
}
// 모바일 전용
@media #{$mobile} {
  // 1. 추천, 일상, 스페셜(모바일)
  .main-entity-container {
    margin-top: 15px;
    .main-header-entity-container {
      padding: 0 20px;
      .main-header {
        display: flex;
        flex-direction: row;
        @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 18px);
        span {
          color: $COLOR_212121 !important;
        }
        .main-header-daily {
          margin-left: 14px;
          display: flex;
        }
        .main-header-special {
          margin-left: 20px;
          display: flex;
        }
        .selected {
          font-weight: $FONT_WEIGHT_BOLD;
          display: flex;
          flex-direction: column;
          align-items: center;
          span {
            margin-top: 6px;
            width: 4px;
            height: 4px;
            background-color: $COLOR_FF6600;
            display: block;
            border-radius: 50%;
          }
        }
      }
    }
    // 모바일 추천 메인메뉴
    .recom-body-recommended {
      margin-top: 10px;

      .recom-carousel-wrapper-container {
        min-height: 48.47vw;
        @media screen and (max-width: 320px) {
          min-height: 165.11px;
        }
        // 모바일 메인 캐러셀
        .recom-carousel-container {
          display: block;
          @include setCursorPointer();
          .carousel.carousel-slider {
            display: block;

            .control-arrow.control-prev {
              display: none;
            }

            .control-arrow.control-next {
              display: none;
            }

            .control-dots {
              position: relative !important;
              margin-bottom: 0 !important;
              height: 16px;
              margin-top: -2px ! important;
              li {
                user-select: none;
                box-shadow: none !important;
                width: 5px;
                height: 5px;
                border: transparent;

                &:focus {
                  display: none;
                }

                &:last-child {
                  margin-right: 0 !important;
                }
              }

              .dot {
                margin: 0 !important;
                margin-right: 8px !important;
                background-color: #b1b1b1;
              }

              .dot.selected {
                margin: 0 !important;
                margin-right: 8px !important;
                background-color: $COLOR_FF6600;
              }
            }

            .slider-wrapper.axis-horizontal {
              display: block;

              ul {
                li {
                  display: block;
                  div {
                    position: relative;
                    padding-top: 61.89%; /* 36:17 Aspect Ratio */
                    min-height: 204.44px;
                    max-height: 305.9px;
                    background-color: white;
                    .recom-carousel-image-desktop {
                      display: none;
                    }

                    .recom-carousel-image-mobile {
                      display: block;
                      position: absolute;
                      top: 0;
                      left: 0;
                      right: 0;
                      bottom: 0;
                      margin-left: 1.5%;
                      width: 97%;
                      height: 100%;
                      border-radius: 10px;
                      background-color: white;
                    }
                  }
                }
              }
            }
          }
        }
      }

      // 모바일 카테고리
      .recom-categories {
        display: flex;
        flex-direction: row;
        margin-top: 22px;
        padding: 0 20px;
        //#recom-categories-id-0 {
        //  background-color: $COLOR_FF6600;
        //}
        //#recom-categories-id-1 {
        //  background-color: $COLOR_83786F;
        //}
        //#recom-categories-id-2 {
        //  background-color: $COLOR_6987B4;
        //}
        .d-cat-item {
          display: none;
        }
        .m-cat-item {
          display: flex;
          width: 100%;
          height: auto;
          max-height: 136px;
          margin-right: 15px;
          //box-shadow: 0 3px 7px rgba(0, 0, 0, 0.45);
          //border-radius: 8px;
          &:nth-child(6n) {
            margin-right: 0;
          }
          a {
            display: flex;
            width: 100%;
            height: 100%;
            //flex: 0 0 auto;
            //padding: 2.4vw 0 2.4vw 3.1vw;
            //display: flex;
            //flex-direction: row;
            //align-items: center;
            //width: 100%;
            //height: 100%;
            //@media screen and (min-width:990px) {
            //  padding: 24px 31px;
            //}
            .m-cat-image-wrapper {
              display: flex;
              width: 100%;
              height: 100%;
              position: relative;
              padding-top: 70%;
              //align-items: center;
              //.cat-name {
              //  @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 2.7vw);
              //  margin-left: 2.2vw;
              //  @media screen and (min-width:990px) {
              //    @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 27px);
              //    margin-left: 29px;
              //  }
              //}
              .m-cat-image {
                display: block;
                position: absolute;
                min-width: 88.89px;
                min-height: 62.22px;
                max-width: 133px;
                max-height: 93.1px;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                //max-width: 88px;
                //max-height: 88px;
                //width: 8.8vw;
                //height: 8.8vw;
              }
            }
          }
        }
      }

      // 지금 뜨는 오프렌즈 (모바일)
      .rising-ofriends-entity-container {
        margin-top: 30px;
        padding: 0 20px;

        .rising-ofriends-header {
          height: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .rising-ofriends-title {
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
          }

          .rising-ofriends-showAll {
            @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 12px);
          }

        }

        .rising-ofriends-entity {
          margin-top: 20px;
          display: flex;
          flex-wrap: wrap;
          //grid-template-columns: repeat(2, 1fr);
          //grid-column-gap: 10px;
          //grid-row-gap: 20px;
          @include setOfriendsBodyItem(2);
        }
      }
    }

    .body-daily {
      margin-top: 10px;
      @include setDailySpecial(2, 1);
    }

    .body-special {
      margin-top: 10px;
      @include setDailySpecial(2, 2);
    }
    @include setOneBtnModal(2);
  }
  // 1. 추천, 일상, 스페셜(모바일)
}
