@import "./variable.scss";
// 데스크톱 전용

// /my/coupon

@media #{$desktop} {
  // 21. 내 쿠폰(데스크톱)
  .my-coupon-entity-container {
    @include setUserInfo(1);
    @include setProfileTab(1);
    max-width: 990px;
    padding: 0 30px;
    margin: 0 auto;
    min-width: 500px;
    .my-coupon-coupon-list-container {
      padding: 70px 0 0;
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: 986px){
        justify-content: center;
      }
      .item-coupon-entity-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
        min-width: 435px;
        margin-left: 10px;
        margin-right: 10px;
        @include setBackgroundImage('07_myofriends_coupon_blue.png', 435px, 130px);
        .item-coupon-title-con {
          margin-left: 32px;
          margin-top: 20px;
          margin-right: 90px;
          .item-coupon-title {
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
          }
        }
        .item-coupon-content-con {
          margin-left: 32px;
          margin-top: 45px;
          height: 15px;
          .item-coupon-content {
            @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 10px);
          }
        }
      }
    }
    .no-contents-entity-container {
      margin-top: 170px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .no-contents-icon-con {
        .icon-none-available {
          display: block;
          @include setBackgroundImage('nocontent.png', 100px, 100px);
        }
      }
      .no-contents-text-con {
        margin-top: 25px;
        .no-contents-text {
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 18px);
        }
      }
    }
    @include setPagination(50px, 295px);
  }
  // 21. 내 쿠폰 끝(데스크톱)
}
// 모바일 전용
@media #{$mobile} {
  // 21. 내 쿠폰(모바일) 시작
  .my-coupon-entity-container {
    @include setUserInfo(2);
    @include setProfileTab(2);
    padding-top: 40px;
    .my-coupon-coupon-list-container {
      padding: 42px 10px 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .item-coupon-entity-container {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
        @include setBackgroundImage('07_myofriends_coupon_blue.png', 318px, 95px);
        &:last-child {
          margin-bottom: 0;
        }
        .item-coupon-title-con {
          margin-left: 19px;
          margin-top: 10px;
          margin-right: 70px;
          .item-coupon-title {
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
          }
        }
        .item-coupon-content-con {
          margin-left: 19px;
          margin-top: 23px;
          height: 22px;
          .item-coupon-content {
            @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 8px);
          }
        }
      }
    }
    .no-contents-entity-container {
      margin-top: 112px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .no-contents-icon-con {
        .icon-none-available {
          display: block;
          @include setBackgroundImage('nocontent.png', 52px, 52px);
        }
      }
      .no-contents-text-con {
        margin-top: 10px;
        .no-contents-text {
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
        }
      }
    }
    @include setPagination(20px, 50px);
  }
  // 21. 내 쿠폰(모바일) 끝
}
