@import "./variable.scss";
// 데스크톱 전용

// /my/interest

@media #{$desktop} {
  // 20. 내 관심사(데스크톱)
  .my-interest-entity-container {
    position: relative;
    @include setUserInfo(1);
    @include setProfileTab(1);
    max-width: 990px;
    padding: 0 30px;
    margin: 0 auto;
    .my-interest-save-categories-container {
      margin-top: 37px;
      .my-interest-save-con {
        display: flex;
        position: absolute;
        right: 0;
        margin-right: 20px;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 36px;
        span {
          display: inherit;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          color: $COLOR_FFFFFF;
          background-color: $COLOR_FF6600;
          border-radius: 18px;
          @include setUserSelectNone();
          @include setCursorPointer();
        }
      }
      .my-interest-categories-con {
        position: static;
        padding-top: 36px;
        .row-my-interest-category-container {
          border-bottom: 1px solid $COLOR_DDDDDD;
          margin-bottom: 39px;
          &:last-child {
            border-bottom: none;
          }
          .row-my-interest-category {
            margin: 0 20px 20px;
            span {
              @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 14px);
            }
          }
          .row-my-interest-tags {
            margin: 20px 20px;
            .row-my-interest-tags-con {
              display: flex;
              flex-wrap: wrap;
              height: 100%;
              flex-direction: row;
              margin-bottom: 0!important;
              li {
                margin-right: 6px;
                margin-bottom: 46px;
                &:last-child {
                  margin-right: 0;
                }
                .selected {
                  justify-content: center;
                  align-items: center;
                  padding: 11px 20px 10px 20px;
                  height: 100%;
                  border-radius: 4px;
                  border: 1px solid $COLOR_FF6600;
                  background-color: $COLOR_FF6600;
                  @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
                  @include setCursorPointer();
                }
                .not-selected {
                  justify-content: center;
                  align-items: center;
                  padding: 11px 20px 10px 20px;
                  height: 100%;
                  border-radius: 4px;
                  border: 1px solid $COLOR_FF6600;
                  @include setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 12px);
                  @include setCursorPointer();
                }
              }

            }
          }
        }
      }
    }
    .my-interest-save-msg {
      position: fixed;
      z-index: 1001;
      max-width: 930px;
      width: calc(93vw - 10vw);
      //width: 930px;
      height: 50px;
      background-color: $COLOR_212121;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 40px;
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
    }
  }
  // 20. 내 관심사 끝(데스크톱)
}
// 모바일 전용
@media #{$mobile} {
  // 20. 내 관심사(모바일) 시작
  .my-interest-entity-container {
    position: relative;
    @include setUserInfo(2);
    @include setProfileTab(2);
    padding-top: 40px;
    .my-interest-save-categories-container {
      position: relative;
      margin-top: 42px;
      padding: 0 20px 70px;
      display: flex;
      justify-content: flex-start;
      .my-interest-save-con {
        position: absolute;
        display: flex;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 40px;
        span {
          display: inherit;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          background-color: $COLOR_FF6600;
          border-radius: 18px;
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
          @include setCursorPointer();
        }
      }
      .my-interest-categories-con {
        display: flex;
        flex-direction: column;
        width: 100%;
        .row-my-interest-category-container {
          margin-bottom: 15px;
          .row-my-interest-category {
            span {
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
            }
          }
          .row-my-interest-tags {
            display: flex;
            margin-top: 10px;
            height: 100%;
            .row-my-interest-tags-con {
              display: flex;
              //flex-direction: row;
              flex-wrap: wrap;
              margin: 0!important;
              li {
                margin-right: 10px;
                margin-bottom: 20px;
                &:last-child {
                  margin-right: 0;
                }
                .selected {
                  justify-content: center;
                  align-items: center;
                  padding: 7px 10px;
                  height: 100%;
                  border-radius: 2px;
                  border: 1px solid $COLOR_FF6600;
                  background-color: $COLOR_FF6600;
                  @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 8px);
                  @include setCursorPointer();
                }
                .not-selected {
                  justify-content: center;
                  align-items: center;
                  padding: 7px 10px;
                  height: 100%;
                  border-radius: 2px;
                  border: 1px solid $COLOR_FF6600;
                  @include setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 8px);
                  @include setCursorPointer();
                }
              }
            }
          }
        }
      }
    }
    .my-interest-save-msg {
      position: fixed;
      bottom: 60px;
      width: 330px;
      height: 48px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      background-color: $COLOR_212121_OP_85;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 8px);
    }
  }
  // 20. 내 관심사(모바일) 끝
}
