@import "./variable.scss";
// 데스크톱 전용

// /my/like

@media #{$desktop} {
  // 14. 내 좋아요(데스크톱)
  .my-like-entity-container {
    max-width: 990px;
    padding: 0 30px;
    margin: 0 auto;
    @include setUserInfo(1);
    @include setProfileTab(1);
    .like-body-entity-container {
      margin-top: 70px;
      .like-body-items-con {
        display: flex;
        flex-wrap: wrap;
        @include setOfriendsBodyItem(1);
      }
      @include setPagination(30px, 70px);
    }
    .like-body-entity-container {
      .no-contents-entity-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 170px;
        .no-contents-icon-con {
          span {
            display: block;
            @include setBackgroundImage('nocontent.png', 100px, 100px);
          }
        }
        .no-contents-text-con {
          margin-top: 25px;
          span {
            margin-top: 25px;
            @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 18px);
          }
        }
      }
    }
  }
  // 14. 내 좋아요 끝
}
// 모바일 전용
@media #{$mobile} {
  // 14. 내 좋아요(모바일) 시작
  .my-like-entity-container {
    padding-top: 40px;
    @include setUserInfo(2);
    @include setProfileTab(2);
    .like-body-entity-container {
      padding: 0 20px;
      margin-top: 42px;
      .like-body-items-con {
        display: flex;
        flex-wrap: wrap;
        //grid-template-columns: repeat(2, 1fr);
        //grid-column-gap: 10px;
        //grid-row-gap: 10px;
        @include setOfriendsBodyItem(2);
      }
      @include setPagination();
    }
    .no-contents-entity-container {
      margin-top: 112px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .no-contents-icon-con {
        .icon-none-available {
          display: block;
          @include setBackgroundImage('nocontent.png', 52px, 52px);
        }
      }
      .no-contents-text-con {
        margin-top: 10px;
        .no-contents-text {
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
        }
      }
    }
  }
  // 14. 내 좋아요(모바일) 끝
}
