@import "variable";
// 데스크톱 전용

// /my/ofriends/history/:number

@media #{$desktop} {
  // 17. 내 오프렌즈 - 신청내역 - 상세페이지(데스크톱)
  .my-ofriends-history-detail-entity-container {
    max-width: 990px;
    padding: 0 30px;
    margin: 0 auto;
    @include setUserInfo(1);
    @include setProfileTab(1);
    @include setProfileOfriendsTab();
    .my-ofriends-history-detail-container {
      margin: 60px 19px 0 21px;
      .my-ofriends-history-detail-title {
        display: flex;
        align-items: center;
        border-top: 1px solid $COLOR_212121;
        span {
          display: flex;
          margin: 20px 0 15px 25px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
        }
      }
      @include setMyOfriendsItem(3, 1);
    }
    .my-ofriends-history-detail-payment-container {
      position: relative;
      height: 165px;
      margin: 0 19px 0 21px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      border-top: 1px solid $COLOR_212121;
      border-bottom: 1px solid $COLOR_212121;
      .my-ofriends-history-detail-payment-information {
        position: absolute;
        left: 0;
        margin-top: 20px;
        margin-left: 26px;
        span {
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
        }
      }
      .my-ofriends-history-detail-payment-price {
        position: static;
        margin-top: 20px;
        margin-right: 21px;
        display: flex;
        .my-ofriends-history-detail-price-title {
          display: flex;
          align-items: center;
          width: 55px;
          height: 20px;
          margin-right: 40px;
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 12px);
        }
        .my-ofriends-history-detail-price {
          text-align: end;
          width: 150px;
          height: 20px;
          @include  setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
        }
      }
      .my-ofriends-history-detail-payment-discount {
        position: static;
        margin-top: 15px;
        margin-right: 21px;
        display: flex;
        .my-ofriends-history-detail-discount-title {
          display: flex;
          align-items: center;
          width: 55px;
          height: 20px;
          margin-right: 40px;
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 12px);
        }
        .my-ofriends-history-detail-discount {
          width: 150px;
          height: 20px;
          text-align: end;
          @include  setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
        }
      }
      .my-ofriends-history-detail-payment-pay {
        position: static;
        margin-top: 15px;
        margin-right: 21px;
        display: flex;
        .my-ofriends-history-detail-pay-title {
          display: flex;
          align-items: center;
          width: 55px;
          height: 20px;
          margin-right: 40px;
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 12px);
        }
        .my-ofriends-history-detail-pay {
          text-align: end;
          width: 150px;
          height: 20px;
          @include  setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 18px);
        }

      }
      .my-ofriends-history-detail-payment-method-con {
        position: static;
        margin-top: 15px;
        margin-right: 21px;
        display: flex;
        .my-ofriends-history-detail-payment-method-title {
          display: flex;
          align-items: center;
          width: 55px;
          height: 20px;
          margin-right: 40px;
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 12px);
        }
        .my-ofriends-history-detail-payment-method {
          position: static;
          text-align: end;
          width: 150px;
          height: 20px;
          @include  setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
        }
      }
    }
    @include setOneBtnModal(1);
    @include setTwoBtnModal(1);
  }
  // 17. 내 오프렌즈 - 신청내역 - 상세페이지 끝(데스크톱)
}
// 모바일 전용
@media #{$mobile} {
  // 17. 내 오프렌즈 - 신청내역 - 상세페이지(모바일)
  .my-ofriends-history-detail-entity-container {
    @include setUserInfo(2);
    @include setProfileTab(2);
    @include setProfileOfriendsTab(32px, 2);
    padding-top: 40px;
    .my-ofriends-history-detail-container {
      margin: 25px 20px 0 20px;
      .my-ofriends-history-detail-title {
        display: flex;
        align-items: center;
        border-top: 1px solid $COLOR_212121;
        span {
          display: flex;
          margin: 10px 0 0 5px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 10px);
        }
      }
      @include setMyOfriendsItem(3, 2, 0);
    }
    .my-ofriends-history-detail-payment-container {
      position: relative;
      height: 165px;
      margin: 40px 20px 0;
      padding: 10px 5px 0;
      display: flex;
      flex-direction: column;
      border-top: 1px solid $COLOR_212121;
      .my-ofriends-history-detail-payment-information {
        position: absolute;
        top: 10px;
        left: 5px;
        span {
          display: flex;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 10px);
        }
      }
      .my-ofriends-history-detail-payment-price {
        position: static;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        .my-ofriends-history-detail-price-title {
          display: flex;
          align-items: center;
          width: 55px;
          height: 20px;
          margin-right: 40px;
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 10px);
        }
        .my-ofriends-history-detail-price {
          text-align: end;
          width: 150px;
          height: 20px;
          @include  setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
        }
      }
      .my-ofriends-history-detail-payment-discount {
        position: static;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        .my-ofriends-history-detail-discount-title {
          display: flex;
          align-items: center;
          width: 55px;
          height: 20px;
          margin-right: 40px;
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 10px);
        }
        .my-ofriends-history-detail-discount {
          width: 150px;
          height: 20px;
          text-align: end;
          @include  setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
        }
      }
      .my-ofriends-history-detail-payment-pay {
        position: static;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        .my-ofriends-history-detail-pay-title {
          display: flex;
          align-items: center;
          width: 55px;
          height: 20px;
          margin-right: 40px;
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 10px);
        }
        .my-ofriends-history-detail-pay {
          text-align: end;
          width: 150px;
          height: 20px;
          @include  setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 14px);
        }

      }
      .my-ofriends-history-detail-payment-method-con {
        position: static;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        .my-ofriends-history-detail-payment-method-title {
          display: flex;
          align-items: center;
          width: 55px;
          height: 20px;
          margin-right: 40px;
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 10px);
        }
        .my-ofriends-history-detail-payment-method {
          position: static;
          text-align: end;
          width: 150px;
          height: 20px;
          @include  setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
        }
      }
    }
    @include setOneBtnModal(2);
    @include setTwoBtnModal(2);
  }
  // 17. 내 오프렌즈 - 신청내역 - 상세페이지(모바일) 끝
}
