@import "./variable.scss";
// 데스크톱 전용

// /my/ofriends/review

@media #{$desktop} {
  // 18. 내 오프렌즈 - 후기(데스크톱)
  .my-ofriends-review-entity-container {
    max-width: 990px;
    padding: 0 30px;
    margin: 0 auto;
    @include setUserInfo(1);
    @include setProfileTab(1);
    @include setProfileOfriendsTab();
    .my-ofriends-review-reviews-container {
      margin-top: 50px;
      .my-ofriends-review-item {
        padding-bottom: 20px;
        margin-top: 15px;
        border-bottom: 1px solid $COLOR_DDDDDD;
        .item-review-entity-container {
          display: flex;
          padding: 15px 0 0 20px;
          position: relative;
          .item-review-done-review-entity-con {
            width: 100%;
            margin-right: 140px;
            .item-review-done-review-name {
              display: flex;
              .item-review-done-review-title {
                height: auto;
                overflow-wrap: break-word;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                max-font-size: 14px;
                font-max-size: 14px;
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
              }
            }
            .item-review-done-review-option {
              margin-top: 3px;
              height: auto;
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 12px);
              span {
                @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 12px);
              }
            }
            .item-review-done-review-rate-con {
              margin-bottom: 0 !important;
              display: flex;
              flex-direction: row;
              margin-top: 10px;
              .item-review-done-review-rate {
                .item-review-star-container {
                  display: flex;
                  flex-direction: row;

                  .item-review-star-con {
                    margin-right: 3px;

                    &:last-child {
                      margin-right: 0;
                    }

                    span {
                      display: block;
                      @include setBackgroundImage('07_myofriends_review_star_on.png', 12px, 12px);
                    }
                  }

                  .item-review-not-star-con {
                    margin-right: 3px;

                    &:last-child {
                      margin-right: 0;
                    }

                    span {
                      display: block;
                      @include setBackgroundImage('07_myofriends_review_star_off.png', 12px, 12px);
                    }
                  }
                }
              }

              .item-review-done-review-date {
                display: flex;
                margin-left: 5px;

                span {
                  @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
                }
              }
            }

            .item-review-done-review-text {
              margin-top: 27px;

              span {
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
              }
            }

            .item-review-done-review-img {
              .item-review-images-item-list {
                margin-bottom: 0 !important;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                min-width: 270px;
                width: 100%;
                .item-review-images-item {
                  margin-top: 15px;
                  margin-right: 10px;
                  &:last-child {
                    margin-right: 0;
                  }

                  img {
                    width: 80px;
                    height: 60px;
                    border-radius: 3px;
                    &:hover {
                      @include setCursorPointer();
                    }
                  }
                }
              }
            }
          }

          .item-review-done-review-edit-link {
            position: absolute;
            right: 0;
            display: flex;
            width: 110px;
            height: 36px;
            align-items: center;
            justify-content: center;
            border: 1px solid $COLOR_FF6600;
            border-radius: 18px;

            .item-review-done-review-edit-con {
              display: flex;
              flex-direction: row;
              align-items: center;

              .item-review-done-review-edit-icon {
                display: block;
                margin-right: 5px;
                @include setBackgroundImage('07_myofriends_review_pencil_or.png', 10px, 10px);
              }

              .item-review-done-review-edit {
                @include setFont($COLOR_FF6600, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }
          }

          .item-review-none-review-entity-con {
            display: flex;
            flex-direction: column;
            width: 100%;
            position: relative;

            .item-review-none-review-name {
              min-height: 20px;
              span {
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
              }
            }

            .item-review-none-review-date-join-option-con {
              min-height: 18px;
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 12px);
              .item-review-none-review-date-join-option {
                @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 12px);
              }
            }

            .item-review-none-review-edit-link {
              position: absolute;
              right: 0;
              width: 110px;
              height: 36px;
              background-color: $COLOR_FF6600;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 18px;
              bottom: 15px;
              //top: 0;

              .item-review-none-review-edit-con {
                display: flex;
                justify-content: center;
                align-items: center;

                .item-review-none-review-edit-icon {
                  display: block;
                  margin-right: 5px;
                  @include setBackgroundImage('07_myofriends_review_pencil_wh.png', 10px, 10px);
                }

                .item-review-none-review-edit {
                  @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 12px);
                }
              }
            }
          }
        }
      }
    }
    .no-contents-entity-container {
      margin-top: 110px;
      .no-contents-icon-con {
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-none-available {
          display: block;
          @include setBackgroundImage('nocontent.png', 100px, 100px);
        }
      }
      .no-contents-text-con {
        margin-top: 25px;
        .no-contents-text {
          display: flex;
          justify-content: center;
          align-items: center;
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 18px);
        }
      }
    }
    @include setPagination(70px, 150px);
  }
  // 18. 내 오프렌즈 - 후기 끝(데스크톱)
}
// 모바일 전용
@media #{$mobile} {
  // 18. 내 오프렌즈 - 후기(모바일)
  .my-ofriends-review-entity-container {
    padding-top: 40px;
    @include setUserInfo(2);
    @include setProfileTab(2);
    @include setProfileOfriendsTab(32px, 2);
    .my-ofriends-review-reviews-container {
      margin-top: 25px;
      .my-ofriends-review-item {
        padding: 15px 20px;
        border-bottom: 1px solid $COLOR_DDDDDD;
        .item-review-entity-container {
          display: flex;
          position: relative;
          .item-review-done-review-entity-con {
            width: 100%;
            .item-review-done-review-name {
              display: flex;
              .item-review-done-review-title {
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }
            .item-review-done-review-option {
              display: flex;
              margin-top: 3px;
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
              span {
                @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
              }
            }
            .item-review-done-review-rate-con {
              margin-bottom: 0 !important;
              display: flex;
              flex-direction: row;
              margin-top: 3px;
              .item-review-done-review-rate {
                .item-review-star-container {
                  display: flex;
                  flex-direction: row;
                  .item-review-star-con {
                    margin-right: 3px;
                    &:last-child {
                      margin-right: 0;
                    }
                    span {
                      display: block;
                      @include setBackgroundImage('07_myofriends_review_star_on.png', 12px, 12px);
                    }
                  }
                  .item-review-not-star-con {
                    margin-right: 3px;
                    &:last-child {
                      margin-right: 0;
                    }
                    span {
                      display: block;
                      @include setBackgroundImage('07_myofriends_review_star_off.png', 12px, 12px);
                    }
                  }
                }
              }
              .item-review-done-review-date {
                display: flex;
                margin-left: 5px;
                span {
                  @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 8px);
                }
              }
            }
            .item-review-done-review-text {
              margin-top: 10px;
              span {
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
              }
            }
            .item-review-done-review-img {
              .item-review-images-item-list {
                margin-bottom: 0 !important;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding-right: 45px;
                .item-review-images-item {
                  margin-top: 15px;
                  margin-right: 10px;
                  &:last-child {
                    margin-right: 0;
                  }
                  img {
                    width: 67px;
                    height: 48px;
                    border-radius: 5px;
                    &:hover {
                      @include setCursorPointer();
                    }
                  }
                }
              }
            }
          }
          .item-review-done-review-edit-link {
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            .item-review-done-review-edit-con {
              display: flex;
              flex-direction: row;
              align-items: center;
              .item-review-done-review-edit-icon {
                display: none;
                margin-right: 5px;
                @include setBackgroundImage('07_myofriends_review_pencil_or.png', 10px, 10px);
              }
              .item-review-done-review-edit {
                @include setFont($COLOR_FF6600, $FONT_WEIGHT_MEDIUM, 8px);
                text-decoration: underline !important;
              }
            }
          }
          .item-review-none-review-entity-con {
            display: flex;
            flex-direction: column;
            width: 100%;
            position: relative;
            .item-review-none-review-name {
              span {
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }
            .item-review-none-review-date-join-option-con {
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
              .item-review-none-review-date-join-option {
                @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
              }
            }
            .item-review-none-review-edit-link {
              position: relative;
              display: flex;
              width: 100%;
              .item-review-none-review-edit-con {
                display: flex;
                position: absolute;
                justify-content: center;
                align-items: center;
                bottom: 0;
                right: 0;
                .item-review-none-review-edit-icon {
                  display: none;
                  margin-right: 5px;
                  @include setBackgroundImage('07_myofriends_review_pencil_wh.png', 10px, 10px);
                }

                .item-review-none-review-edit {
                  @include setFont($COLOR_FF6600, $FONT_WEIGHT_MEDIUM, 8px);
                  text-decoration: underline !important;
                }
              }
            }
          }
        }
      }
    }
    .no-contents-entity-container {
      margin-top: 75px;
      .no-contents-icon-con {
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-none-available {
          display: block;
          @include setBackgroundImage('nocontent.png', 52px, 52px);
        }
      }
      .no-contents-text-con {
        margin-top: 25px;
        .no-contents-text {
          display: flex;
          justify-content: center;
          align-items: center;
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
        }
      }
    }
    @include setPagination(20px);
  }
  // 18. 내 오프렌즈 - 후기 끝
}
