@import "variable";
// 데스크톱 전용

// /my/ofriends/history

@media #{$desktop} {
  // 16. 내 오프렌즈 - 신청내역(데스크톱)
  .my-ofriends-history-entity-container {
    max-width: 990px;
    padding: 0 30px;
    margin: 0 auto;
    @include setUserInfo(1);
    @include setProfileTab(1);
    @include setProfileOfriendsTab();
    .my-ofriends-history-container {
      display: block;
      padding: 40px 0 0 20px;
      .my-ofriends-history-item {
        max-width: 890px;
        min-height: 202px;
        border: 1px solid $COLOR_DDDDDD;
        margin-bottom: 20px;
        @include setMyOfriendsItem(2, 1);
      }
    }
    .no-contents-entity-container {
      margin-top: 110px;
      .no-contents-icon-con {
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-none-available {
          display: block;
          @include setBackgroundImage('nocontent.png', 100px, 100px);
        }
      }
      .no-contents-text-con {
        margin-top: 25px;
        .no-contents-text {
          display: flex;
          justify-content: center;
          align-items: center;
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 18px);
        }
      }
    }
    @include setPagination(70px, 150px);
  }
  // 16. 내 오프렌즈 - 신청내역 끝(데스크톱)
}
// 모바일 전용
@media #{$mobile} {
  // 16. 내 오프렌즈 - 신청내역(모바일)
  .my-ofriends-history-entity-container {
    padding-top: 40px;
    @include setUserInfo(2);
    @include setProfileTab(2);
    @include setProfileOfriendsTab(32px, 2);
    .my-ofriends-history-container {
      margin-top: 25px;
      display: block;
      .my-ofriends-history-item {
        width: 100%;
        min-height: 120px;
        border-bottom: 1px solid $COLOR_DDDDDD;
        @include setMyOfriendsItem(2, 2);
      }
    }
    .no-contents-entity-container {
      margin-top: 75px;
      .no-contents-icon-con {
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-none-available {
          display: block;
          @include setBackgroundImage('nocontent.png', 52px, 52px);
        }
      }
      .no-contents-text-con {
        margin-top: 25px;
        .no-contents-text {
          display: flex;
          justify-content: center;
          align-items: center;
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
        }
      }
    }
    @include setPagination(20px, 50px);
  }
  // 16. 내 오프렌즈 - 신청내역(모바일) 끝
}
