@import "./variable.scss";
// 데스크톱 전용

// /my/ofriends/review/edit/:number-n-n-n

@media #{$desktop} {
  // 19. 내 오프렌즈 - 후기 - 쓰기 / 수정(데스크톱)
  .my-ofriends-review-edit-entity-container {
    max-width: 990px;
    padding: 0 30px;
    margin: 0 auto;
    @include setUserInfo(1);
    @include setProfileTab(1);
    @include setProfileOfriendsTab();
    .my-ofriends-review-edit-title {
      margin: 60px 19px 0 21px;
      padding-top: 21px;
      border-top: 1px solid $COLOR_212121;
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
    }
    @include setMyOfriendsReviewWirteOrModify(1);
    @include setMyOfriendsReviewRead(1);
  }
  // 19. 내 오프렌즈 - 후기 - 쓰기 / 수정 끝(데스크톱)
}
// 모바일 전용
@media #{$mobile} {
  // 19. 내 오프렌즈 - 후기 - 쓰기 / 수정(모바일)
  .my-ofriends-review-edit-entity-container {
    @include setUserInfo(2);
    @include setProfileTab(2);
    @include setProfileOfriendsTab(32px, 2);
    padding-bottom: 90px;
    .my-ofriends-review-edit-title {
      display: none;
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
    }
    @include setMyOfriendsReviewWirteOrModify(2);
    @include setMyOfriendsReviewRead(2);
  }
  // 19. 내 오프렌즈 - 후기 - 쓰기 / 수정 끝
}
