@import "./variable.scss";
// 데스크톱 전용
@media #{$desktop} {
  // 13. 내 프로필 시작(데스크톱)
  .my-profile-entity-container {
    @include setUserInfo(1);
    @include setProfileTab(1);
    max-width: 990px;
    padding: 0 30px;
    margin: 0 auto;
    //min-width: 600px;
    .profile-body-entity-container {
      display: flex;
      padding-left: 20px;
      padding-top: 70px;
      padding-bottom: 150px;
      .profile-body-my-profile-con {
        display: flex;
        flex-direction: column;
        .profile-body-nickname-entity {
          display: flex;
          max-height: 36px;
          height: 36px;
          .profile-body-nickname-modify-container {
            display: flex;
            justify-content: center;
            align-items: center;
            .profile-body-nickname-con {
              width: 120px;
              height: 100%;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }
            .profile-body-inputview-con {
              padding-left: 10px;
              height: 100%;
              display: flex;
              align-items: center;
              ul {
                height: 100%;
                margin-bottom: 0 !important;
                display: flex;
                align-items: center;
                flex-direction: row;
                .profile-body-input-nickname-con {
                  height: 100%;
                  width: 180px;
                  display: flex;
                  align-items: center;
                  border: 1px solid $COLOR_DDDDDD;
                  span {
                    width: 100%;
                    padding: 9px 10px;
                    @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 12px);
                  }
                }
                .profile-body-input-nickname-modify-con {
                  width: 90px;
                  height: 100%;
                  margin-left: 10px;
                  background-color: $COLOR_FF6600;
                  border-radius: 18px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  span {
                    width: inherit;
                    height: inherit;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 12px);
                    @include setCursorPointer();
                    @include setUserSelectNone();
                  }
                }
                .profile-body-input-nickname-change-con {
                  height: 100%;
                  width: 180px;
                  display: flex;
                  align-items: center;
                  input {
                    width: 100%;
                    padding: 9px 10px;
                    border: 1px solid $COLOR_666666;
                    @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
                  }
                }
                .profile-body-input-nickname-modify-change-con {
                  width: 90px;
                  height: 100%;
                  margin-left: 10px;
                  background-color: $COLOR_83786F;
                  border-radius: 18px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  span {
                    width: inherit;
                    height: inherit;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 12px);
                    @include setCursorPointer();
                  }
                }
              }
            }
          }
        }


        .profile-body-active-enroll-entity {
          margin-top: 45px;
          display: flex;
          max-height: 36px;
          height: 36px;
          position: relative;
          .profile-body-active-container {
            display: flex;
            justify-content: center;
            align-items: center;
            .profile-body-active-customer-con {
              width: 120px;
              height: 100%;
              display: flex;
              align-items: center;
              position: relative;
              .profile-body-active-customer-title {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
              }
              .profile-body-superfriends-info {
                margin-left: 5px;
                @include setCursorPointer();
                @include setBackgroundImage('07_myofriends_superfriends_info.png', 14px, 14px);
              }
            }
            .profile-body-button-con {
              margin-left: 10px;
              height: 100%;
              width: 90px;
              display: flex;
              align-items: center;
              .active {
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                .activated-user {
                  width: 100%;
                  height: 100%;
                  border: 1px solid $COLOR_B1B1B1;
                  border-radius: 18px;
                  justify-content: center;
                  align-items: center;
                  display: flex;
                  @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
                  @include setCursorDefault();
                  @include setUserSelectNone();
                }
              }
              .not-active {
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background-color: $COLOR_FF6600;
                border-radius: 18px;
                .non-activated-user {
                  width: 100%;
                  height: 100%;
                  justify-content: center;
                  align-items: center;
                  display: flex;
                  @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 12px);
                  @include setCursorPointer();
                  @include setUserSelectNone();
                }
              }
            }
          }
          .profile-body-superfriends-info-con {
            display: flex;
            position: absolute;
            left: 70px;
            top: 35px;
            flex-direction: column;
            max-width: 236px;
            //min-height: 110px;
            background-color: $COLOR_FFF8F4;
            border-radius: 5px;
            padding: 18px 13px 14px;
            box-shadow: 0 1px 7px rgba(0, 0, 0, 0.16);
            .superfriends-info-title {
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 10px);
            }
            .superfriends-info-desc {
              margin-top: 10px;
              line-height: 16px;
              word-break: break-all;
              white-space: pre-wrap;
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 9px);
            }
          }
        }


        .profile-body-activated-member {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          .profile-body-name-con {
            margin-top: 45px;
            display: flex;
            max-height: 36px;
            height: 36px;
            .profile-body-name-title {
              width: 120px;
              height: 100%;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }
            .profile-body-name {
              margin-left: 10px;
              height: 100%;
              width: 220px;
              max-width: 220px;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
              }
            }
          }

          .profile-body-birthday-con {
            margin-top: 45px;
            display: flex;
            max-height: 36px;
            height: 36px;
            .profile-body-name-birthday-title {
              width: 120px;
              height: 100%;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }
            .profile-body-name-birthday {
              margin-left: 10px;
              height: 100%;
              width: 220px;
              max-width: 220px;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
              }
            }
          }

          .profile-body-gender-con {
            margin-top: 45px;
            display: flex;
            max-height: 36px;
            height: 36px;
            .profile-body-gender-title {
              width: 120px;
              height: 100%;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }
            .profile-body-gender {
              margin-left: 10px;
              height: 100%;
              width: 220px;
              max-width: 220px;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
              }
            }
          }

          .profile-body-phone-con {
            margin-top: 45px;
            display: flex;
            max-height: 36px;
            height: 36px;
            .profile-body-phone-title {
              width: 120px;
              height: 100%;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }
            .profile-body-phone {
              margin-left: 10px;
              height: 100%;
              width: 220px;
              max-width: 220px;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
              }
              ul {
                display: flex;
                height: 100%;
                flex-direction: row;
                align-items: center;
                margin: 0 !important;
                .profile-body-phone-cellNum {
                  display: inherit;
                  align-items: center;
                  height: 100%;
                  span {
                    display: inherit;
                    height: 100%;
                    align-items: inherit;
                    @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
                  }
                }
                .profile-body-phone-auth {
                  display: inherit;
                  align-items: inherit;
                  height: 100%;
                  max-width: 90px;
                  margin-left: 10px;
                  &:first-child {
                    margin-left: 0;
                  }
                  span {
                    width: 100px;
                    height: 100%;
                    display: inherit;
                    align-items: inherit;
                    justify-content: center;
                    background-color: $COLOR_FFFFFF;
                    border: 1px solid $COLOR_B1B1B1;
                    border-radius: 18px;
                    @include setCursorDefault();
                    @include setUserSelectNone();
                    @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
                  }
                }
              }
            }
          }
        }


        .profile-body-email-entity {
          margin-top: 45px;
          display: flex;
          max-height: 36px;
          height: 36px;
          .profile-body-email-con {
            display: flex;
            justify-content: center;
            align-items: center;

            .profile-body-email-title {
              width: 120px;
              height: 100%;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }

            .profile-body-email {
              margin-left: 10px;
              height: 100%;
              width: 90px;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
              }
            }
          }
        }



        .profile-body-password-entity {
          margin-top: 45px;
          display: flex;
          max-height: 36px;
          height: 36px;
          .profile-body-password-con {
            display: flex;
            justify-content: center;
            align-items: center;
            .profile-body-password-change-con {
              width: 120px;
              height: 100%;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }
            .profile-body-password-change-box-con {
              margin-left: 10px;
              height: 100%;
              background-color: $COLOR_FF6600;
              border-radius: 18px;
              width: 90px;
              display: flex;
              justify-content: center;
              align-items: center;
              span {
                width: inherit;
                height: inherit;
                justify-content: center;
                align-items: center;
                display: flex;
                @include setCursorPointer();
                @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 12px);
                @include setUserSelectNone();
              }
            }
          }
        }
        .profile-body-recomcode-entity {
          margin-top: 45px;
          display: flex;
          max-height: 36px;
          height: 36px;
          .profile-body-recomcode-con {
            display: flex;
            justify-content: center;
            align-items: center;
            .profile-body-recomcode-title-con {
              width: 120px;
              height: 100%;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }

            .profile-body-recomcode-input-entity-con {
              height: 100%;
              display: flex;
              margin-left: 10px;
              .profile-body-recomcode-input-con {
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: row;
                margin-bottom: 0 !important;
                .profile-body-recomcode-input-text {
                  width: 180px;
                  border: 1px solid $COLOR_DDDDDD;
                  display: flex;
                  align-items: center;
                  padding: 9px 10px;
                  height: inherit;
                  span {
                    @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 12px);
                  }
                }
                .profile-body-recomcode-input-button {
                  margin-left: 10px;
                  height: 100%;
                  background-color: $COLOR_FF6600;
                  border-radius: 18px;
                  width: 90px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  span {
                    width: inherit;
                    height: inherit;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 12px);
                    @include setUserSelectNone();
                    @include setCursorPointer();
                  }
                }

              }
              .profile-body-recomcode-save-con {
                margin-bottom: 0 !important;
                height: inherit;
                display: flex;
                flex-direction: row;
                .profile-body-recomcode-save-input-con {
                  height: inherit;
                  .profile-body-recomcode-save-input-text {
                    width: 180px;
                    height: inherit;
                    padding: 9px 10px;
                    border-radius: 3px;
                    border: 1px solid $COLOR_666666;
                    @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
                  }
                }
                .profile-body-recomcode-input-save-btn-con {
                  margin-left: 10px;
                  height: inherit;
                  width: 90px;
                  .profile-body-recomcode-save-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 90px;
                    height: inherit;
                    background-color: $COLOR_83786F;
                    border-radius: 18px;
                    @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 12px);
                    @include setUserSelectNone();
                    @include setCursorPointer();
                  }
                }
              }

              .profile-body-recomcode-delete-con {
                height: inherit;
                display: flex;
                align-items: center;
                margin-bottom: 0 !important;
                .profile-body-recomcode-delete-text-con {
                  display: flex;
                  height: inherit;
                  width: 180px;
                  span {
                    @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 12px);
                  }
                  .profile-body-recomcode-delete-text {
                    height: inherit;
                    width: 180px;
                    border: 1px solid $COLOR_DDDDDD;
                    display: flex;
                    align-items: center;
                    padding: 9px 10px;
                  }
                }

                .profile-body-recomcode-delete-btn-con {
                  margin-left: 10px;
                  height: inherit;
                  width: 90px;
                  .profile-body-recomcode-delete-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 90px;
                    height: inherit;
                    background-color: $COLOR_FF6600;
                    border-radius: 18px;
                    @include setCursorPointer();
                    @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 12px);
                    @include setUserSelectNone();
                  }
                }
              }
            }
          }
        }
        .profile-body-quit-entity {
          display: flex;
          align-items: center;
          margin-top: 45px;
          height: 36px;
          .profile-body-quit-con {
            display: flex;

            .profile-body-quit-title {
              min-width: 120px;
              @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
            }
            .profile-body-quit-btn {
              margin-left: 10px;
              text-decoration: underline !important;
              @include setCursorPointer();
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
            }
          }
        }
        @include setTwoBtnModal()
      }
      @include setOneBtnModal(1);
    }
    .pw-change-modal-entity-container {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: $COLOR_212121_OP_46;
      z-index: 500;
      .pw-change-modal-container {
        position: absolute;
        height: 452px;
        width: 460px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 170px;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $COLOR_FFFFFF;
        border-radius: 8px;
        padding: 30px 37px 50px;
        .pw-change-title-con {
          display: flex;
          justify-content: center;
          align-items: center;
          div {
            display: flex;
            width: 120px;
            span {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
            }
          }
          .pw-change-popup-x {
            position: absolute;
            right: 24px;
            @include setCursorPointer();
            @include setBackgroundImage('popup_x.png', 10px, 10px);
          }
        }
        .pw-change-input-con {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 50px;
          .pw-change-prev-password-con {
            display: flex;
            position: relative;
            margin-bottom: 50px;
            width: 100%;
            .pw-change-prev-password {
              width: 100%;
              height: 30px;
              max-height: 80px;
              border: none;
              border-bottom: 1px solid $COLOR_DDDDDD;
              max-lines: 2;
              padding-right: 30px;
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 14px);
              @include ieRemovePwReveal();
              @include setValidInvalidBorder(14px);
            }
            .pw-change-pw-prev-remove-btn {
              display: block;
              position: absolute;
              bottom: 0;
              top: 0;
              margin-top: auto;
              margin-bottom: auto;
              right: 10px;
              @include setBackgroundImage('07_myofriends_review_photo_delete.png', 15px, 15px);
            }
          }

          .pw-change-now-password-con {
            display: flex;
            position: relative;
            margin-bottom: 50px;
            width: 100%;
            .pw-change-now-password {
              width: 100%;
              height: 30px;
              max-height: 80px;
              border: none;
              border-bottom: 1px solid $COLOR_DDDDDD;
              max-lines: 2;
              padding-right: 30px;
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 14px);
              @include ieRemovePwReveal();
              @include setValidInvalidBorder(14px);
            }
            .pw-change-pw-now-remove-btn {
              display: block;
              position: absolute;
              right: 10px;
              bottom: 0;
              top: 0;
              margin-top: auto;
              margin-bottom: auto;
              @include setBackgroundImage('07_myofriends_review_photo_delete.png', 15px, 15px);
            }
            .pw-change-pw-now-err-msg {
              position: absolute;
              top: 40px;
              left: 0;
              @include setFont($COLOR_FF0C0C, $FONT_WEIGHT_REGULAR, 12px);
            }
          }
          .pw-change-repeat-password-con {
            display: flex;
            position: relative;
            width: 100%;
            .pw-change-repeat-password {
              width: 100%;
              height: 30px;
              max-height: 80px;
              border: none;
              border-bottom: 1px solid $COLOR_DDDDDD;
              max-lines: 2;
              padding-right: 30px;
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 14px);
              @include ieRemovePwReveal();
              @include setValidInvalidBorder(14px);
            }
            .pw-change-pw-repeat-remove-btn {
              display: block;
              position: absolute;
              top: 0;
              bottom: 0;
              margin-top: auto;
              margin-bottom: auto;
              right: 10px;
              @include setBackgroundImage('07_myofriends_review_photo_delete.png', 15px, 15px);
            }
            .pw-change-pw-repeat-err-msg {
              position: absolute;
              top: 40px;
              left: 0;
              @include setFont($COLOR_FF0C0C, $FONT_WEIGHT_REGULAR, 12px);
            }
          }
        }
        .pw-change-button-con {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 70px;
          .pw-change-button-active {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 286px;
            height: 44px;
            background-color: $COLOR_FF6600;
            border-radius: 22px;
            @include setCursorPointer();
            @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
          }
          .pw-change-button-inactive {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 286px;
            height: 44px;
            background-color: $COLOR_DDDDDD;
            border-radius: 22px;
            @include setUserSelectNone();
            @include setPointerEventsNone();
            @include setCursorDefault();
            @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
          }
        }
      }
      .pw-change-notice-msg {
        @include serverErrorMsg(1)
      }
    }
    // 추천인 코드 지우는 모달
    @include setTwoBtnModal();
  }
  // 13. 내 프로필(데스크톱) 끝
}
// 모바일 전용
@media #{$mobile} {
  // 13. 내 프로필(모바일)
  .my-profile-entity-container {
    padding-top: 40px;
    @include setUserInfo(2);
    @include setProfileTab(2);
    .profile-body-entity-container {
      display: flex;
      padding: 23px 20px 0;
      .profile-body-my-profile-con {
        display: flex;
        flex-direction: column;
        width: 100%;
        .profile-body-nickname-entity {
          display: flex;
          max-height: 24px;
          height: 24px;
          .profile-body-nickname-modify-container {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .profile-body-nickname-con {
              min-width: 34px;
              height: 100%;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }
            .profile-body-inputview-con {
              margin-left: auto;
              height: 100%;
              display: flex;
              align-items: center;
              ul {
                height: 100%;
                margin-bottom: 0 !important;
                display: flex;
                align-items: center;
                flex-direction: row;
                .profile-body-input-nickname-con {
                  height: 100%;
                  width: 136px;
                  display: flex;
                  align-items: center;
                  border: 1px solid $COLOR_DDDDDD;
                  span {
                    width: 100%;
                    padding: 5px 8px;
                    @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
                  }
                }
                .profile-body-input-nickname-modify-con {
                  width: 76px;
                  height: 100%;
                  margin-left: 10px;
                  background-color: $COLOR_FF6600;
                  border-radius: 18px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  span {
                    width: inherit;
                    height: inherit;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 11px);
                    @include setCursorPointer();
                    @include setUserSelectNone();
                  }
                }
                .profile-body-input-nickname-change-con {
                  height: 100%;
                  width: 136px;
                  display: flex;
                  align-items: center;
                  input {
                    width: 100%;
                    padding: 5px 8px;
                    border: 1px solid $COLOR_666666;
                    @include setMobileSafariInputBox();
                    @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
                  }
                }
                .profile-body-input-nickname-modify-change-con {
                  width: 76px;
                  height: 100%;
                  margin-left: 10px;
                  background-color: $COLOR_83786F;
                  border-radius: 12px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  span {
                    width: inherit;
                    height: inherit;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 11px);
                    @include setCursorPointer();
                  }
                }
              }
            }
          }
        }
        .profile-body-active-enroll-entity {
          position: relative;
          margin-top: 20px;
          display: flex;
          max-height: 24px;
          height: 24px;
          .profile-body-active-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .profile-body-active-customer-con {
              min-width: 40px;
              height: 100%;
              display: flex;
              align-items: center;
              .profile-body-active-customer-title {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
              }
              .profile-body-superfriends-info {
                margin-left: 5px;
                @include setCursorPointer();
                @include setBackgroundImage('07_myofriends_superfriends_info.png', 12px, 12px);
              }
            }
            .profile-body-button-con {
              margin-left: auto;
              height: 100%;
              width: 76px;
              display: flex;
              align-items: center;
              .active {
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 76px;
                height: 100%;
                .activated-user {
                  width: 100%;
                  height: 100%;
                  border: 1px solid $COLOR_B1B1B1;
                  border-radius: 12px;
                  justify-content: center;
                  align-items: center;
                  display: flex;
                  @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 11px);
                  @include setCursorDefault();
                  @include setUserSelectNone();
                }
              }
              .not-active {
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background-color: $COLOR_FF6600;
                border-radius: 18px;
                .non-activated-user {
                  width: inherit;
                  height: inherit;
                  justify-content: center;
                  align-items: center;
                  display: flex;
                  @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 11px);
                  @include setUserSelectNone();
                  @include setCursorPointer();
                }
              }
            }
          }
          .profile-body-superfriends-info-con {
            display: flex;
            position: absolute;
            left: 0;
            top: 30px;
            flex-direction: column;
            max-width: 236px;
            //min-height: 110px;
            background-color: $COLOR_FFF8F4;
            border-radius: 5px;
            padding: 18px 13px 14px;
            box-shadow: 0 1px 7px rgba(0, 0, 0, 0.16);
            .superfriends-info-title {
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 10px);
            }
            .superfriends-info-desc {
              margin-top: 10px;
              line-height: 16px;
              word-break: break-all;
              white-space: pre-wrap;
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 8px);
            }
          }
        }
        .profile-body-activated-member {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          .profile-body-name-con {
            margin-top: 20px;
            display: flex;
            max-height: 24px;
            height: 24px;
            justify-content: space-between;
            .profile-body-name-title {
              width: 72px;
              height: 100%;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }
            .profile-body-name {
              margin-left: 10px;
              height: 100%;
              width: 220px;
              max-width: 220px;
              display: flex;
              align-items: center;
              span {
                width: 100%;
                text-align: right;
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
              }
            }
          }

          .profile-body-birthday-con {
            margin-top: 20px;
            display: flex;
            max-height: 24px;
            height: 24px;
            justify-content: space-between;
            .profile-body-name-birthday-title {
              width: 72px;
              height: 100%;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }
            .profile-body-name-birthday {
              margin-left: 10px;
              height: 100%;
              width: 220px;
              max-width: 220px;
              display: flex;
              align-items: center;
              span {
                width: 100%;
                text-align: right;
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
              }
            }
          }

          .profile-body-gender-con {
            margin-top: 20px;
            display: flex;
            max-height: 24px;
            height: 24px;
            justify-content: space-between;
            .profile-body-gender-title {
              width: 72px;
              height: 100%;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }
            .profile-body-gender {
              margin-left: 10px;
              height: 100%;
              width: 220px;
              max-width: 220px;
              display: flex;
              align-items: center;
              span {
                width: 100%;
                text-align: right;
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
              }
            }
          }

          .profile-body-phone-con {
            margin-top: 20px;
            display: flex;
            max-height: 24px;
            height: 24px;
            justify-content: space-between;
            .profile-body-phone-title {
              width: 72px;
              height: 100%;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }
            .profile-body-phone {
              margin-left: 10px;
              height: 100%;
              display: flex;
              align-items: center;
              //width: 220px;
              //max-width: 220px;
              span {
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
              }
              ul {
                display: flex;
                height: 100%;
                flex-direction: row;
                align-items: center;
                margin: 0 !important;
                .profile-body-phone-cellNum {
                  display: inherit;
                  align-items: center;
                  height: 100%;
                  span {
                    display: inherit;
                    height: 100%;
                    align-items: inherit;
                    @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
                  }
                }
                .profile-body-phone-auth {
                  display: inherit;
                  align-items: inherit;
                  min-width: 76px;
                  height: 100%;
                  margin-left: 10px;
                  span {
                    width: 100%;
                    height: 100%;
                    display: inherit;
                    align-items: inherit;
                    justify-content: center;
                    background-color: $COLOR_FFFFFF;
                    border: 1px solid $COLOR_B1B1B1;
                    border-radius: 12px;
                    @include setCursorDefault();
                    @include setUserSelectNone();
                    @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
                  }
                }
              }
            }
          }
        }
        .profile-body-email-entity {
          margin-top: 20px;
          display: flex;
          max-height: 24px;
          height: 24px;
          .profile-body-email-con {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            .profile-body-email-title {
              width: 72px;
              height: 100%;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }

            .profile-body-email {
              margin-left: 10px;
              height: 100%;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
              }
            }
          }
        }
        .profile-body-password-entity {
          margin-top: 20px;
          display: flex;
          max-height: 24px;
          height: 24px;
          .profile-body-password-con {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .profile-body-password-change-con {
              width: 72px;
              height: 100%;
              display: flex;
              align-items: center;
              span {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }
            .profile-body-password-change-box-con {
              margin-left: 10px;
              height: 100%;
              background-color: $COLOR_FF6600;
              border-radius: 12px;
              width: 76px;
              display: flex;
              justify-content: center;
              align-items: center;
              span {
                width: inherit;
                height: inherit;
                justify-content: center;
                align-items: center;
                display: flex;
                @include setCursorPointer();
                @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 11px);
                @include setUserSelectNone();
              }
            }
          }
        }
        .profile-body-recomcode-entity {
          margin-top: 20px;
          display: flex;
          max-height: 24px;
          height: 24px;
          .profile-body-recomcode-con {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .profile-body-recomcode-title-con {
              min-width: 60px;
              height: 100%;
              display: flex;
              margin-right: 10px;
              align-items: center;
              span {
                white-space: nowrap;
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }

            .profile-body-recomcode-input-entity-con {
              height: 100%;
              width: 100%;
              display: flex;
              margin-left: auto;
              .profile-body-recomcode-input-con {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: row;
                margin-bottom: 0 !important;
                .profile-body-recomcode-input-text {
                  width: 100%;
                  max-width: 136px;
                  border: 1px solid $COLOR_DDDDDD;
                  display: flex;
                  align-items: center;
                  padding: 5px 8px;
                  height: inherit;
                  span {
                    @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 10px);
                  }
                }
                .profile-body-recomcode-input-button {
                  margin-left: 10px;
                  height: 100%;
                  background-color: $COLOR_FF6600;
                  border-radius: 12px;
                  width: 76px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  span {
                    width: inherit;
                    height: inherit;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 11px);
                    @include setUserSelectNone();
                    @include setCursorPointer();
                  }
                }

              }
              .profile-body-recomcode-save-con {
                margin-bottom: 0 !important;
                width: 100%;
                height: inherit;
                display: flex;
                justify-content: flex-end;
                flex-direction: row;
                .profile-body-recomcode-save-input-con {
                  display: flex;
                  width: 100%;
                  max-width: 136px;
                  height: inherit;
                  .profile-body-recomcode-save-input-text {
                    width: 100%;
                    max-width: 136px;
                    height: inherit;
                    padding: 5px 8px;
                    border-radius: 3px;
                    border: 1px solid $COLOR_666666;
                    @include setMobileSafariInputBox();
                    @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
                  }
                }
                .profile-body-recomcode-input-save-btn-con {
                  margin-left: 10px;
                  height: inherit;
                  width: 76px;
                  .profile-body-recomcode-save-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 76px;
                    height: inherit;
                    background-color: $COLOR_83786F;
                    border-radius: 12px;
                    @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 11px);
                    @include setUserSelectNone();
                    @include setCursorPointer();
                  }
                }
              }

              .profile-body-recomcode-delete-con {
                width: 100%;
                height: inherit;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 0 !important;
                .profile-body-recomcode-delete-text-con {
                  width: 100%;
                  max-width: 136px;
                  display: flex;
                  height: inherit;
                  span {
                    @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 10px);
                  }
                  .profile-body-recomcode-delete-text {
                    height: inherit;
                    width: 100%;
                    max-width: 136px;
                    border: 1px solid $COLOR_DDDDDD;
                    display: flex;
                    align-items: center;
                    padding: 5px 8px;
                  }
                }

                .profile-body-recomcode-delete-btn-con {
                  margin-left: 10px;
                  height: inherit;
                  width: 76px;
                  .profile-body-recomcode-delete-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 76px;
                    height: inherit;
                    background-color: $COLOR_FF6600;
                    border-radius: 12px;
                    @include setCursorPointer();
                    @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 11px);
                    @include setUserSelectNone();
                  }
                }
              }
            }
          }
        }
        .profile-body-quit-entity {
          margin-top: 20px;
          .profile-body-quit-con {
            display: flex;
            justify-content: space-between;
            .profile-body-quit-title {
              min-width: 120px;
              @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
            }
            .profile-body-quit-btn {
              text-decoration: underline !important;
              @include setCursorPointer();
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 10px);
            }
          }
        }
      }
      @include setOneBtnModal(2);
    }
    .pw-change-modal-entity-container {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: $COLOR_212121_OP_46;
      z-index: 500;
      .pw-change-modal-container {
        min-width: 320px;
        display: flex;
        position: absolute;
        top: 0;
        left: 25px;
        right: 25px;
        bottom: 170px;
        height: 320px;
        width: auto;
        margin: auto;
        flex-direction: column;
        align-items: center;
        background-color: $COLOR_FFFFFF;
        border-radius: 8px;
        padding: 29px 25px 30px;
        .pw-change-title-con {
          display: flex;
          justify-content: center;
          align-items: center;
          div {
            display: flex;
            width: 120px;
            span {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 18px;
              width: 100%;
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 12px);
            }
          }
          .pw-change-popup-x {
            position: absolute;
            right: 24px;
            @include setCursorPointer();
            @include setBackgroundImage('popup_x.png', 10px, 10px);
          }
        }
        .pw-change-input-con {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          width: 100%;
          .pw-change-prev-password-con {
            display: flex;
            position: relative;
            height: 26px;
            margin-bottom: 32px;
            width: 100%;
            .pw-change-prev-password {
              height: 26px;
              width: 100%;
              max-height: 80px;
              border: none;
              border-bottom: 1px solid $COLOR_DDDDDD;
              max-lines: 2;
              padding-right: 30px;
              @include setMobileSafariInputBox();
              @include ieRemovePwReveal();
              @include setValidInvalidBorder(12px);
            }
            .pw-change-pw-prev-remove-btn {
              display: block;
              position: absolute;
              bottom: 0;
              top: 0;
              margin-top: auto;
              margin-bottom: auto;
              right: 5px;
              @include setBackgroundImage('07_myofriends_review_photo_delete.png', 15px, 15px);
            }
          }
          .pw-change-now-password-con {
            display: flex;
            position: relative;
            margin-bottom: 32px;
            height: 26px;
            width: 100%;
            .pw-change-now-password {
              width: 100%;
              height: 26px;
              max-height: 80px;
              border: none;
              border-bottom: 1px solid $COLOR_DDDDDD;
              max-lines: 2;
              padding-right: 30px;
              @include setMobileSafariInputBox();
              @include ieRemovePwReveal();
              @include setValidInvalidBorder(12px);
            }
            .pw-change-pw-now-remove-btn {
              display: block;
              position: absolute;
              right: 5px;
              bottom: 0;
              top: 0;
              margin-top: auto;
              margin-bottom: auto;
              @include setBackgroundImage('07_myofriends_review_photo_delete.png', 15px, 15px);
            }
            .pw-change-pw-now-err-msg {
              position: absolute;
              top: 35px;
              left: 0;
              @include setFont($COLOR_FF0C0C, $FONT_WEIGHT_REGULAR, 10px);
            }
          }
          .pw-change-repeat-password-con {
            display: flex;
            position: relative;
            margin-bottom: 47px;
            height: 26px;
            width: 100%;
            .pw-change-repeat-password {
              width: 100%;
              height: 26px;
              max-height: 80px;
              border: none;
              border-bottom: 1px solid $COLOR_DDDDDD;
              max-lines: 2;
              padding-right: 30px;
              @include setMobileSafariInputBox();
              @include ieRemovePwReveal();
              @include setValidInvalidBorder(12px);
            }
            .pw-change-pw-repeat-remove-btn {
              display: block;
              position: absolute;
              top: 0;
              bottom: 0;
              margin-top: auto;
              margin-bottom: auto;
              right: 5px;
              @include setBackgroundImage('07_myofriends_review_photo_delete.png', 15px, 15px);
            }
            .pw-change-pw-repeat-err-msg {
              position: absolute;
              top: 40px;
              left: 0;
              @include setFont($COLOR_FF0C0C, $FONT_WEIGHT_REGULAR, 10px);
            }
          }
        }
        .pw-change-button-con {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 224px;
          min-height: 32px;
          width: 100%;
          height: 32px;
          padding: 0 18px;
          .pw-change-button-active {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 32px;
            background-color: $COLOR_FF6600;
            border-radius: 22px;
            @include setCursorPointer();
            @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 10px);
          }
          .pw-change-button-inactive {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 32px;
            background-color: $COLOR_DDDDDD;
            border-radius: 22px;
            @include setPointerEventsNone();
            @include setCursorDefault();
          }
        }
      }
      .pw-change-notice-msg {
        @include serverErrorMsg(2);
      }
    }
    // 비밀번호 바꾸는 투버튼 모달(모바일)
    @include setTwoBtnModal();
  }
  // 13. 내 프로필(모바일)
}
