@import "./variable.scss";
// 데스크톱 전용
@media #{$desktop} {
  // 7. 공지사항 시작(데스크톱)
  .notice-entity-container {
    max-width: 990px;
    padding: 0 30px;
    margin: 0 auto;
    .notice-title {
      padding-top: 60px;
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
    }
    .notice-items-container {
      margin-top: 20px;
      border-top: 2px solid $COLOR_212121;
      .notice-item {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $COLOR_DDDDDD;
        .notice-title-container {
          display: flex;
          min-height: 60px;
          justify-content: space-between;
          align-items: center;
          @include setCursorPointer();
          .notice-item-icon-title-con {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 0 !important;
            li {
              width: 100%;
              padding: 23px 0;
              .notice-item-title-open {
                @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);
              }
              .notice-item-title-closed {
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
              }
            }
          }
          .notice-item-date-arrow-con {
            display: flex;
            justify-content: flex-end;
            margin-right: 29px;
            min-width: 136px;
            align-items: center;
            margin-bottom: 0 !important;
            .notice-item-date-con {
              min-width: 99px;
              margin-right: 25px;
              .notice-item-date {
                display: flex;
                width: 100%;
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
              }
            }
            .notice-item-arrow-con {
              .content-open {
                display: block;
                //margin-right: 20px;
                @include setBackgroundImage('02_faq_close.png', 12px, 6px);
              }
              .content-closed {
                display: block;
                //margin-right: 20px;
                @include setBackgroundImage('02_faq_open.png', 12px, 6px);
              }
            }
          }
        }
        .notice-item-content-con {
          background-color: $COLOR_FFF8F4;
          padding: 30px 20px;
          .notice-item-content {
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
          }
        }
      }
    }
    @include setPagination(70px, 150px);
  }
  // 7. 공지사항 끝(데스크톱)
}
// 모바일 전용
@media #{$mobile} {
  // 7. 공지사항 시작(모바일)
  .notice-entity-container {
    padding: 40px 20px 0;
    .notice-title {
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
    }
    .notice-items-container {
      margin-top: 20px;
      margin-bottom: 40px;
      .notice-item {
        display: flex;
        flex-direction: column;
        .notice-title-container {
          display: flex;
          padding: 16px 0;
          min-height: 60px;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid $COLOR_DDDDDD;
          @include setCursorPointer();
          .notice-item-icon-title-con {
            display: flex;
            align-items: center;
            margin-bottom: 0 !important;
            justify-content: flex-start;
            li {
              .notice-item-title-open {
                @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);
              }
              .notice-item-title-closed {
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
              }
            }
          }
          .notice-item-date-arrow-con {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 0 !important;
            min-width: 90px;
            li {
              .notice-item-date {
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
              }
            }
          }
        }
        .notice-item-content-con {
          background-color: $COLOR_FFF8F4;
          padding: 10px;
          .notice-item-content {
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
          }
        }
      }
    }
    @include setPagination(20px, 30px);
  }
  // 7. 공지사항(모바일) 끝
}
