@import "variable";
// 데스크톱 전용
@media #{$desktop} {
  // 12. 아이템 결제 페이지 미리보기, 완료 시작(데스크톱)
  .payment-entity-container {
    max-width: 990px;
    padding: 60px 30px;
    margin: 0 auto;
    position: relative;
    min-width: 490px;
    // 아이템 결제 미리보기 부분
    .active-user-entity-container {
      .active-user-register-title {
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
      }
      .active-user-warning-register-container {
        display: flex;
        margin-top: 22px;
        margin-bottom: 60px;
        padding: 22px 20px;
        border-top: 2px solid $COLOR_212121;
        background-color: $COLOR_FFF8F4;
        justify-content: space-between;
        min-width: 510px;
        .active-user-warning-message {
          display: flex;
          justify-content: center;
          align-items: center;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);
          font {
            @include setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 14px);
          }
        }
        .active-user-register-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 90px;
          height: 36px;
          background-color: $COLOR_212121;
          border-radius: 18px;
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 12px);
          @include setCursorPointer();
        }
      }
    }
    .payment-info-entity-container {
      .payment-info-item-information-container {
        .payment-info-title {
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
        }
        .payment-info-selected-ofriends-arrow-con {
          margin-top: 22px;
          border-top: 2px solid $COLOR_212121;
          display: flex;
          flex-direction: row;
          padding: 25px 20px 25px 20px;
          justify-content: space-between;
          .payment-info-selected-title {
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
          }
          .arrow-down {
            display: flex;
            justify-content: center;
            align-self: center;
            @include setBackgroundImage('02_faq_close.png', 14px, 8px);
            @include setCursorPointer();
          }
          .arrow-up {
            display: flex;
            justify-content: center;
            align-self: center;
            @include setBackgroundImage('02_faq_open.png', 14px, 8px);
            @include setCursorPointer();
          }
        }
        .payment-info-item-detail-container {
          padding: 20px;
          border-top: 1px solid $COLOR_D8D8D8;
          display: flex;
          flex-direction: row;
          position: relative;
          .payment-info-image-con {
            border-radius: 8px;
            border: none;
            .payment-info-detail-image {
              max-width: 120px;
              max-height: 86px;
              width: 120px;
              height: 86px;
              border-radius: 8px;
            }
          }
          .payment-info-title-date-option-con {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            .payment-info-detail-title-con {
              display: flex;
              margin-bottom: 10px;
              .payment-info-detail-title {
                display: block;
                height: auto;
                padding-right: 120px;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-break: break-all;
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
              }
            }
            .payment-info-date-option-price-con {
              display: flex;
              flex-direction: row;
              .payment-info-detail-option-con {
                display: flex;
                flex-direction: column;
                .payment-info-detail-date {
                  @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 12px);
                }
                .payment-info-option {
                  margin-top: 5px;
                  width: 35vw;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  word-break: break-all;
                  @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 12px);
                }
              }
              .payment-info-price-con {
                position: absolute;
                right: 20px;
                display: flex;
                justify-content: flex-end;
                //width: 100%;
                .payment-info-price {
                  display: flex;
                  justify-content: right;
                  width: 100%;
                  //align-self: center;
                  @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 16px);
                }
              }
            }
          }
        }
        .payment-info-item-price-con {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px;
          height: 70px;
          border-top: 1px solid $COLOR_D8D8D8;
          .payment-info-item-price-title {
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
          }
          .payment-info-item-price {
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 16px);
          }
        }
        .payment-info-coupon-priceCut-con {
          display: flex;
          flex-direction: row;
          height: 70px;
          padding: 0 20px;
          align-items: center;
          border-top: 1px solid $COLOR_D8D8D8;
          border-bottom: 1px solid $COLOR_D8D8D8;
          position: relative;
          justify-content: left;
          .payment-info-coupon-title {
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
          }
          .payment-info-priceCut {
            //position: absolute;
            //right: 80px;
            display: inline-block;
            position: relative;
            margin-left: auto;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 16px);
            &:after {
              content: "";
              width: 1px;
              height: 18px;
              margin: 0 20px;
              border-right: 1px solid $COLOR_B1B1B1;
            }
          }
          .payment-info-select-coupon {
            //position: absolute;
            //right: 20px;
            display: inline-block;
            position: relative;
            text-decoration: underline !important;
            @include setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 14px);
            @include setCursorPointer();
          }
        }
      }
      .payment-info-price-container {
        background-color: $COLOR_83786F;
        border-radius: 8px;
        margin-top: 50px;
        .payment-info-price-icon-title-priceCut-con {
          position: relative;
          display: flex;
          flex-direction: row;
          padding: 26px 20px 21px 21px;
          align-items: center;
          .payment-info-price-icon {
            display: block;
            @include setBackgroundImage('06_payment_discount.png', 16px, 16px);
          }
          .payment-info-price-title {
            @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
            margin-left: 6px;
          }
          .payment-info-price-priceCut {
            display: inline-block;
            position: relative;
            margin-left: auto;
            @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
          }
        }
        .payment-info-price-finally-price-con {
          display: flex;
          align-items: center;
          position: relative;
          padding: 32px 20px 30px 21px;
          border-top: 1px solid $COLOR_FFFFFF_OP_30;
          .payment-info-price-final-price-title {
            @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 16px);
          }
          .payment-info-finally-price {
            display: inline-block;
            position: relative;
            margin-left: auto;
            @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 22px);
          }
        }
      }
    }
    .payment-method-entity-container {
      margin-top: 60px;
      .payment-method-con {
        .payment-method-title {
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
        }
        .payment-all-method-container {
          margin-top: 22px;
          padding-top: 28px;
          border-top: 2px solid $COLOR_212121;
          display: flex;
          flex-direction: row;
          .payment-method-item {
            width: calc(100% / 4.23);
            height: 50px;
            min-width: 105px;
            max-width: 160px;
            max-height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2vw;
            @include setCursorPointer();
            @media screen and (min-width: 990px) {
              margin-left: 20px;
            }
            &:first-child {
              margin-left: 0;
            }
            .selected {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: inherit;
              background-color: $COLOR_212121;
              @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
            }
            .not-selected {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: inherit;
              border: 1px solid $COLOR_212121;
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);
            }
          }
        }
      }
    }
    .payment-checkTerms-entity-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-top: 79px;
      .checked {
        display: block;
        @include setCursorPointer();
        @include setBackgroundImage('06_payment_check_off.png', 22px, 22px);
      }
      .unchecked {
        display: block;
        @include setCursorPointer();
        @include setBackgroundImage('06_payment_check_on.png', 22px, 22px);
      }

      .payment-terms-text {
        margin-left: 13px;
        @include setCursorPointer();
        @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
      }
    }
    .payment-payment-btn {
      display: flex;
      position: static;
      align-self: flex-end;
      text-align: right;
      margin-top: 40px;
      margin-left: auto;
      width: 320px;
      height: 50px;
      border-radius: 25px;
      justify-content: center;
      align-items: center;
      background-color: $COLOR_FF6600;
      @include setCursorPointer();
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px)
    }
    .coupon-select-entity-container {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 606;
      background-color: $COLOR_212121_OP_46;
      .coupon-select-modal-container {
        background-color: $COLOR_FFFFFF;
        position: absolute;
        width: 550px;
        height: 591px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        padding: 20px 20px 35px 20px;
        border-radius: 8px;
        .coupon-select-coupon-title-con {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          .coupon-select-coupon-title {
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
          }
          .coupon-select-coupon-remove {
            position: absolute;
            right: 4px;
            display: block;
            @include setBackgroundImage('popup_x.png', 10px, 10px);
            @include setCursorPointer();
          }
        }
        .coupon-select-date-option-price-amount-container {
          margin-top: 30px;
          padding: 0 10px;
          .coupon-select-date-option-price-con {
            display: flex;
            position: relative;
            flex-direction: row;
            .coupon-select-date-option-con {
              display: flex;
              flex-direction: column;
              .coupon-select-date {
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
              }
              .coupon-select-option {
                margin-top: 5px;
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
              }
            }
            .coupon-select-price {
              margin-left: auto;
              min-width: 93px;
              text-align: right;
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
            }
          }
          .coupon-select-priceCut-con {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            .coupon-select-priceCut-title {
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);

            }
            .coupon-select-priceCut {
              @include setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 14px);

            }
          }
        }
        .coupon-select-title-noContents-con {
          margin-top: 41px;
          margin-bottom: 116px;
          .coupon-select-coupon-title {
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
          }
          .no-contents-entity-container {
            margin-top: 11px;
            &:before {
              content: "";
              width: 510px;
              height: 1px;
              position: absolute;
              left: 0;
              right: 0;
              margin-left: auto;
              margin-right: auto;
              border-top: 1px solid $COLOR_DDDDDD;
            }
            .no-contents-icon-con {
              padding-top: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              .icon-none-available {
                display: block;
                @include setBackgroundImage('nocontent.png', 100px, 100px);
              }
            }
            .no-contents-text-con {
              margin-top: 25px;
              .no-contents-text {
                display: flex;
                justify-content: center;
                align-items: center;
                @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 18px);
              }
            }
          }
        }
        .coupon-select-coupon-list-container {
          margin-top: 30px;
          .coupon-select-coupon-title {
            padding-left: 10px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
          }
          .coupon-select-coupon-items {
            margin-top: 11px;
            margin-bottom: 0 !important;
            li {
              padding: 0 10px;
              width: 100%;
              height: 70px;
              max-width: 100%;
              max-height: 70px;
              justify-content: center;
              align-items: flex-start;
              display: flex;
              flex-direction: column;
              border-top: 1px solid $COLOR_DDDDDD;
              @include setCursorPointer();
              .coupon-select-coupon-name {
                height: 18px;
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
              }
              .coupon-select-coupon-duedate-title {
                height: 18px;
                margin-top: 5px;
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
              }
            }
            .selected {
              background-color: $COLOR_FFF8F4;
            }
            &:last-child {
              border-bottom: 1px solid $COLOR_DDDDDD;
            }
          }
        }
        @include setPagination(20px, 30px);
        .coupon-select-couponApply {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          width: 320px;
          height: 50px;
          background-color: $COLOR_FF6600;
          border-radius: 25px;
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
          @include setCursorPointer();
        }
      }
    }
    // 아이템 결제 완료 부분(데스크톱)
    .finish-payment-entity-container {
      .finish-payment-container {
        .finish-payment-title {
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
        }

        .finish-payment-selected-ofriends-con {
          margin-top: 22px;
          border-top: 2px solid $COLOR_212121;
          display: flex;
          flex-direction: row;
          padding: 0 20px;
          height: 70px;
          align-items: center;
          justify-content: space-between;
          .finish-payment-selected-ofriends-title {
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
          }

          .arrow-down {
            display: flex;
            justify-content: center;
            align-self: center;
            @include setBackgroundImage('02_faq_close.png', 14px, 8px);
            @include setCursorPointer();
          }

          .arrow-up {
            display: flex;
            justify-content: center;
            align-self: center;
            @include setBackgroundImage('02_faq_open.png', 14px, 8px);
            @include setCursorPointer();
          }
        }

        .finish-payment-image-title-date-option-price-container {
          padding: 20px;
          border-top: 1px solid $COLOR_D8D8D8;
          display: flex;
          flex-direction: row;
          position: relative;
          img {
            max-width: 120px;
            max-height: 86px;
            width: 120px;
            height: 86px;
            border-radius: 8px;
          }

          .finish-payment-title-date-option-con {
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            padding-right: 75px;
            .finish-payment-title {
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
            }

            .finish-payment-date {
              margin-top: 10px;
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 12px);
            }

            .finish-payment-option {
              margin-top: 5px;
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 12px);
            }
          }
          .finish-payment-price {
            position: absolute;
            right: 0;
            align-self: center;
            margin-right: 20px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 16px);
          }
        }

        .finish-payment-final-price-priceCut-method-container {
          display: flex;
          flex-direction: column;
          border-top: 1px solid $COLOR_D8D8D8;
          margin-bottom: 0 !important;
          .finish-payment-final-price-title-con {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;
            padding: 0 20px;
            border-bottom: 1px solid $COLOR_D8D8D8;
            .finish-payment-final-price-title {
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
            }

            .finish-payment-final-price {
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 16px);
            }
          }

          .finish-payment-final-priceCut-con {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            height: 70px;
            border-bottom: 1px solid $COLOR_D8D8D8;
            .finish-payment-final-price-priceCut-title {
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);

            }

            .finish-payment-final-price-priceCut {
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 16px);

            }
          }

          .finish-payment-final-price-payment-con {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            height: 70px;
            border-bottom: 1px solid $COLOR_D8D8D8;
            .finish-payment-final-price-paymentPrice-title {
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);

            }

            .finish-payment-final-price-paymentPrice {
              @include setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 16px);

            }
          }

          .finish-payment-final-price-method-con {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            height: 70px;
            border-bottom: 1px solid $COLOR_D8D8D8;
            .finish-payment-final-price-method-title {
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);

            }

            .finish-payment-final-price-method {
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 16px);

            }
          }
        }
      }
      .finish-payment-confirm-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 70px auto 0;
        width: 320px;
        height: 50px;
        background-color: $COLOR_FF6600;
        border-radius: 25px;
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
      }
    }
    @include setOneBtnModal(1);
    @include setUsePrivacyPopup(1, 0, 0, fixed);
  }
  // 활동 고객 등록 및 약관 이용 팝업(데스크톱)
  .reg-active-entity-container {
    display: block;
    position: fixed;
    background-color: $COLOR_212121_OP_46 !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 801;
    .reg-active-modal-container {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 460px;
      height: 747px;
      background-color: $COLOR_FFFFFF;
      border-radius: 8px;
      .reg-active-modal-wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;
        width: 100%;
        .reg-active-modal-header {
          position: relative;
          display: flex;
          padding: 29px 28px 22px;
          align-items: center;
          justify-content: center;
          .reg-active-modal-title {
            display: flex;
            align-self: center;
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
          }
          .reg-active-modal-close-btn {
            position: absolute;
            display: block;
            top: 6px;
            bottom: 0;
            margin: auto 0;
            right: 28px;
            @include setBackgroundImage('popup_x.png', 10px, 10px);
            @include setCursorPointer();
          }
        }
        .reg-active-event-image {
          display: block;
          @include setBackgroundImage('07_myofriends_profile_marketing_top.png', 100%, 168px);
          background-size: cover!important;
          background-position: center;
        }
        .reg-active-modal-body {
          display: flex;
          flex-direction: column;
          margin-top: 21px;
          .reg-active-modal-identify {
            margin: 0 30px;
            height: 18px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
          }
          .reg-active-modal-phone-id-con {
            width: 400px;
            height: 45px;
            margin: 10px 30px 0;
            border: 1px solid $COLOR_212121;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include setCursorPointer();
            .reg-active-modal-phone-id-icon {
              @include setBackgroundImage('07_myofriends_profile_marketing_phone.png', 8px, 15px);
              margin-right: 10px;
            }
            .reg-active-modal-phone-id-title {
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
            }
          }
          .reg-active-modal-identify-completed {
            width: 400px;
            height: 45px;
            border: 1px solid $COLOR_DDDDDD;
            margin: 10px 30px 0;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 14px);
            @include setUserSelectNone();
          }
          .reg-active-modal-marketing-agreement {
            margin: 18px 30px 0;
            padding-bottom: 10px;
            border-bottom: 2px solid $COLOR_DDDDDD;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
          }
          .reg-active-modal-one-check-btn-con {
            display: flex;
            align-items: center;
            margin: 22px 30px 0;
            padding-left: 10px;
            position: relative;
            @include setCursorPointer();
            .checked {
              display: block;
              @include setBackgroundImage('06_payment_check_on.png', 22px, 22px);
              background-position: center;
            }
            .unchecked {
              display: block;
              @include setBackgroundImage('06_payment_check_off.png', 22px, 22px);
              background-position: center;
            }
            .reg-active-modal-one-check-btn {
              width: 100%;
              margin-left: 13px;
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
              align-self: flex-start;
              text-decoration: underline !important;
            }
            .reg-active-modal-one-check-arrow {
              position: static;
              margin-left: auto;
              margin-right: 22px;
              background-position: center;
              @include setBackgroundImage('07_myofriends_profile_marketing_arrow.png', 14px, 14px);
            }
          }
          .reg-active-modal-two-check-btn-con {
            display: flex;
            align-items: center;
            margin: 24px 30px 0;
            position: relative;
            padding-left: 10px;
            @include setCursorPointer();
            .checked {
              display: block;
              @include setBackgroundImage('06_payment_check_on.png', 22px, 22px);
              background-position: center;
            }
            .unchecked {
              display: block;
              @include setBackgroundImage('06_payment_check_off.png', 22px, 22px);
              background-position: center;
            }
            .reg-active-modal-two-check-btn {
              width: 100%;
              margin-left: 13px;
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
              align-self: flex-start;
              text-decoration: underline !important;
            }
            .reg-active-modal-two-check-arrow {
              position: static;
              margin-left: auto;
              margin-right: 22px;
              background-position: center;
              @include setBackgroundImage('07_myofriends_profile_marketing_arrow.png', 14px, 14px);
            }
          }
          .reg-active-modal-id-period-title {
            margin: 24px 30px 0;
            @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
          }
          .reg-active-modal-id-period-container {
            margin: 0 30px;
            display: flex;
            flex-wrap: wrap;
            div {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 126px;
              height: 34px;
              border-radius: 3px;
              margin-right: 10px;
              margin-top: 10px;
              @include setCursorPointer();
              &:nth-child(3n) {
                margin-right: 0 !important;
              }
            }
            .checked {
              background-color: $COLOR_83786F;
              @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 12px);
              .reg-active-modal-id-period-checkbox {
                @include setBackgroundImage('07_myofriends_profile_marketing_check.png', 8px, 8px);
                margin-right: 2px;
              }
            }
            .unchecked {
              background-color: $COLOR_FFFFFF;
              border: 1px solid $COLOR_DDDDDD;
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 12px);
            }
          }
          .reg-active-modal-contact-method-title {
            margin: 10px 30px 0;
            @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 12px);
          }
          .reg-active-modal-contact-method-container {
            margin: 11px 30px 0;
            display: flex;
            div {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 126px;
              height: 34px;
              border-radius: 3px;
              margin-right: 10px;
              @include setCursorPointer();
              &:nth-child(3n) {
                margin-right: 0 !important;
              }
            }
            .checked {
              background-color: $COLOR_83786F;
              @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 12px);
              .reg-active-modal-id-period-checkbox {
                @include setBackgroundImage('07_myofriends_profile_marketing_check.png', 8px, 8px);
                margin-right: 2px;
              }
            }
            .unchecked {
              background-color: $COLOR_FFFFFF;
              border: 1px solid $COLOR_DDDDDD;
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 12px);
            }
          }
        }
        .not-enabled {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: auto;
          min-height: 64px;
          width: 100%;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          background-color: $COLOR_DDDDDD;
          user-select: none;
          @include setPointerEventsNone();
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 16px);
          @include setCursorDefault();
        }
        .enabled {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: auto;
          min-height: 64px;
          width: 100%;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          background-color: $COLOR_FF6600;
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 16px);
          @include setCursorPointer();
        }
      }
    }
    @include setUsePrivacyPopup(1);
  }

  // 핸드폰 인증(모바일)
  .phone-verify-wrapper-container {
    display: block;
    position: fixed;
    background-color: $COLOR_000000_OP_20 !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 901;
    .phone-verify-modal-container {
      position: absolute;
      display: flex;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      align-items: center;
      justify-content: center;
      background-color: $COLOR_000000_OP_20;
      .phone-verify-entity-container {
        padding: 27px 0 0;
        background-color: $COLOR_FFFFFF;
        width: 460px;
        height: 468px;
        border-radius: 8px;
        .phone-verify-title-con {
          display: flex;
          position: relative;
          justify-content: center;
          flex-direction: row;
          align-items: center;
          padding: 0 28px;
          .phone-verify-title {
            position: relative;
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
          }
          .phone-verify-close {
            position: absolute;
            right: 20px;
            display: block;
            @include setCursorPointer();
            @include setBackgroundImage('popup_x.png', 10px, 10px);
          }
        }
        .phone-verify-name-con {
          display: flex;
          margin-top: 46px;
          padding: 0 28px;
          align-items: center;
          .phone-verify-name-title {
            min-width: 120px;

          }
          .phone-verify-inputName {
            margin-left: 32px;
            min-height: 40px;
            width: 100%;
            border: 1px solid $COLOR_DDDDDD;
            border-radius: 3px;
            padding-left: 10px;
          }
        }
        .phone-verify-birth-con {
          display: flex;
          padding: 0 28px;
          margin-top: 20px;
          align-items: center;
          .phone-verify-birth-title {
            min-width: 120px;
          }
          .phone-verify-inputBirth {
            margin-left: 32px;
            min-height: 40px;
            width: 75px;
            border: 1px solid $COLOR_DDDDDD;
            border-radius: 3px;
            padding-left: 16px;
            padding-bottom: 4px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 20px);
          }
          .phone-verify-birth-dash {
            display: flex;
            justify-content: center;
            align-items: center;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 18px);
          }
          .phone-verify-inputGender {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 40px;
            width: 22px;
            border: 1px solid $COLOR_DDDDDD;
            border-radius: 3px;
            padding: 0 6px 4px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 20px);
          }
          .phone-verify-birth-dot {
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $COLOR_000000;
            margin-right: 3px;
          }
        }

        .phone-verify-phone-number-con {
          display: flex;
          padding: 0 28px;
          margin-top: 19px;
          align-items: center;
          .phone-verify-phone-number-title {
            min-width: 120px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
          }
          .phone-verify-input-PhoneNumber {
            margin-left: 32px;
            min-height: 40px;
            width: 100%;
            border: 1px solid $COLOR_DDDDDD;
            border-radius: 3px;
            padding-left: 10px;
          }
        }

        .phone-verify-send-number.active {
          display: flex;
          margin-top: 7px;
          margin-left: 180px;
          width: 126px;
          height: 34px;
          justify-content: center;
          align-items: center;
          border-radius: 3px;
          background-color: $COLOR_FF6600;
          @include setCursorPointer();
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 12px);
        }

        .phone-verify-send-number.inActive {
          display: flex;
          margin-top: 7px;
          margin-left: 180px;
          width: 126px;
          height: 34px;
          justify-content: center;
          align-items: center;
          border-radius: 3px;
          background-color: $COLOR_DDDDDD;
          @include setPointerEventsNone();
          @include setUserSelectNone();
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 12px);
        }


        .phone-verify-number-con {
          display: flex;
          padding: 0 28px;
          margin-top: 23px;
          align-items: center;
          .phone-verify-number-title {
            min-width: 120px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
          }
          .phone-verify-inputVerifyNumber {
            padding-left: 10px;
            margin-left: 32px;
            min-height: 40px;
            width: 100%;
            border: 1px solid $COLOR_DDDDDD;
            border-radius: 3px;
          }
        }

        .phone-verify-confirm-btn.active {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 50px;
          width: 100%;
          height: 64px;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          background-color: $COLOR_FF6600;
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 16px);
          @include setCursorPointer();
        }
        .phone-verify-confirm-btn.inActive {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 50px;
          width: 100%;
          height: 64px;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          background-color: $COLOR_DDDDDD;
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 16px);
          @include setPointerEventsNone();
          @include setUserSelectNone();
          @include setCursorPointer();
        }
      }
    }
    @include setOneBtnModal(1)
  }
  // 12. 아이템 결제 페이지 미리보기, 완료 끝(데스크톱)
}
// 모바일 전용
@media #{$mobile} {
  // 12. 아이템 결제 페이지 미리보기, 완료(모바일)
  .payment-entity-container {
    padding: 35px 20px 100px;
    position: relative;
    // 아이템 결제 미리보기 부분
    .active-user-entity-container {
      position: relative;
      .active-user-register-title {
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
      }
      .active-user-warning-register-container {
        display: flex;
        margin-top: 20px;
        padding: 15px 0;
        border-top: 1px solid $COLOR_212121;
        justify-content: space-between;
        margin-bottom: 30px;
        min-width: 300px;
        .active-user-warning-message {
          display: flex;
          justify-content: center;
          align-items: center;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 10px);
          font {
            @include setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 10px);
          }
        }
        .active-user-register-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: underline !important;
          //position: absolute;
          //right: 0;
          @include setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 10px);
          @include setCursorPointer();
        }
      }
    }
    .payment-info-entity-container {
      min-width: 300px;
      .payment-info-item-information-container {
        .payment-info-title {
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
        }
        .payment-info-selected-ofriends-arrow-con {
          margin-top: 22px;
          border-top: 1px solid $COLOR_212121;
          display: flex;
          flex-direction: row;
          padding: 15px 5px 15px 5px;
          justify-content: space-between;
          .payment-info-selected-title {
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
            @include setCursorPointer();
          }
          .arrow-down {
            display: flex;
            justify-content: center;
            align-self: center;
            @include setCursorPointer();
            @include setBackgroundImage('02_faq_close.png', 9px, 5px);
          }
          .arrow-up {
            display: flex;
            justify-content: center;
            align-self: center;
            @include setCursorPointer();
            @include setBackgroundImage('02_faq_open.png', 9px, 5px);
          }
        }
        .payment-info-item-detail-container {
          padding: 10px 0;
          border-top: 1px solid $COLOR_D8D8D8;
          display: flex;
          flex-direction: row;
          position: relative;
          .payment-info-image-con {
            .payment-info-detail-image {
              max-width: 67px;
              max-height: 48px;
              width: 67px;
              height: 48px;
              border-radius: 5px;
            }
          }
          .payment-info-title-date-option-con {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            .payment-info-detail-title-con {
              position: static;
              display: flex;
              .payment-info-detail-title {
                width: 100%;
                height: 100%;
                padding-right: 70px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-break: break-all;
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
              }
            }
            .payment-info-date-option-price-con {
              display: flex;
              flex-direction: row;
              padding-right: 60px;
              .payment-info-detail-option-con {
                .payment-info-detail-date {
                  margin-top: 4px;
                  @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
                }
                .payment-info-option {
                  @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
                }
              }
              .payment-info-price-con {
                position: absolute;
                right: 0;
                margin-left: auto;
                .payment-info-price {
                  min-width: 88px;
                  text-align: right;
                  align-self: center;
                  margin-left: auto;
                  //position: absolute;
                  //right: 0;
                  @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
                }
              }
            }
          }
        }
        .payment-info-item-price-con {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 15px 0 15px 5px;
          border-top: 1px solid $COLOR_D8D8D8;
          .payment-info-item-price-title {
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
          }
          .payment-info-item-price {
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
          }
        }

        .payment-info-coupon-priceCut-con {
          display: flex;
          flex-direction: row;
          padding: 15px 0 15px 5px;
          border-top: 1px solid $COLOR_D8D8D8;
          border-bottom: 1px solid $COLOR_D8D8D8;
          position: relative;
          justify-content: left;
          .payment-info-coupon-title {
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
          }
          .payment-info-priceCut {
            position: absolute;
            right: 40px;
            display: flex;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
            &:after {
              content: "";
              position: static;
              display: flex;
              justify-content: center;
              align-items: center;
              align-self: center;
              width: 1px;
              height: 10px;
              margin: 0 12px 0 10px;
              border-right: 1px solid $COLOR_B1B1B1;
            }
          }
          .payment-info-select-coupon {
            position: absolute;
            top: 15px;
            right: 0;
            text-decoration: underline !important;
            @include setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 12px);
            @include setCursorPointer();
          }
        }
      }
      .payment-info-price-container {
        background-color: $COLOR_83786F;
        border-radius: 5px;
        margin-top: 10px;
        position: relative;
        .payment-info-price-icon-title-priceCut-con {
          position: relative;
          display: flex;
          padding: 6px 10px;
          flex-direction: row;
          align-items: center;
          .payment-info-price-icon {
            display: block;
            @include setBackgroundImage('06_payment_discount.png', 10px, 10px);
          }
          .payment-info-price-title {
            @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
            margin-left: 6px;
          }
          .payment-info-price-priceCut {
            display: inline-block;
            position: relative;
            margin-left: auto;
            @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
          }
        }
        .payment-info-price-finally-price-con {
          display: flex;
          align-items: center;
          position: relative;
          padding: 12px 10px 13px 10px;
          border-top: 1px solid $COLOR_FFFFFF_OP_30;
          .payment-info-price-final-price-title {
            @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
          }
          .payment-info-finally-price {
            display: inline-block;
            position: relative;
            margin-left: auto;
            @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
          }
        }
      }
    }
    .payment-method-entity-container {
      min-width: 300px;
      margin-top: 30px;
      .payment-method-con {
        .payment-method-title {
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
        }
        .payment-all-method-container {
          margin-top: 20px;
          margin-bottom: 0 !important;
          padding-top: 15px;
          border-top: 1px solid $COLOR_212121;
          display: flex;
          flex-wrap: wrap;
          //grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
          //grid-template-columns: auto;
          //grid-column-gap: 8px;
          //grid-row-gap: 15px;
          .payment-method-item {
            display: block;
            height: 24px;
            width: calc(100% / 4);
            margin-right: 1.5vw;
            min-width: 62px;
            //flex: 0 0 auto;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
            &:nth-child(4n) {
              margin-right: 0;
            }
            //@media screen and (max-width: 320px) {
            //  margin-right: 8px;
            //}
            @include setCursorPointer();
            .selected {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: inherit;
              padding: 6px 0;
              background-color: $COLOR_212121;
              @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 10px);
            }
            .not-selected {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: inherit;
              padding: 6px 0;
              border: 1px solid $COLOR_212121;
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 10px);
            }
          }
        }
      }
    }
    .payment-checkTerms-entity-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 35px;
      border-top: 1px solid $COLOR_DDDDDD;
      border-bottom: 1px solid $COLOR_DDDDDD;
      padding: 15px 16px;
      min-width: 300px;
      .checked {
        display: block;
        @include setCursorPointer();
        @include setBackgroundImage('06_payment_check_off.png', 12px, 12px);
      }
      .unchecked {
        display: block;
        @include setCursorPointer();
        @include setBackgroundImage('06_payment_check_on.png', 12px, 12px);
      }

      .payment-terms-text {
        margin-left: 5px;
        @include setCursorPointer();
        @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 8px);
      }
    }
    .payment-payment-btn {
      display: flex;
      position: absolute;
      right: 60px;
      left: 60px;
      margin: 15px auto 0;
      max-width: 260px;
      max-height: 40px;
      width: 260px;
      height: 40px;
      border-radius: 20px;
      justify-content: center;
      align-items: center;
      background-color: $COLOR_FF6600;
      @include setCursorPointer();
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
    }

    // 쿠폰 모달 창(모바일)
    .coupon-select-entity-container {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 606;
      background-color: $COLOR_FFFFFF;
      min-width: 320px;
      .coupon-select-modal-container {
        background-color: $COLOR_FFFFFF;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 20px 20px;
        .coupon-select-coupon-title-con {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          .coupon-select-coupon-title {
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
          }
          .coupon-select-coupon-remove {
            position: absolute;
            right: 0;
            display: block;
            @include setBackgroundImage('m_header_close.png', 18px, 18px);
            @include setCursorPointer();
          }
        }
        .coupon-select-date-option-price-amount-container {
          margin-top: 40px;
          .coupon-select-date-option-price-con {
            display: flex;
            flex-direction: row;
            position: relative;
            .coupon-select-date-option-con {
              display: flex;
              flex-direction: column;
              .coupon-select-date {
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
              }
              .coupon-select-option {
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
              }
            }
            .coupon-select-price {
              text-align: right;
              min-width: 90px;
              margin-left: auto;
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
            }
          }
          .coupon-select-priceCut-con {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            .coupon-select-priceCut-title {
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);

            }
            .coupon-select-priceCut {
              @include setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 14px);

            }
          }
        }
        .coupon-select-title-noContents-con {
          margin-top: 41px;
          margin-bottom: 116px;
          .coupon-select-coupon-title {
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
          }
          .no-contents-entity-container {
            margin-top: 10px;
            &:before {
              content: "";
              width: 510px;
              height: 1px;
              position: absolute;
              left: 0;
              right: 0;
              margin-left: auto;
              margin-right: auto;
              border-top: 1px solid $COLOR_DDDDDD;
            }
            .no-contents-icon-con {
              padding-top: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              .icon-none-available {
                display: block;
                @include setBackgroundImage('nocontent.png', 52px, 52px);
              }
            }
            .no-contents-text-con {
              margin-top: 25px;
              .no-contents-text {
                display: flex;
                justify-content: center;
                align-items: center;
                @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
              }
            }
          }
        }
        .coupon-select-coupon-list-container {
          margin-top: 20px;
          .coupon-select-coupon-title {
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
          }
          .coupon-select-coupon-items {
            margin-top: 11px;
            margin-bottom: 0 !important;
            li {
              padding: 10px 5px;
              justify-content: center;
              align-items: flex-start;
              display: flex;
              flex-direction: column;
              border-top: 1px solid $COLOR_DDDDDD;
              @include setCursorPointer();
              .coupon-select-coupon-name {
                @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
              }
              .coupon-select-coupon-duedate-title {
                margin-top: 5px;
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 8px);
              }
            }
            .selected {
              background-color: $COLOR_FFF8F4;
            }
            &:last-child {
              border-bottom: 1px solid $COLOR_DDDDDD;
            }
          }
        }
        @include setPagination(20px, 20px);
        .coupon-select-couponApply {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          width: 260px;
          height: 40px;
          background-color: $COLOR_FF6600;
          border-radius: 20px;
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
          @include setCursorPointer();
        }
      }
    }

    // 아이템 결제 완료 부분(모바일)
    .finish-payment-entity-container {
      .finish-payment-container {
        .finish-payment-title {
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
        }

        .finish-payment-selected-ofriends-con {
          margin-top: 20px;
          border-top: 1px solid $COLOR_212121;
          display: flex;
          flex-direction: row;
          padding: 15px 0;
          justify-content: space-between;
          .finish-payment-selected-ofriends-title {
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
          }

          .arrow-down {
            display: flex;
            justify-content: center;
            align-self: center;
            @include setBackgroundImage('02_faq_close.png', 9px, 5px);
            @include setCursorPointer();
          }

          .arrow-up {
            display: flex;
            justify-content: center;
            align-self: center;
            @include setBackgroundImage('02_faq_close.png', 9px, 5px);
            @include setCursorPointer();
          }
        }

        .finish-payment-image-title-date-option-price-container {
          padding: 10px 0;
          border-top: 1px solid $COLOR_D8D8D8;
          display: flex;
          flex-direction: row;
          position: relative;
          img {
            max-width: 64px;
            max-height: 48px;
            width: 64px;
            height: 48px;
            border-radius: 5px;
            margin-top: auto;
            margin-bottom: auto;
          }
          .finish-payment-title-date-option-con {
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            padding-right: 65px;
            .finish-payment-title {
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
            }
            .finish-payment-date {
              margin-top: 4px;
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
            }
            .finish-payment-option {
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
            }
          }
          .finish-payment-price {
            position: absolute;
            right: 0;
            align-self: center;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
          }
        }
        .finish-payment-final-price-priceCut-method-container {
          display: flex;
          flex-direction: column;
          border-top: 1px solid $COLOR_D8D8D8;
          margin-bottom: 0 !important;
          .finish-payment-final-price-title-con {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
            border-bottom: 1px solid $COLOR_D8D8D8;
            .finish-payment-final-price-title {
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
            }

            .finish-payment-final-price {
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
            }
          }

          .finish-payment-final-priceCut-con {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
            border-bottom: 1px solid $COLOR_D8D8D8;
            .finish-payment-final-price-priceCut-title {
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);

            }

            .finish-payment-final-price-priceCut {
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);

            }
          }

          .finish-payment-final-price-payment-con {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
            border-bottom: 1px solid $COLOR_D8D8D8;
            .finish-payment-final-price-paymentPrice-title {
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);
            }
            .finish-payment-final-price-paymentPrice {
              @include setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 14px);

            }
          }
          .finish-payment-final-price-method-con {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
            border-bottom: 1px solid $COLOR_D8D8D8;
            .finish-payment-final-price-method-title {
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
            }
            .finish-payment-final-price-method {
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
            }
          }
        }
      }
      .finish-payment-confirm-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto 0;
        width: 260px;
        height: 40px;
        background-color: $COLOR_FF6600;
        border-radius: 20px;
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
      }
    }
    @include setOneBtnModal(2);
    @include setUsePrivacyPopup(2);
  }
  // 12. 아이템 결제 페이지 미리보기, 완료(모바일)

  // 활동 고객 등록 및 약관 이용 팝업(모바일)
  .reg-active-entity-container {
    display: block;
    position: fixed;
    background-color: $COLOR_FFFFFF !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 801;
    overflow: auto;
    .reg-active-modal-container {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      min-width: 320px;
      .reg-active-modal-wrapper {
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: 100%;
        .reg-active-modal-header {
          display: flex;
          position: relative;
          padding: 20px;
          align-items: center;
          justify-content: center;
          .reg-active-modal-title {
            display: flex;
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);
          }
          .reg-active-modal-close-btn {
            position: absolute;
            display: inline-block;
            right: 20px;
            top: 0;
            bottom: 0;
            margin: auto 0;
            @include setBackgroundImage('m_header_close.png', 18px, 18px);
            @include setCursorPointer();
          }
        }
        .reg-active-event-image-wrapper {
          display: block;
          min-width: 320px;
          height: auto;
          .reg-active-event-image {
            display: block;
            height: 100%;
            padding-top: 36%;
            @include setBackgroundImage('07_myofriends_profile_marketing_top.png', 100%, 100%);
            background-size: cover!important;
            background-position: center !important;
          }
        }
        .reg-active-modal-body {
          display: flex;
          flex-direction: column;
          min-height: 397px;
          .reg-active-modal-sub-title {
            @include setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 12px);
          }
          .reg-active-modal-sub-desc {
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
          }
          .reg-active-modal-identify {
            margin: 21px 20px 0;
            height: 18px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
          }
          .reg-active-modal-phone-id-con {
            height: 45px;
            border: 1px solid $COLOR_212121;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px 20px 0;
            @include setCursorPointer();
            .reg-active-modal-phone-id-icon {
              @include setBackgroundImage('07_myofriends_profile_marketing_phone.png', 6px, 12px);
              margin-right: 10px;
            }
            .reg-active-modal-phone-id-title {
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
            }
          }
          .reg-active-modal-identify-completed {
            height: 45px;
            border: 1px solid $COLOR_DDDDDD;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px 20px 0;
            @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 12px);
            @include setUserSelectNone();
          }
          .reg-active-modal-marketing-agreement {
            margin: 15px 20px 0;
            padding-bottom: 5px;
            border-bottom: 1px solid $COLOR_DDDDDD;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
          }

          .reg-active-modal-one-check-btn-con {
            display: flex;
            align-items: center;
            margin: 19px 20px 0;
            padding-left: 10px;
            position: relative;
            @include setCursorPointer();
            .checked {
              display: block;
              @include setBackgroundImage('06_payment_check_on.png', 14px, 14px);
              background-position: center;
            }
            .unchecked {
              display: block;
              @include setBackgroundImage('06_payment_check_off.png', 14px, 14px);
              background-position: center;
            }
            .reg-active-modal-one-check-btn {
              margin-left: 7px;
              width: 100%;
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
              text-decoration: underline !important;
              align-self: flex-start;
            }
            .reg-active-modal-one-check-arrow {
              position: static;
              margin-left: auto;
              margin-right: 26px;
              @include setBackgroundImage('07_myofriends_profile_marketing_arrow.png', 12px, 12px);
              background-position: center;
            }
          }

          .reg-active-modal-two-check-btn-con {
            display: flex;
            align-items: center;
            margin: 28px 20px 0;
            padding-left: 10px;
            position: relative;
            @include setCursorPointer();
            .checked {
              display: block;
              @include setBackgroundImage('06_payment_check_on.png', 14px, 14px);
              background-position: center;
            }
            .unchecked {
              display: block;
              @include setBackgroundImage('06_payment_check_off.png', 14px, 14px);
              background-position: center;
            }
            .reg-active-modal-two-check-btn {
              width: 100%;
              margin-left: 7px;
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
              text-decoration: underline !important;
              align-self: flex-start;
            }
            .reg-active-modal-two-check-arrow {
              position: static;
              margin-left: auto;
              margin-right: 26px;
              @include setBackgroundImage('07_myofriends_profile_marketing_arrow.png', 12px, 12px);
              background-position: center;
            }
          }
          .reg-active-modal-id-period-title {
            margin: 17px 20px 0;
            @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 10px);
          }
          .reg-active-modal-id-period-container {
            margin: 10px 20px 0;
            display: flex;
            flex-wrap: wrap;
            //grid-template-columns: repeat(3, 1fr);
            //grid-column-gap: 10px;
            div {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 30px;
              //min-width: 88px;
              width: calc(100%/3.242);
              margin-right: 3vw;
              border-radius: 3px;
              margin-bottom: 10px;
              @include setCursorPointer();
              &:nth-child(3n) {
                margin-right: 0 !important;
              }
              @media screen and (max-width: 320px) {
                margin-right: 10px;
              }
            }
            .checked {
              display: flex;
              flex-direction: row;
              .reg-active-modal-id-period-checkbox {
                @include setBackgroundImage('07_myofriends_profile_marketing_check.png', 7px, 8px);
                margin-right: 2px;
              }
              background-color: $COLOR_83786F;
              @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 10px);
            }
            .unchecked {
              display: flex;
              flex-direction: row;
              background-color: $COLOR_FFFFFF;
              border: 1px solid $COLOR_DDDDDD;
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
            }
          }
          .reg-active-modal-contact-method-title {
            margin: 10px 20px 0;
            @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 10px);
          }
          .reg-active-modal-contact-method-container {
            margin: 5px 20px 0;
            display: flex;
            flex-wrap: wrap;
            //grid-template-columns: repeat(3, 1fr);
            //grid-column-gap: 10px;
            div {
              display: flex;
              justify-content: center;
              align-items: center;
              width: calc(100%/3.242);
              margin-right: 3vw;
              height: 30px;
              border-radius: 3px;
              margin-bottom: 10px;
              @include setCursorPointer();
              &:nth-child(3n) {
                margin-right: 0 !important;
              }
              @media screen and (max-width: 320px) {
                margin-right: 10px;
              }
            }
            .checked {
              background-color: $COLOR_83786F;
              @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 10px);
              .reg-active-modal-id-period-checkbox {
                @include setBackgroundImage('07_myofriends_profile_marketing_check.png', 7px, 8px);
                margin-right: 2px;
              }
            }
            .unchecked {
              background-color: $COLOR_FFFFFF;
              border: 1px solid $COLOR_DDDDDD;
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
            }
          }
        }
        .enabled {
          display: flex;
          justify-content: center;
          align-items: center;
          min-height: 59px;
          width: 100%;
          margin-top: auto;
          background-color: $COLOR_FF6600;
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
          @include setCursorPointer();
        }
        .not-enabled {
          display: flex;
          justify-content: center;
          align-items: center;
          min-height: 59px;
          width: 100%;
          margin-top: auto;
          background-color: $COLOR_DDDDDD;
          user-select: none;
          @include setPointerEventsNone();
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
          @include setCursorDefault();
        }
      }
    }
    @include setUsePrivacyPopup(2);
  }
  // 핸드폰 인증(모바일)
  .phone-verify-wrapper-container {
    display: block;
    position: fixed;
    background-color: $COLOR_000000_OP_20 !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 901;
    .phone-verify-modal-container {
      position: absolute;
      display: flex;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      align-items: center;
      justify-content: center;
      //z-index: 1001;
      min-width: 320px;
      // 휴대폰 인증(모바일)
      .phone-verify-entity-container {
        padding: 27px 0 0;
        background-color: $COLOR_FFFFFF;
        overflow: auto;
        width: 100%;
        height: 100%;
        .phone-verify-title-con {
          display: flex;
          position: relative;
          justify-content: center;
          flex-direction: row;
          align-items: center;
          padding: 0 20px;
          .phone-verify-title {
            position: relative;
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);
          }
          .phone-verify-close {
            position: absolute;
            right: 20px;
            display: block;
            @include setCursorPointer();
            @include setBackgroundImage('m_header_close.png', 18px, 18px);
          }
        }
        .phone-verify-name-con {
          display: flex;
          margin-top: 46px;
          padding: 0 20px;
          align-items: center;
          .phone-verify-name-title {
            min-width: 80px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
          }
          .phone-verify-inputName {
            margin-left: 32px;
            min-height: 40px;
            width: 100%;
            border: 1px solid $COLOR_DDDDDD;
            border-radius: 3px;
            padding-left: 10px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
          }
        }
        .phone-verify-birth-con {
          display: flex;
          padding: 0 20px;
          margin-top: 20px;
          align-items: center;
          .phone-verify-birth-title {
            min-width: 80px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
          }
          .phone-verify-inputBirth {
            margin-left: 32px;
            min-height: 40px;
            //width: 75px;
            width: 100%;
            border: 1px solid $COLOR_DDDDDD;
            border-radius: 3px;
            padding-left: 16px;
            padding-bottom: 4px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
          }
          .phone-verify-birth-dash {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 8px;
            margin-right: 8px;
            margin-bottom: 4px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 18px);
          }
          .phone-verify-inputGender {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 40px;
            width: 22px;
            border: 1px solid $COLOR_DDDDDD;
            border-radius: 3px;
            padding: 0 6px 4px;
            margin-right: 7px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
          }
          .phone-verify-birth-dot {
            display: flex;
            flex: 0 0 auto;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $COLOR_000000;
            margin-right: 3px;
          }
        }

        .phone-verify-phone-number-con {
          display: flex;
          padding: 0 20px;
          margin-top: 19px;
          align-items: center;
          .phone-verify-phone-number-title {
            min-width: 80px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
          }
          .phone-verify-input-PhoneNumber {
            margin-left: 32px;
            min-height: 40px;
            //min-width: 190px;
            width: 100%;
            border: 1px solid $COLOR_DDDDDD;
            border-radius: 3px;
            padding-left: 10px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
          }
        }

        .phone-verify-send-number.active {
          display: flex;
          margin-top: 7px;
          width: 126px;
          height: 34px;
          justify-content: center;
          align-items: center;
          border-radius: 3px;
          margin-left: 132px;
          background-color: $COLOR_FF6600;
          @include setCursorPointer();
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 12px);
        }

        .phone-verify-send-number.inActive {
          display: flex;
          margin-top: 7px;
          width: 126px;
          height: 34px;
          justify-content: center;
          align-items: center;
          border-radius: 3px;
          margin-left: 132px;
          background-color: $COLOR_DDDDDD;
          @include setUserSelectNone();
          @include setPointerEventsNone();
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 12px);
        }

        .phone-verify-number-con {
          display: flex;
          padding: 0 20px;
          margin-top: 23px;
          align-items: center;
          .phone-verify-number-title {
            min-width: 80px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
          }
          .phone-verify-inputVerifyNumber {
            width: 100%;
            padding-left: 10px;
            margin-left: 32px;
            min-height: 40px;
            border: 1px solid $COLOR_DDDDDD;
            border-radius: 3px;
            //min-width: 190px;
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
          }
        }

        .phone-verify-confirm-btn.active {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          left: 0;
          right: 0;
          bottom: 0;
          height: 59px;
          background-color: $COLOR_FF6600;
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 16px);
          @include setCursorPointer();
        }

        .phone-verify-confirm-btn.inActive {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          left: 0;
          right: 0;
          bottom: 0;
          height: 59px;
          background-color: $COLOR_DDDDDD;
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 16px);
          @include setPointerEventsNone();
          @include setUserSelectNone();
        }


      }
    }
    @include setOneBtnModal(2)
  }
}
