@import "variable";
// 데스크톱 전용
@media #{$desktop} {
  // 6. 개인정보 처리방침 및 이용약관(데스크톱)
  .policy-privacy-entity-container {
    max-width: 990px;
    padding: 38px 20px 150px;
    margin: 0 auto;
    .policy-privacy-title {
      padding: 22px 0;
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
      border-bottom: 2px solid $COLOR_212121;
    }
    .policy-privacy-contents {
      word-break: break-all;
      white-space: pre-wrap;
      padding: 26px 20px;
      @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
    }
  }
  // 6. 개인정보 처리방침 및 이용약관(데스크톱)
}
// 모바일 전용
@media #{$mobile} {
  // 6. 개인정보 처리방침 및 이용약관(모바일)
  .policy-privacy-entity-container {
    padding: 15px 20px 35px;
    .policy-privacy-title {
      padding: 20px 0;
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
      border-bottom: 1px solid $COLOR_212121;
    }
    .policy-privacy-contents {
      word-break: break-all;
      white-space: pre-wrap;
      padding: 20px 0;
      border-bottom: 1px solid $COLOR_DDDDDD;
      @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
    }
  }
  // 6. 개인정보 처리방침 및 이용약관(모바일)
}
