@import "./variable.scss";
// 데스크톱 전용

@media #{$desktop} {
  // 10. 아이템(프립) 상세 페이지 시작(데스크톱)
  .product-page.mobile { // 스크린이 데스크톱 일 때, 생성된 모바일 jsx를 안보이게 하기 위해
    display: none;
  }
  .product-page.desktop {
    display: flex !important;
    position: relative;
    max-width: 990px;
    padding: 0 30px;
    margin: 0 auto;
    // 상품설명 화면(좌측, 데스크톱)
    .product-intro {
      display: block;
      min-width: 316px;
      width: 576px;
      padding: 60px 15px 0 0;
      margin-bottom: 120px;
      border-right: 1px solid $COLOR_DDDDDD;
      .frip-entity-container {
        display: block;
        max-height: 100%;
        .frip-carousel-container {
          display: block;
          max-height: 420px;
          max-width: 560px;
          .frip-carousel {
            max-width: 560px;
            .carousel.carousel-slider {
              position: relative !important;
              //border-radius: 8px;
              display: flex;
              .control-arrow.control-prev {
                position: absolute !important;
                margin-left: 25px;
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                @include setBackgroundImage('01_main_banner_arrow_left.png', 14px, 22px);
                &:before {
                  display: none;
                }
                &:hover {
                  background-color: transparent;
                }
              }
              .control-arrow.control-next {
                position: absolute !important;
                margin-right: 25px;
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                @include setBackgroundImage('01_main_banner_arrow_right.png', 14px, 22px);
                &:before {
                  display: none;
                }
                &:hover {
                  background-color: transparent;
                }
              }
              &:last-child {
                justify-content: center;
                align-items: center;
              }
              .slider-wrapper.axis-horizontal {
                border-radius: 8px !important;
                ul {
                  li {
                    background-color: $COLOR_DDDDDD !important;
                    z-index: 300;
                    .frip-carousel-image-container {
                      border-radius: 8px;
                      padding-top: 75%;
                      img {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 500;
                      }
                    }
                  }
                }
              }
              .carousel-status {
                //position: relative !important;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 34px;
                height: 20px;
                border-radius: 10px;
                right: 0;
                left: 0;
                bottom: 0;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: 0!important;
                margin-top: 68%;
                background-color: $COLOR_212121_OP_50;
                @include setCursorDefault();
                @include setUserSelectNone();
              }
            }
          }
        }
        .frip-product-container {
          .frip-product-likeshare-con {
            display: flex;
            justify-content: flex-end;
            height: 100%;
            position: static;
            margin-top: 10px;
            margin-right: 20px;
            .frip-product-share {
              margin-right: 20px;
              @include setBackgroundImage('share_gray.png', 18px, 18px);
              @include setCursorPointer();
            }
            .frip-product-unlike {
              @include setBackgroundImage('like_off_gray.png', 18px, 18px);
              @include setCursorPointer();
            }
            .frip-product-like {
              @include setBackgroundImage('like_on.png', 18px, 18px);
              @include setCursorPointer();
            }
          }

          .frip-product-title-con {
            display: flex;
            justify-content: space-between;
            position: relative;
            margin: 2px 20px 0;
            .frip-product-title {
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 14px);
            }
          }

          .frip-product-subtitle {
            margin: 10px 20px 0;
            span {
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
              word-spacing: 1.2px;
              line-height: 1.45em;
            }
          }

          .frip-product-price-con {
            position: relative;
            margin: 20px 20px 0;
            display: flex;
            align-items: center;

            .frip-product-price {
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 20px);
            }

            .frip-product-discount {
              margin-left: 10px;
              text-decoration: line-through;
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 14px);
            }

            .frip-product-discount-rate {
              position: static;
              margin-left: auto;
              @include setFont($COLOR_6987B4, $FONT_WEIGHT_REGULAR, 24px);
            }
          }

          .frip-product-desc-con {
            margin-top: 31px;
            padding-top: 20px;
            border-top: 1px solid $COLOR_DDDDDD;
            ul {
              display: flex;
              align-items: center;
              margin: 0 20px 8px;
              &:last-child {
                margin-bottom: 0;
              }
              li {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 14px);
              }

              .frip-product-desc-like-icon {
                @include setBackgroundImage('06_detailpage_info_like.png', 14px, 14px);
                margin-right: 8px;
              }
              .frip-product-desc-schedule-icon {
                @include setBackgroundImage('06_detailpage_info_calendar.png', 14px, 14px);
                margin-right: 8px;
              }
              .frip-product-desc-location-icon {
                @include setBackgroundImage('06_detailpage_info_location.png', 14px, 14px);
                margin-right: 8px;
              }
              .frip-product-desc-star-icon {
                @include setBackgroundImage('06_detailpage_info_rate.png', 14px, 14px);
                margin-right: 8px;
              }

              .frip-product-desc-other-schedule {
                @include setFont($COLOR_FF6600, $FONT_WEIGHT_REGULAR, 14px);
                @include setCursorPointer();
              }
              .m-frip-product-desc-other-schedule {
                display: none;
              }
              .frip-product-expiration-date {
                @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 14px);
              }
            }
          }
        }
      }
      // 프립 공유 다이얼로그(데스크톱)
      .info-event-participate-btn {
        display: none;
      }
      .frip-product-share-entity-container {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 800;
        background-color: $COLOR_212121_OP_46;
        .frip-product-share-modal-container {
          position: absolute;
          display: flex;
          flex-direction: column;
          left: 0;
          right: 0;
          width: 380px;
          height: 206px;
          margin-left: auto;
          margin-right: auto;
          border-radius: 8px;
          padding: 30px 24px;
          top: 285px;
          background-color: $COLOR_FFFFFF;
          .frip-product-share-title-close-btn-con {
            display: flex;
            position: relative;
            justify-content: center;
            .frip-product-share-title {
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
            }
            .frip-product-close-btn {
              display: block;
              position: absolute;
              right: 0;
              top: 0;
              bottom: 0;
              margin-top: auto;
              margin-bottom: auto;
              @include setBackgroundImage('popup_x.png', 10px, 10px);
              @include setCursorPointer();
            }
          }
          .frip-product-share-contents-con {
            margin-top: 44px;
            display: flex;
            justify-content: center;
            .frip-product-share-facebook {
              display: block;
              margin-right: 25px;
              @include setBackgroundImage('06_detailpage_share_facebook.png', 44px, 44px);
              @include setCursorPointer();
              &:after {
                position: absolute;
                display: flex;
                bottom: 45px;
                content: "페이스북";
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
              }
            }
            .frip-product-share-kakao {
              display: flex;
              margin-left: 25px;
              @include setBackgroundImage('06_detailpage_share_kakao.png', 44px, 44px);
              @include setCursorPointer();
              &:after {
                position: absolute;
                display: flex;
                bottom: 45px;
                content: "카카오톡";
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
              }
            }
          }

        }
      }
      .host-entity-container {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        padding: 30px 20px 0;
        border-top: 1px solid $COLOR_DDDDDD;
        .host-container {
          .host-name {
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
          }

          .host-profile {
            margin: 20px 0 0 0;
            display: flex;
            max-height: 44px;

            img {
              width: 44px;
              height: 44px;
              max-width: 44px;
              max-height: 44px;
              border-radius: 50%;
            }

            .host-profile-info {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-left: 15px;
              margin-bottom: 0;
              .host-name-con {
                height: 100%;
                margin: 0 !important;
                display: flex;
                align-items: center;
                .host-profile-name {
                  @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
                }
                .host-profile-tag {
                  width: 45px;
                  height: 18px;
                  margin-left: 5px;

                  span {
                    @include setBackgroundImage('06_detailpage_super.png', 45px, 18px);
                  }
                }
              }
              .host-count-con {
                .host-frip-count {
                  display: flex;
                  flex-direction: row;
                  align-items: flex-end;
                  @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 12px);

                  &:after {
                    content: "";
                    border-right: 1px solid $COLOR_B1B1B1;
                    width: 1px;
                    height: 10px;
                    margin-left: 8px;
                    margin-right: 8px;
                    margin-bottom: 4px;
                  }
                }
                .host-like-count {
                  display: flex;
                  align-items: flex-end;
                  @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 12px);
                }
              }
            }
          }
          .host-info {
            margin: 20px 0 0 0;
            white-space: pre-wrap;
            span {
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
            }
          }
        }
      }
      .review-host-entity-container {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        padding: 30px 20px 0;
        border-top: 1px solid $COLOR_DDDDDD;
        // 호스트 후기(데스크톱)
        .review-host-host-name-con {
          .review-host-host-name {
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
          }
        }
        @include setReviewHost(1, 1);
        .review-host-all-reviews {
          width: 100%;
          height: 44px;
          margin-top: 20px;
          border: 1px solid $COLOR_DDDDDD;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
        }
      }
    }
    // 옵션 선택 화면(우측, 데스크톱)
    .product-select {
      display: block;
      position: relative;
      padding-top: 60px;
      .select-option-entity-container {
        display: flex;
        flex-direction: column;
        position: sticky !important;
        position: -webkit-sticky !important; /* 사파리 브라우저 지원 */
        top: 131px;
        margin-left: 24px;
        .select-option-entity-container-wrapper {
          display: flex;
          flex-direction: column;
          .select-option-title {
            display: flex;
            align-items: center;
            padding: 20px 0 20px 15px;
            border-bottom: 2px solid $COLOR_212121;
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
          }
          .select-option-backBtn-con {
            display: none !important;
          }
          .select-option-menu-container {
            border-bottom: none;
            &:first-child {
              border-bottom: 1px solid $COLOR_DDDDDD;
            }
            .select-option-basic-container {
              display: flex;
              align-items: center;
              height: 56px;
              border-bottom: 1px solid $COLOR_DDDDDD;
              @include setCursorPointer();
              // 옵션을 선택한 후 창
              .select-option-basic-and-cost-con-selected {
                display: flex;
                flex-direction: column;
                position: relative;
                width: 100%;
                margin-left: 15px;
                .select-option-basic {
                  .select-option-none-title {
                    @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 14px);
                  }
                  .select-option-basic-title {
                    @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
                  }
                }
                .select-option-basic-cost {
                  .select-option-cost-text {
                    @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
                  }
                }
                .open {
                  position: absolute;
                  right: 15px;
                  top: 0;
                  bottom: 0;
                  margin-top: auto;
                  margin-bottom: auto;
                  @include setBackgroundImage('02_faq_close.png', 16px, 10px);
                }
                .closed {
                  position: absolute;
                  right: 15px;
                  //top: 15px;
                  //bottom: 22px;
                  top: 0;
                  bottom: 0;
                  margin-top: auto;
                  margin-bottom: auto;
                  @include setBackgroundImage('02_faq_open.png', 16px, 10px);
                }
              }
              // 선택하기 전의 옵션 창
              .select-option-basic-and-cost-con-default {
                display: flex;
                flex-direction: column;
                position: relative;
                width: 100%;
                margin-left: 15px;
                min-height: 21px;
                .select-option-basic {
                  display: flex;
                  .select-option-basic-title {
                    display: flex;
                    @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 14px);
                  }
                }
                .select-option-basic-cost {
                  .select-option-cost-text {
                    @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
                  }
                }
                .open {
                  position: absolute;
                  right: 15px;
                  top: 5px;
                  @include setBackgroundImage('02_faq_close.png', 16px, 10px);
                }
                .closed {
                  position: absolute;
                  right: 15px;
                  top: 5px;
                  @include setBackgroundImage('02_faq_open.png', 16px, 10px);
                }
              }
            }
            .select-option-cost-and-quantity-entity-container {
              max-width: 330px;
              .select-option-participate-cost-container {
                display: flex;
                flex-direction: column;
                position: relative;
                min-height: 70px;
                background-color: $COLOR_DDDDDD_OP_20;
                border-bottom: 1px solid $COLOR_DDDDDD;
                @include setCursorPointer();
                //&:first-child {
                //  border-bottom: none;
                //}
                //&:last-child{
                //  border-bottom: none;
                //}
                .select-option-participate-title-con {
                  margin-top: 15px;
                  margin-left: 15px;
                  max-width: 250px;
                  span {
                    @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
                  }
                }
                .select-option-quantity-con {
                  margin-left: 15px;
                  margin-bottom: 12px;
                  max-width: 230px;
                  .select-option-quantity-text {
                    @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 10px);
                  }
                }
                .select-option-cost-con {
                  position: absolute;
                  top: 18px;
                  right: 10px;
                  span {
                    text-decoration: line-through;
                    @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 12px);
                  }
                }
                .select-option-discount-con {
                  position: absolute;
                  bottom: 12px;
                  right: 10px;
                  span {
                    @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);
                  }
                }
              }
            }
          }
          .select-option-menu-result-container {
            display: flex;
            margin-top: 20px;
            padding: 20px 15px 22px 15px;
            flex-direction: row;
            justify-content: space-between;
            width: 330px;
            height: 126px;
            border: 1px solid $COLOR_DDDDDD;
            .select-option-menu-result-sche-title-price-con {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .select-option-menu-sche {
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
              }
              .select-option-menu-title {
                margin-top: 4px;
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
              }
              .select-option-menu-price {
                margin-top: 18px;
                @include setFont($COLOR_FF6600, $FONT_WEIGHT_MEDIUM, 18px);
              }
            }
            .select-option-menu-remove-plus-minus-con {
              display: flex;
              flex-direction: column;
              margin-top: 2px;
              justify-content: space-between;
              position: relative;
              .select-option-menu-remove {
                display: flex;
                align-self: flex-end;
                @include setBackgroundImage('07_myofriends_review_photo_delete.png', 20px, 20px);
                @include setCursorPointer();
              }
              .select-option-menu-plus-minus-con {
                display: flex;
                flex-direction: row;
                align-items: center;
                .select-option-menu-quantity {
                  width: 22px;
                  height: 24px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-left: 5px;
                  margin-right: 5px;
                  @include setFont($COLOR_424242, $FONT_WEIGHT_REGULAR, 14px);
                }
                .minus-btn.enabled {
                  display: block;
                  @include setBackgroundImage('06_detailpage_amount_minus_on.png', 12px, 12px);
                  @include setCursorPointer();
                }
                .minus-btn.disabled {
                  display: block;
                  @include setBackgroundImage('06_detailpage_amount_minus_off.png', 12px, 12px);
                  @include setCursorPointer();
                }
                .plus-btn.enabled {
                  display: block;
                  @include setBackgroundImage('06_detailpage_amount_plus_on.png', 12px, 12px);
                  @include setCursorPointer();
                }
                .plus-btn.disabled {
                  display: block;
                  @include setBackgroundImage('06_detailpage_amount_plus_off.png', 12px, 12px);
                  @include setCursorPointer();
                }
              }
            }
          }
          .select-option-schedule-entity {
            width: 100%;
            display: flex;
            align-items: center;
            height: 56px;
            padding-left: 15px;
            border-bottom: 1px solid $COLOR_DDDDDD;
            @include setCursorPointer();
            .select-option-schedule-option-default {
              width: 100%;
              position: relative;
              display: flex;
              flex-direction: row;
              .select-option-schedule {
                span {
                  @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 14px);
                }
              }
              .open {
                position: absolute;
                top: 6px;
                right: 15px;
                @include setBackgroundImage('02_faq_close.png', 16px, 10px);
              }

              .closed {
                position: absolute;
                top: 6px;
                right: 15px;
                @include setBackgroundImage('02_faq_open.png', 16px, 10px);
              }

            }
            .select-option-schedule-option-selected {
              width: 100%;
              position: relative;
              display: flex;
              flex-direction: column;
              .select-option-schedule {
                span {
                  @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
                }
              }
              .select-option-schedule-item-date-con {
                span {
                  @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
                }
              }
              .open {
                position: absolute;
                top: 16px;
                right: 15px;
                @include setBackgroundImage('02_faq_close.png', 16px, 10px);
              }

              .closed {
                position: absolute;
                top: 16px;
                right: 15px;
                @include setBackgroundImage('02_faq_open.png', 16px, 10px);
              }
            }
          }
          // 데스크톱
          .select-option-menu-notice-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-bottom: 30px;
            padding-top: 50px;
            flex: 0 0 auto;
            .select-option-menu-notice {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 330px;
              max-width: 330px;
              height: 84px;
              margin-bottom: 20px;
              text-align: center;
              background-color: $COLOR_212121;
              border-radius: 3px;
              @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_REGULAR, 14px);
            }
            .enabled {
              display: flex;
              justify-content: center;
              align-items: center;
              max-width: 330px;
              max-height: 50px;
              width: 330px;
              height: 50px;
              background-color: $COLOR_FF6600;
              border-radius: 25px;
              @include setUserSelectNone();
              @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
              @include setCursorPointer();
            }
            .disabled {
              display: flex;
              justify-content: center;
              align-items: center;
              max-width: 330px;
              max-height: 50px;
              width: 330px;
              height: 50px;
              background-color: $COLOR_DDDDDD;
              border-radius: 25px;
              @include setUserSelectNone();
              @include setPointerEventsNone();
              @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
            }
          }
          @include setOneBtnModal(1)
        }
      }
      .select-option-schedule-entity-item {
        background-color: $COLOR_DDDDDD_OP_20;
        max-width: 330px;
        .select-option-schedule-item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 15px 15px 0;
          border-bottom: 1px solid $COLOR_DDDDDD;
          @include setCursorPointer();
          .select-option-schedule-date-con {
            span {
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
            }
          }
          .select-option-schedule-detail {
            display: flex;
            flex-direction: row;
            li {
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
            }
          }
        }


      }
      .select-option-notice-msg {
        @include serverErrorMsg(1);
      }
      @include setOneBtnModal(1);
    }
    .m-product-select-button {
      display: none;
    }
    .info-entity-container {
      margin-top: 30px;
      padding: 30px 0 30px 20px;
      border-top: 1px solid $COLOR_DDDDDD;
      .info-header-title {
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
      }
      .info-body-con {
        margin-top: 20px;
        span {
          p {
            font-family: $BASE_FONT_KR !important;
            margin-bottom: 0 !important;
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
            .fr-fic.fr-dii {
              max-width: 520px;
              width: 100%;
              height: 100%;
              border-radius: 3px;
            }
            .fr-fic.fr-dib {
              max-width: 520px;
              width: 100%;
              border-radius: 3px;
            }
            span {
              font-family: $BASE_FONT_KR !important;
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
              strong {
                font-family: $BASE_FONT_KR !important;
                @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px, true);
              }
            }
          }
        }
      }
      .info-body-included-con {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        margin-top: 30px;
        border-top: 1px solid $COLOR_DDDDDD;
        .info-body-included-title {
          margin-bottom: 20px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
        }
        .info-body-included {
          @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
          letter-spacing: 0;
        }
      }
      .info-body-notIncluded-con {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        border-top: 1px solid $COLOR_DDDDDD;
        .info-body-notIncluded-title {
          margin-bottom: 20px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
        }
        .info-body-notIncluded {
          @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
          letter-spacing: 0;
        }
      }
      .info-body-timeTable-con {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        border-top: 1px solid $COLOR_DDDDDD;
        .info-body-timetable-title {
          margin-bottom: 20px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
        }
        .info-body-timeTable-contents {
          margin-bottom: 0!important;
          .info-body-timeTable-type-detail {
            margin-bottom: 16px;
            .info-body-timeTable-time {
              margin-right: 20px;
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
            }
            .info-body-timeTable-description {
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
            }
          }
          .info-body-timeTable-type-text {
            margin-top: 20px;
            .info-body-timeTable-description {
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
            }
          }
        }
      }
      .info-body-prepare-con {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        border-top: 1px solid $COLOR_DDDDDD;
        .info-body-prepare-title {
          margin-bottom: 20px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
        }
        .info-body-prepare {
          @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
          letter-spacing: 0;
        }
      }
      .info-body-note-con {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        border-top: 1px solid $COLOR_DDDDDD;
        .info-body-note-title {
          margin-bottom: 20px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
        }
        .info-body-note {
          @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
          letter-spacing: 0;
          p {
            span {
              font-family: $BASE_FONT_KR !important;
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
              word-spacing: 0 !important;
              letter-spacing: 0 !important;
            }
          }
        }
      }
      .info-body-location-con {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        border-top: 1px solid $COLOR_DDDDDD;
        .info-body-location-title {
          margin-bottom: 20px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
        }
        .info-body-location-map-con {
          width: 100%;
          z-index: 0;
          #venue_map {
            display: inline-block;
            width: 100%!important;
            height: 100% !important;
            min-width: 250px !important;
            min-height: 250px !important;
            //width: 100% !important;
            //height: 100% !important;
          }
          #venue_map_m {
            display: none;
          }
        }
        .info-body-location {
          margin-top: 10px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
        }
      }
      .info-body-faq-con {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        border-top: 1px solid $COLOR_DDDDDD;
        .info-body-faq-title {
          margin-bottom: 20px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
        }
        .info-body-faq-container {
          .info-body-faq-q-con {
            margin-top: 12px;
            .info-body-faq-icon-q {
              // 아이콘 추가
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 12px, true);
            }
            .info-body-faq-question {
              margin-left: 12px;
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px, true);
            }
          }
          .info-body-faq-a-con {
            margin-top: 12px;
            .info-body-faq-icon-a {
              // 아이콘 추가
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 12px, true);
            }
            .info-body-faq-answer {
              margin-left: 12px;
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px, true);
            }
          }
        }
      }
      .info-body-refund-con {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        border-top: 1px solid $COLOR_DDDDDD;
        .info-body-refund-title {
          margin-bottom: 20px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);

        }
        .info-body-refund {
          @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
          word-break: break-all;
          white-space: pre-wrap;
        }
      }
    }
  }
  // 10. 아이템(프립) 상세 페이지 시작(데스크톱)
}
// 모바일 전용
@media #{$mobile} {
  // 10. 아이템(프립) 상세 페이지(모바일)
  .product-page.desktop { // 스크린이 모바일일 때, 생성된 데스크톱 jsx를 안보이게 하기 위함
    display: none;
  }
  .product-page.mobile {
    display: flex;
    flex-direction: column;
    position: static;
    .product-intro {
      display: block;
      //display: none;
      max-width: 620px;
      border-right: 1px solid $COLOR_DDDDDD;
      .frip-entity-container {
        .frip-carousel-container {
          .frip-carousel {
            display: flex;
            .carousel.carousel-slider {
              display: flex;
              position: relative !important;
              .control-arrow.control-prev {
                display: none;
                position: absolute !important;
                margin-left: 25px;
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                @include setBackgroundImage('01_main_banner_arrow_left.png', 14px, 22px);
                &:before {
                  display: none;
                }
                &:hover {
                  background-color: transparent;
                }
              }
              .slider-wrapper.axis-horizontal {
                ul {
                  li {
                    background-color: $COLOR_DDDDDD !important;
                    .frip-carousel-image-container {
                      position: relative;
                      padding-top: 75%; /* 4:3 Aspect Ratio */
                      min-height: 240px;
                      min-width: 320px;
                      img {
                        display: block;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                }
              }
              .control-arrow.control-next {
                display: none;
                position: absolute !important;
                margin-right: 25px;
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                @include setBackgroundImage('01_main_banner_arrow_right.png', 14px, 22px);
                &:before {
                  display: none;
                }
                &:hover {
                  background-color: transparent;
                }
              }
              .carousel-status {
                @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_REGULAR, 8px);
                width: 34px;
                height: 20px;
                border-radius: 10px;
                right: 0;
                left: 0;
                margin-right: auto;
                margin-left: auto;
                top: 89%;
                background-color: $COLOR_212121_OP_50;
                position: absolute !important;
                display: flex;
                justify-content: center;
                align-items: center;
                @include setCursorDefault();
                @include setUserSelectNone();
              }
              &:last-child {
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
        .frip-product-container {
          padding: 0 20px;
          .frip-product-likeshare-con {
            display: flex;
            justify-content: flex-end;
            margin-top: 12px;
            .frip-product-share {
              margin-right: 20px;
              @include setBackgroundImage('share_gray.png', 16px, 16px);
              @include setCursorPointer();
            }
            .frip-product-unlike {
              @include setBackgroundImage('like_off_gray.png', 16px, 16px);
              @include setCursorPointer();
            }
            .frip-product-like {
              @include setBackgroundImage('like_on.png', 16px, 16px);
              @include setCursorPointer();
            }
          }
          .frip-product-title-con {
            display: flex;
            justify-content: space-between;
            .frip-product-title {
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 13px);
            }
          }

          .frip-product-subtitle {
            margin: 7px 0 0;
            span {
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 20px);
            }
          }

          .frip-product-price-con {
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            padding-bottom: 10px;
            margin-top: 10px;
            align-items: center;
            .frip-product-discount {
              position: absolute;
              top: 0;
              left: 0;
              @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 14px);
              text-decoration: line-through;
            }
            .frip-product-discount-rate {
              margin-top: 20px;
              @include setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 20px);
              margin-right: 5px;
            }
            .frip-product-price {
              margin-top: 20px;
              @include setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 20px);
            }
          }
          .frip-product-desc-con {
            padding-top: 23px;
            border-top: 1px solid $COLOR_DDDDDD;
            ul {
              display: flex;
              align-items: center;
              margin-bottom: 7px!important;
              &:last-child {
                margin-bottom: 0;
              }
              li {
                @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 12px);
              }
              .frip-product-desc-like-icon {
                @include setBackgroundImage('06_detailpage_info_like.png', 10px, 10px);
                margin-right: 8px;
              }
              .frip-product-desc-schedule-icon {
                @include setBackgroundImage('06_detailpage_info_calendar.png', 10px, 10px);
                margin-right: 6px;
              }
              .frip-product-desc-location-icon {
                @include setBackgroundImage('06_detailpage_info_location.png', 10px, 10px);
                margin-right: 6px;
              }
              .frip-product-desc-star-icon {
                @include setBackgroundImage('06_detailpage_info_rate.png', 10px, 10px);
                margin-right: 6px;
              }
              .frip-product-desc-other-schedule {
                display: none;
              }
              .m-frip-product-desc-other-schedule {
                position: fixed;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 60px;
                background-color: $COLOR_212121;
                z-index: 100;
                @include setCursorPointer();
                @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
                @include setUserSelectNone();
              }
              .frip-product-expiration-date {
                @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 10px);
              }
            }
          }
        }
      }
      .info-event-participate-btn {
        position: fixed;
        display: flex;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 60px;
        justify-content: center;
        align-items: center;
        background-color: $COLOR_212121;
        z-index: 100;
        @include setCursorPointer();
        @include setUserSelectNone();
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
      }
      // 프립 공유 다이얼로그(모바일)
      .frip-product-share-entity-container {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 800;
        background-color: $COLOR_212121_OP_46;
        .frip-product-share-modal-container {
          position: absolute;
          display: flex;
          flex-direction: column;
          left: 0;
          right: 0;
          width: 280px;
          height: 120px;
          margin-left: auto;
          margin-right: auto;
          border-radius: 8px;
          padding: 15px 25px;
          top: 205px;
          background-color: $COLOR_FFFFFF;
          .frip-product-share-title-close-btn-con {
            display: flex;
            position: relative;
            justify-content: center;
            .frip-product-share-title {
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 12px);
            }
            .frip-product-close-btn {
              display: block;
              position: absolute;
              right: 0;
              top: 0;
              bottom: 0;
              margin-top: auto;
              margin-bottom: auto;
              @include setBackgroundImage('popup_x.png', 10px, 10px);
              @include setCursorPointer();
            }
          }
          .frip-product-share-contents-con {
            margin-top: 22px;
            display: flex;
            justify-content: center;
            .frip-product-share-facebook {
              display: flex;
              margin-right: 7.5px;
              @include setBackgroundImage('06_detailpage_share_facebook.png', 35px, 35px);
              @include setCursorPointer();
            }
            .frip-product-share-kakao {
              display: flex;
              margin-left: 7.5px;
              @include setBackgroundImage('06_detailpage_share_kakao.png', 35px, 35px);
              @include setCursorPointer();
            }
          }
        }
      }
      .host-entity-container {
        display: flex;
        flex-direction: row;
        margin: 23px 20px 0;
        padding-top: 20px;
        //padding: 30px 20px 0;
        border-top: 1px solid $COLOR_DDDDDD;
        .host-container {
          .host-name {
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);
          }
          .host-profile {
            margin: 20px 0 0 0;
            display: flex;
            max-height: 44px;
            img {
              width: 40px;
              height: 40px;
              max-width: 40px;
              max-height: 40px;
              border-radius: 50%;
            }
            .host-profile-info {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-left: 11px;
              margin-bottom: 0;
              .host-name-con {
                height: 100%;
                margin: 0 !important;
                display: flex;
                align-items: center;
                .host-profile-name {
                  @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);
                }
                .host-profile-tag {
                  width: 36px;
                  height: 16px;
                  margin-left: 5px;

                  span {
                    @include setBackgroundImage('06_detailpage_super.png', 36px, 16px);
                  }
                }
              }
              .host-count-con {
                .host-frip-count {
                  display: flex;
                  flex-direction: row;
                  align-items: flex-end;
                  @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 10px);
                  &:after {
                    content: "";
                    border-right: 1px solid $COLOR_B1B1B1;
                    width: 1px;
                    height: 9px;
                    margin-left: 8px;
                    margin-right: 8px;
                    margin-bottom: 1.5px;
                  }
                }
                .host-like-count {
                  display: flex;
                  align-items: flex-end;
                  @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 10px);
                }
              }
            }
          }
          .host-info {
            margin: 12px 0 0 0;
            white-space: pre-wrap;
            span {
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
            }
          }
        }
      }
      .review-host-entity-container {
        display: flex;
        flex-direction: column;
        margin: 20px 20px 0;
        border-top: 1px solid $COLOR_DDDDDD;
        // 호스트 후기(모바일)
        .review-host-host-name-con {
          margin-top: 20px;
          .review-host-host-name {
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);
          }
        }
        @include setReviewHost(2, 1);
        .review-host-all-reviews {
          width: 100%;
          height: 44px;
          margin-top: 20px;
          border: 1px solid $COLOR_DDDDDD;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
        }
      }
    }
    // 상세 페이지 옵션 선택 화면(모바일)
    .product-select {
      display: none;
      .select-option-entity-container {
        transform: translate3d(0,0,0);
        display: flex;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        flex-direction: column;
        background-color: $COLOR_FFFFFF;
        width: 100%;
        min-width: 320px;
        z-index: 700;
        .select-option-entity-container-wrapper {
          display: flex;
          flex-direction: column;
          height: 100%;
          .select-option-backBtn-con {
            display: flex;
            padding: 18px 0 18px 20px;
            .select-option-backBtn {
              @include setBackgroundImage('m_header_back.png', 18px, 18px);
              @include setCursorPointer();
            }
          }
          .select-option-title {
            display: flex;
            align-items: center;
            padding: 15px 20px;
            border-bottom: 1px solid $COLOR_212121;
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);
          }
          .select-option-menu-container {
            height: auto;
            overflow: auto;
            .select-option-basic-container {
              display: flex;
              position: relative;
              align-items: center;
              justify-content: center;
              min-height: 51px;
              border-bottom: 1px solid $COLOR_DDDDDD;
              @include setCursorPointer();
              // 옵션 선택후 창 (모바일)
              .select-option-basic-and-cost-con-selected {
                display: flex;
                flex-direction: column;
                position: relative;
                width: 100%;
                padding: 15px 20px;
                .select-option-basic {
                  display: flex;
                  color: $COLOR_B1B1B1 !important;
                  .select-option-none-title {
                    @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 12px, true);
                    line-height: 10px;
                  }
                  .select-option-basic-title {
                    display: flex;
                    width: 100%;
                    min-height: 20px;
                    align-items: center;
                    margin-right: 20px;
                    @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px, true);
                    line-height: 10px;
                  }
                }
                .select-option-basic-cost {
                  font-size: 0 !important;
                  .select-option-cost-text {
                    @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
                  }
                }
                .open {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  right: 0;
                  margin: auto 20px;
                  min-width: 9px;
                  min-height: 5px;
                  @include setBackgroundImage('02_faq_close.png', 9px, 5px);
                }
                .closed {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  right: 0;
                  margin: auto 20px;
                  min-width: 9px;
                  min-height: 5px;
                  @include setBackgroundImage('02_faq_open.png', 9px, 5px);
                }
              }
              // 옵션 선택하기 전 창(모바일)
              .select-option-basic-and-cost-con-default {
                display: flex;
                flex-direction: column;
                position: relative;
                width: 100%;
                padding: 15px 20px;
                .select-option-basic {
                  display: flex;
                  .select-option-basic-title {
                    display: flex;
                    width: 100%;
                    min-height: 20px;
                    align-items: center;
                    margin-right: 20px;
                    @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 12px);
                  }
                  .open {
                    position: relative;
                    margin: auto 0;
                    min-width: 9px;
                    min-height: 5px;
                    @include setBackgroundImage('02_faq_close.png', 9px, 5px);
                  }
                  .closed {
                    position: relative;
                    margin: auto 0;
                    min-width: 9px;
                    min-height: 5px;
                    @include setBackgroundImage('02_faq_open.png', 9px, 5px);
                  }
                }
                .select-option-basic-cost {
                  .select-option-cost-text {
                    @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
                  }
                }
              }
            }
            .select-option-cost-and-quantity-entity-container {
              display: block;
              .select-option-participate-cost-container {
                position: relative;
                display: flex;
                flex-direction: column;
                min-height: 70px;
                padding: 10px 20px 8px 20px;
                background-color: $COLOR_DDDDDD_OP_20;
                border-top: 1px solid $COLOR_DDDDDD;
                @include setCursorPointer();
                &:first-child {
                  border-top: none;
                }
                &:last-child{
                  border-bottom: 1px solid $COLOR_DDDDDD;
                }
                .select-option-participate-title-con {
                  max-width: 275px;
                  span {
                    line-height: 15px;
                    @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
                  }
                }
                .select-option-quantity-con {
                  max-width: 250px;
                  margin-top: 9px;
                  .select-option-quantity-text {
                    @include setFont($COLOR_666666, $FONT_WEIGHT_MEDIUM, 10px);
                  }
                }
                .select-option-cost-con {
                  position: absolute;
                  right: 20px;
                  span {
                    text-decoration: line-through;
                    @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
                  }
                }
                .select-option-discount-con {
                  position: absolute;
                  bottom: 8px;
                  right: 20px;
                  span {
                    @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 12px);
                  }
                }
              }
            }
          }
          .select-option-menu-result-container {
            display: flex;
            margin: 15px 20px 10px;
            padding: 10px 10px 8px 18px;
            min-height: 76px;
            flex-direction: row;
            justify-content: space-between;
            border: 1px solid $COLOR_DDDDDD;
            .select-option-menu-result-sche-title-price-con {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .select-option-menu-sche {
                height: 14px;
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
              }
              .select-option-menu-title {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                word-wrap:break-word;
                @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
              }
              .select-option-menu-price {
                height: 20px;
                @include setFont($COLOR_FF6600, $FONT_WEIGHT_MEDIUM, 14px);
              }
            }
            .select-option-menu-remove-plus-minus-con {
              display: flex;
              flex-direction: column;
              margin-top: 2px;
              justify-content: space-between;
              position: relative;
              .select-option-menu-remove {
                display: flex;
                align-self: flex-end;
                @include setBackgroundImage('07_myofriends_review_photo_delete.png', 14px, 14px);
                @include setCursorPointer();
              }
              .select-option-menu-plus-minus-con {
                display: flex;
                flex-direction: row;
                align-items: center;
                .select-option-menu-quantity {
                  width: 22px;
                  height: 24px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-left: 5px;
                  margin-right: 5px;
                  @include setFont($COLOR_424242, $FONT_WEIGHT_REGULAR, 12px);
                }
                .minus-btn.enabled {
                  display: block;
                  @include setBackgroundImage('06_detailpage_amount_minus_on.png', 14px, 14px);
                  @include setCursorPointer();
                }
                .minus-btn.disabled {
                  display: block;
                  @include setBackgroundImage('06_detailpage_amount_minus_off.png', 14px, 14px);
                  @include setCursorPointer();
                }
                .plus-btn.enabled {
                  display: block;
                  @include setBackgroundImage('06_detailpage_amount_plus_on.png', 14px, 14px);
                  @include setCursorPointer();
                }
                .plus-btn.disabled {
                  display: block;
                  @include setBackgroundImage('06_detailpage_amount_plus_off.png', 14px, 14px);
                  @include setCursorPointer();
                }
              }
            }
          }
          .select-option-schedule-entity {
            height: auto;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 15px 0 15px 20px;
            border-bottom: 1px solid $COLOR_DDDDDD;
            @include setCursorPointer();
            .select-option-schedule-option-default {
              width: 100%;
              position: relative;
              display: flex;
              flex-direction: row;
              .select-option-schedule {
                max-width: 320px;
                span {
                  @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 12px);
                }
              }
              .open {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto 0;
                right: 20px;
                @include setBackgroundImage('02_faq_close.png', 9px, 5px);
              }

              .closed {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto 0;
                right: 20px;
                @include setBackgroundImage('02_faq_open.png', 9px, 5px);
              }

            }
            .select-option-schedule-option-selected {
              width: 100%;
              position: relative;
              display: flex;
              flex-direction: column;
              .select-option-schedule {
                max-width: 320px;
                span {
                  @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 10px);
                }
              }
              .select-option-schedule-item-date-con {
                max-width: 320px;
                span {
                  @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
                }
              }
              .open {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto 0;
                right: 20px;
                @include setBackgroundImage('02_faq_close.png', 9px, 5px);
              }

              .closed {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto 0;
                right: 20px;
                @include setBackgroundImage('02_faq_open.png', 9px, 5px);
              }
            }
          }
          // 모바일 선택 창 및 오류 모달 창
          .select-option-menu-notice-container {
            display: block;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-height: 60px !important;
            .select-option-menu-notice {
              display: flex;
              flex: 0 0 auto;
              justify-content: center;
              align-items: center;
              position: fixed;
              height: 48px;
              max-height: 48px;
              text-align: center;
              right: 20px;
              left: 20px;
              bottom: 80px;
              min-width: 230px;
              @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 8px);
              background-color: $COLOR_212121_OP_85;
              border-radius: 5px;
            }
            .enabled {
              display: flex;
              position: fixed;
              width: 100%;
              min-width: 320px;
              bottom: 0;
              justify-content: center;
              align-items: center;
              max-height: 60px;
              height: 60px;
              background-color: $COLOR_212121;
              @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
              @include setCursorPointer();
            }
            .disabled {
              display: flex;
              position: fixed;
              width: 100%;
              min-width: 320px;
              bottom: 0;
              justify-content: center;
              align-items: center;
              max-height: 60px;
              height: 60px;
              background-color: $COLOR_212121;
              @include setPointerEventsNone();
              @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
              @include setCursorPointer();
            }
          }
          @include setOneBtnModal(2);
        }

      }
      .select-option-schedule-entity-item {
        background-color: $COLOR_DDDDDD_OP_20;
        .select-option-schedule-item {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: space-between;
          padding: 12px 20px 15px;
          border-bottom: 1px solid $COLOR_DDDDDD;
          @include setCursorPointer();
          .select-option-schedule-date-con {
            span {
              @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 10px);
            }
          }
          .select-option-schedule-detail {
            margin-top: 3px;
            margin-bottom: 0 !important;
            display: flex;
            flex-direction: row;
            li {
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 8px);
            }
          }
        }
      }
      .select-option-notice-msg {
        @include serverErrorMsg(2);
      }
      @include setOneBtnModal(2);
    }
    .info-entity-container {
      margin: 20px 20px 0;
      padding: 20px 0 0;
      border-top: 1px solid $COLOR_DDDDDD;
      .info-header-title {
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);
      }
      .info-body-con {
        margin-top: 20px;
        p {
          margin-bottom: 0 !important;
          @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
          .fr-fic.fr-dii {
            max-width: 420px;
            //max-height: 280px;
            width: 100%;
            height: 100%;
            border-radius: 3px;
          }
          .fr-fic.fr-dib {
            max-width: 420px;
            width: 100%;
            height: 100%;
            border-radius: 3px;
          }
          //img {
          //  max-height: 280px;
          //  max-width: 520px;
          //  border-radius: 3px;
          //}
          span {
            font-family: $BASE_FONT_KR !important;
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
            strong {
              font-family: $BASE_FONT_KR !important;
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px, true);
            }
          }
        }
      }
      .info-body-included-con {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        margin-top: 30px;
        border-top: 1px solid $COLOR_E6E6E6;
        .info-body-included-title {
          margin-bottom: 20px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
        }
        .info-body-included {
          @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
          letter-spacing: 0;
        }
      }
      .info-body-notIncluded-con {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        border-top: 1px solid $COLOR_E6E6E6;
        .info-body-notIncluded-title {
          margin-bottom: 20px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
        }
        .info-body-notIncluded {
          @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
          letter-spacing: 0;
        }
      }
      .info-body-timeTable-con {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        border-top: 1px solid $COLOR_E6E6E6;
        .info-body-timetable-title {
          margin-bottom: 20px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
        }
        .info-body-timeTable-contents {
          margin-bottom: 0!important;
          .info-body-timeTable-type-detail {
            margin-bottom: 16px;
            .info-body-timeTable-time {
              margin-right: 20px;
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
            }
            .info-body-timeTable-description {
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
            }
          }
          .info-body-timeTable-type-text {
            margin-top: 20px;
            .info-body-timeTable-description {
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
            }
          }
        }
      }
      .info-body-prepare-con {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        border-top: 1px solid $COLOR_E6E6E6;
        .info-body-prepare-title {
          margin-bottom: 20px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
        }
        .info-body-prepare {
          @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
          letter-spacing: 0;
        }
      }
      .info-body-note-con {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        border-top: 1px solid $COLOR_E6E6E6;
        .info-body-note-title {
          margin-bottom: 20px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
        }
        .info-body-note {
          @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
          letter-spacing: 0;
          p {
            span {
              font-family: $BASE_FONT_KR !important;
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
              word-spacing: 0 !important;
              letter-spacing: 0 !important;
            }
          }
        }
      }
      .info-body-location-con {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        border-top: 1px solid $COLOR_E6E6E6;
        .info-body-location-title {
          margin-bottom: 20px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
        }
        .info-body-location-map-con {
          z-index: 0;
          width: 100%;
          #venue_map_m {
            z-index: 0;
            display: inline-block;
            width: 100%!important;
            height: 100% !important;
            min-width: 250px !important;
            min-height: 250px !important;
          }
          #venue_map {
            display: none;
          }
        }
        .info-body-location {
          margin-top: 10px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px, true);
        }
      }
      .info-body-faq-con {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        border-top: 1px solid $COLOR_E6E6E6;
        .info-body-faq-title {
          margin-bottom: 20px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);
        }
        .info-body-faq-container {
          .info-body-faq-q-con {
            margin-top: 12px;
            .info-body-faq-icon-q {
              // 아이콘 추가
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 12px, true);
            }
            .info-body-faq-question {
              margin-left: 12px;
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px, true);
            }
          }
          .info-body-faq-a-con {
            margin-top: 12px;
            .info-body-faq-icon-a {
              // 아이콘 추가
              @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 12px, true);
            }
            .info-body-faq-answer {
              margin-left: 12px;
              @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px, true);
            }
          }
        }
      }
      .info-body-refund-con {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        border-top: 1px solid $COLOR_E6E6E6;
        .info-body-refund-title {
          margin-bottom: 20px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px);

        }
        .info-body-refund {
          @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px, true);
          word-break: break-all;
          white-space: pre-wrap;
        }
      }
    }
  }
  // 10. 아이템(프립) 상세 페이지(모바일)
}
