@import "./variable.scss";
// 데스크톱 전용
@media #{$desktop} {
  // 5. 비밀번호 찾기 시작(데스크톱)
  .pw-reset-entity-container {
    margin: 110px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 385px;
    .pw-reset-email-send-title {
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
    }
    .pw-reset-email-send-desc {
      margin-top: 20px;
      @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 14px);
    }
    .pw-reset-email-input-err-con {
      width: 100%;
      height: max-content;
      margin-top: 50px;
      position: relative;
      .pw-reset-email-input {
        height: 30px;
        border: none;
        width: inherit;
        padding-right: 30px;
        border-bottom: 1px solid $COLOR_DDDDDD;
        @include setValidInvalidBorder(14px);
        @include ieRemoveXButton();
      }
      .pw-reset-email-err-msg {
        position: absolute;
        top: 40px;
        left: 0;
        @include setFont($COLOR_FF0C0C, $FONT_WEIGHT_REGULAR, 12px);
      }
      .pw-reset-email-remove-btn {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right: 10px;
        @include setBackgroundImage('07_myofriends_review_photo_delete.png', 15px, 15px);
      }
    }
    .enabled {
      margin-top: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 285px;
      height: 44px;
      background-color: $COLOR_FF6600;
      border-radius: 22px;
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
      @include setCursorPointer();
    }
    .disabled {
      margin-top: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 285px;
      height: 44px;
      background-color: $COLOR_DDDDDD;
      border-radius: 22px;
      @include setPointerEventsNone();
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
      @include setCursorDefault();
    }

    // 임시 비밀번호 발급 페이지(데스크톱)
    .pw-reset-sending-email-title {
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
    }
    .pw-reset-temp-pw-desc {
      display: flex;
      justify-content: center;
      align-content: center;
      width: 430px;
      height: 120px;
      padding: 30px 10px;
      margin-top: 20px;
      text-align: center;
      vertical-align: center;
      background-color: $COLOR_DDDDDD_OP_30;
      border-radius: 8px;
      @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 14px);
    }
    .pw-reset-login-with-tempPw {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 285px;
      height: 44px;
      background-color: $COLOR_FF6600;
      border-radius: 22px;
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
    }
    .pw-reset-notice-msg {
      @include serverErrorMsg(1);
    }
  }
  // 5. 비밀번호 찾기 끝(데스크톱)
}
// 모바일 전용
@media #{$mobile} {
  // 5. 비밀번호 찾기 시작(모바일)
  .pw-reset-entity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 20px 0;
    .pw-reset-email-send-title {
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
    }
    .pw-reset-email-send-desc {
      margin-top: 4px;
      @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 10px);
    }
    .pw-reset-email-input-err-con {
      width: 260px;
      height: max-content;
      margin-top: 20px;
      position: relative;
      .pw-reset-email-input {
        height: 30px;
        border: none;
        width: inherit;
        padding-right: 30px;
        border-bottom: 1px solid $COLOR_DDDDDD;
        @include setMobileSafariInputBox();
        @include setValidInvalidBorder(12px);
        @include ieRemoveXButton();
      }
      .pw-reset-email-err-msg {
        position: absolute;
        top: 40px;
        left: 0;
        @include setFont($COLOR_FF0C0C, $FONT_WEIGHT_REGULAR, 8px);
      }
      .pw-reset-email-remove-btn {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right: 5px;
        @include setBackgroundImage('07_myofriends_review_photo_delete.png', 14px, 14px);
      }
    }
    .enabled {
      margin-top: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 260px;
      height: 40px;
      background-color: $COLOR_FF6600;
      border-radius: 20px;
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
      @include setCursorPointer();
    }
    .disabled {
      margin-top: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 260px;
      height: 40px;
      background-color: $COLOR_DDDDDD;
      border-radius: 20px;
      @include setPointerEventsNone();
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
      @include setCursorDefault();
    }

    // 임시 비밀번호 발급 페이지
    .pw-reset-sending-email-title {
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
    }
    .pw-reset-temp-pw-desc {
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 30px 10px;
      margin-top: 20px;
      text-align: center;
      vertical-align: center;
      height: auto;
      background-color: $COLOR_DDDDDD_OP_30;
      border-radius: 8px;
      @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 10px);
    }
    .pw-reset-login-with-tempPw {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 260px;
      height: 40px;
      background-color: $COLOR_FF6600;
      border-radius: 20px;
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
    }
    .pw-reset-notice-msg {
      @include serverErrorMsg(2);
    }
  }
  // 5. 비밀번호 찾기 끝(모바일)
}
