@import "./variable.scss";
// 데스크톱 전용
@media #{$desktop} {
  // 9. 지금 뜨는 오프렌즈 전체보기(데스크톱)
  .route-recommend-entity-container {
    margin: 60px auto 0;
    max-width: 990px;
    padding: 0 30px 0;
    .main-header-entity-container {
      // 두번 째 헤더(추천, 일상, Special)
      .main-header {
        display: flex;
        flex-direction: row;
        span {
          cursor: pointer;
        }
        .main-header-recommended {
          display: flex;
          .selected {
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 30px);
            font-weight: $FONT_WEIGHT_BOLD;
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
              margin-top: 6px;
              width: 7px;
              height: 7px;
              background-color: $COLOR_FF6600;
              display: block;
              border-radius: 50%;
            }
          }
          .unselected {
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 30px);
          }
        }

        .main-header-daily {
          margin-left: 47px;
          display: flex;
          .selected {
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 30px);
            font-weight: $FONT_WEIGHT_BOLD;
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
              margin-top: 6px;
              width: 7px;
              height: 7px;
              background-color: $COLOR_FF6600;
              display: block;
              border-radius: 50%;
            }
          }
          .unselected {
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 30px);
          }
        }

        .main-header-special {
          margin-left: 45px;
          display: flex;
          .selected {
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 30px);
            font-weight: $FONT_WEIGHT_BOLD;
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
              margin-top: 6px;
              width: 7px;
              height: 7px;
              background-color: $COLOR_FF6600;
              display: block;
              border-radius: 50%;
            }
          }
          .unselected {
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 30px);
          }
        }
      }
      // 두번 째 헤더(추천, 일상, Special) 끝
    }
    .route-recommend-exhibit-banner-wrapper {
      position: relative;
      padding-top: 40%;
      border-radius: 8px;
      max-height: 370px;
      max-width: 930px;
      margin-top: 21px;
      .route-recommend-exhibit-image-m {
        display: none;
      }
      .route-recommend-exhibit-image-d {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background-color: $COLOR_DDDDDD;
      }
    }
    .route-recommend-title-con {
      display: flex;
      flex-direction: row;
      position: relative;
      .route-recommend-title {
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
      }
      .route-recommend-number {
        padding-left: 8px;
        @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 22px);
      }
      .rec-align {
        display: flex;
        z-index: 201;
        margin-left: auto;
        height: 38px;
        width: 92px;
        border: 1px solid $COLOR_666666;
        align-items: center;
        justify-content: center;
        @include setCursorPointer();
        .rec-align-icon {
          display: block;
          margin-top: 1px;
          @include setBackgroundImage('03_special_sorting.png', 14px, 14px);
        }
        .rec-align-title {
          @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
          margin-left: 3px;
        }
        //&:after {
        //  display: flex;
        //  position: absolute;
        //  content: url('https://static.ofriends.co.kr/images/static/03_special_sorting.png');
        //  transform: scale(.33);
        //  left: 6px;
        //  top: -3.5px;
        //}
        // 라이프 - 정렬 드롭다운 창(데스크톱)
      }
      .rec-align-dropdown {
        position: absolute;
        width: 92px;
        height: 170px;
        right: 0;
        top: 45px;
        z-index: 300;
        border: 1px solid $COLOR_DDDDDD;
        background-color: $COLOR_FFFFFF;
        box-shadow: 0 0 1px rgba(139, 139, 139, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 34px;
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 12px);
          &:hover {
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 12px);
          }
        }
      }

    }
    .route-recommend-rising-ofriends-items {
      padding-top: 22px;
      .search-no-contents-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 146px;
        .search-no-contents-icon {
          @include setBackgroundImage('nocontent.png', 100px, 100px);
        }
        .search-no-contents-title {
          margin-top: 25px;
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 18px);
        }
      }
      .route-recommend-rising-ofriends-item-list {
        display: flex;
        flex-wrap: wrap;
        //display: grid;
        //grid-template-columns: repeat(4, 1fr);
        //grid-column-gap: 10px;
        @include setOfriendsBodyItem(1);
      }
    }
    @include setPagination(45px, 150px);
  }
  // 9. 지금 뜨는 오프렌즈 끝(데스크톱)
}
// 모바일 전용
@media #{$mobile} {
  // 9. 지금 뜨는 오프렌즈 전체보기(모바일)
  .route-recommend-entity-container {
    margin-top: 40px;
    .main-header-entity-container {
      padding: 0 20px;
      .main-header {
        display: flex;
        flex-direction: row;
        .main-header-recommended {
          .selected {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px, true);
            .main-header-dot {
              margin-top: 6px;
              width: 4px;
              height: 4px;
              background-color: $COLOR_FF6600;
              display: block;
              border-radius: 50%;
            }
          }
          .unselected {
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 18px, true);
          }
        }
        .main-header-daily {
          margin-left: 20px;
          display: flex;
          .selected {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px, true);
            .main-header-dot {
              margin-top: 6px;
              width: 4px;
              height: 4px;
              background-color: $COLOR_FF6600;
              display: block;
              border-radius: 50%;
            }
          }
          .unselected {
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 18px, true);
          }
        }
        .main-header-special {
          margin-left: 20px;
          display: flex;
          .selected {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 18px, true);
            .main-header-dot {
              margin-top: 6px;
              width: 4px;
              height: 4px;
              background-color: $COLOR_FF6600;
              display: block;
              border-radius: 50%;
            }
          }
          .unselected {
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 18px, true);
          }
        }

      }
    }
    .route-recommend-exhibit-banner-wrapper {
      margin-top: 10px;
      position: relative;
      padding-top: 47.225%;
      min-height: 151.1px;
      max-height: 226.1px;
      .route-recommend-exhibit-image-d {
        display: none;
      }
      .route-recommend-exhibit-image-m {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: $COLOR_DDDDDD;
      }
    }
    .route-recommend-title-con {
      display: flex;
      flex-direction: row;
      padding: 0 20px;
      position: relative;
      align-items: center;
      .route-recommend-title {
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
      }
      .route-recommend-number {
        padding-left: 3px;
        @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 16px);
      }
      // 지금 뜨는 오프렌즈 정렬 (모바일)
      .rec-align {
        display: flex;
        margin-left: auto;
        width: 88px;
        height: 30px;
        border: 1px solid $COLOR_DDDDDD;
        border-radius: 15px;
        border: 1px solid $COLOR_666666;
        align-items: center;
        justify-content: center;
        @include setCursorPointer();
        .rec-align-icon {
          display: block;
          margin-top: 1px;
          @include setBackgroundImage('03_special_sorting.png', 12px, 12px);
        }
        .rec-align-title {
          @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 12px);
          margin-left: 3px;
        }
        //&:after {
        //  display: flex;
        //  position: absolute;
        //  content: url('https://static.ofriends.co.kr/images/static/03_special_sorting.png');
        //  transform: scale(.33);
        //  left: 6px;
        //  top: -3.5px;
        //}
      }
      .rec-align-dropdown {
        position: absolute;
        width: 110px;
        height: 179px;
        top: 37px;
        right: 20px;
        z-index: 300;
        border: 1px solid $COLOR_DDDDDD;
        background-color: $COLOR_FAFAFA;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
          display: flex;
          align-items: center;
          height: 36px;
          width: 100%;
          justify-content: center;
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 12px);

          //color: $COLOR_212121;
          //width: 100%;
          //display: flex;
          //align-items: center;
          //justify-content: center;
          //font-size: 12px;
          //height: 34px;

          &:hover {
            @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 12px);
          }
        }
      }

    }
    .route-recommend-rising-ofriends-items {
      padding: 20px 20px 0;
      .route-recommend-rising-ofriends-item-list {
        display: flex;
        flex-wrap: wrap;
        //display: grid;
        //grid-template-columns: repeat(2, 1fr);
        //grid-column-gap: 10px;
        //grid-row-gap: 20px;
        //justify-content: space-between;
        @include setOfriendsBodyItem(2);
      }
      .search-no-contents-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 120px;
        .search-no-contents-icon {
          @include setBackgroundImage('nocontent.png', 52px, 52px);
        }
        .search-no-contents-title {
          margin-top: 10px;
          @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 13px);
        }
      }
    }
    @include setPagination(20px, 50px);
  }
  // 9. 지금 뜨는 오프렌즈(모바일) 끝
}
