@import "variable";
// 데스크톱 전용

// /register
// /login

@media #{$desktop} {
  // 2. 회원가입 메뉴 회원가입 약관 동의 모달 창 시작(데스크톱)
  .common-login-entity-container {
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    padding: 110px 30px 0;
    flex-direction: column;
    align-items: center;
    .common-login-title {
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
    }
    .common-email-register {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 285px;
      height: 44px;
      background-color: $COLOR_83786F;
      border-radius: 22px;
      margin-top: 30px;
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
    }
    .common-fb-register-container {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 285px;
      height: 44px;
      background-color: $COLOR_3A589B;
      border-radius: 22px;
      margin-top: 15px;
      @include setCursorPointer();
      .common-fb-register-icon {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 16px;
        @include setBackgroundImage('05_login_facebook.png', 22px, 22px);
        &:after {
          content: "";
          position: absolute;
          display: flex;
          height: 44px;
          width: 1px;
          top: 0;
          bottom: 0;
          margin-left: 34px;
          margin-top: auto;
          margin-bottom: auto;
          border-right: 1px solid $COLOR_FFFFFF_OP_20;
        }
      }
      .common-fb-register-text {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
      }
    }

    .common-kakao-register-container {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 285px;
      height: 44px;
      background-color: $COLOR_FFE812;
      border-radius: 22px;
      margin-top: 15px;
      @include setCursorPointer();
      .common-kakao-register-icon {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 16px;
        @include setBackgroundImage('05_login_kakao.png', 22px, 22px);
        &:after {
          content: "";
          display: flex;
          height: 100%;
          width: 1px;
          top: 0;
          bottom: 0;
          margin-left: 34px;
          margin-top: auto;
          margin-bottom: auto;
          border-right: 1px solid $COLOR_FFFFFF_OP_20;
        }
      }
      .common-kakao-register-text {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 14px);
      }
    }

    .common-email-login {
      margin-top: 25px;
      @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 12px);
      text-decoration: underline !important;
    }
  }
  .terms-agreement-entity-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 700;
    background-color: $COLOR_212121_OP_46;
    .terms-agreement-modal-container {
      position: relative;
      width: 420px;
      height: 329px;
      top: 180px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      background-color: $COLOR_FFFFFF;
      border-radius: 8px;
      padding: 30px 40px;
      .terms-agreement-title {
        display: flex;
        justify-content: center;
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
      }
      .terms-agreement-clickClose {
        position: absolute;
        top: 36px;
        right: 24px;
        @include setBackgroundImage('popup_x.png', 10px, 10px);
        @include setCursorPointer();
      }
      .terms-agreement-checkbox-con {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
        align-items: center;
        max-width: 70px;
        @include setCursorPointer();
        .not-checked {
          display: block;
          @include setUnCheckedBtn(14px, 14px);
        }
        .checked {
          display: block;
          @include setCheckedBtn(14px, 14px, 6px, 6px);
        }
        .terms-agreement-all-agreement {
          width: 100%;
          margin-left: 6px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
        }
      }
      .terms-agreement-clickAgree {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: flex-start;
        justify-content: space-between;
        height: 82px;
        width: 100%;
        border: 1px solid $COLOR_212121;
        padding: 16px 21px;
        margin-bottom: 10px;
        .terms-agreement-terms {
          text-decoration: underline!important;
          @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
        }
        .terms-agreement-personal-information {
          text-decoration: underline!important;
          @include setCursorPointer();
          @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
        }
      }
      .terms-agreement-adult-agreement {
        height: 20px;
        @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 12px);
      }
      .disabled {
        display: flex;
        position: absolute;
        margin-top: 30px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        width: 285px;
        height: 44px;
        background-color: $COLOR_DDDDDD;
        border-radius: 22px;
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
        @include setCursorDefault();
        @include setPointerEventsNone();
      }
      .enabled {
        display: flex;
        position: absolute;
        margin-top: 30px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        width: 285px;
        height: 44px;
        background-color: $COLOR_FF6600;
        border-radius: 22px;
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
        @include setCursorPointer();
      }
    }
    @include setUsePrivacyPopup(1, 0, 200px);
  }
  .terms-agreement-register-failed {
    position: fixed;
    z-index: 1001;
    display: flex;
    right: 0;
    left: 0;
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    max-width: 930px;
    width: calc(93vw - 10vw);
    height: 50px;
    background-color: $COLOR_212121;
    border-radius: 3px;
    visibility: visible;
    @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
    @include setCursorDefault();
    @include setUserSelectNone();
    @include fadeOut();
  }
  // 2. 회원가입 메뉴 회원가입 약관 도으이 모달 창 끝(데스크톱)
}
// 모바일 전용
@media #{$mobile} {
  // 2. 회원가입 메뉴 창 시작  및 회원가입 약관 동의 모달 시작(모바일)
  .common-login-entity-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 35px 20px 0;
    align-items: center;
    .common-login-title {
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
    }
    .common-email-register {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 260px;
      height: 40px;
      background-color: $COLOR_83786F;
      border-radius: 22px;
      margin-top: 30px;
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
    }
    .common-fb-register-container {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 260px;
      height: 40px;
      background-color: $COLOR_3A589B;
      border-radius: 22px;
      margin-top: 15px;
      @include setCursorPointer();
      .common-fb-register-icon {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 16px;
        @include setBackgroundImage('05_login_facebook.png', 22px, 22px);
        &:after {
          content: "";
          position: absolute;
          display: flex;
          height: 44px;
          width: 1px;
          top: 0;
          bottom: 0;
          margin-left: 34px;
          margin-top: auto;
          margin-bottom: auto;
          border-right: 1px solid $COLOR_FFFFFF_OP_20;
        }
      }
      .common-fb-register-text {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
      }
    }
    .common-kakao-register-container {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 260px;
      height: 40px;
      background-color: $COLOR_FFE812;
      border-radius: 22px;
      margin-top: 15px;
      @include setCursorPointer();
      .common-kakao-register-icon {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 16px;
        @include setBackgroundImage('05_login_kakao.png', 22px, 22px);
        &:after {
          content: "";
          display: flex;
          height: 100%;
          width: 1px;
          top: 0;
          bottom: 0;
          margin-left: 34px;
          margin-top: auto;
          margin-bottom: auto;
          border-right: 1px solid $COLOR_FFFFFF_OP_20;
        }
      }
      .common-kakao-register-text {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 12px);
      }
    }
    .common-email-login {
      margin-top: 20px;
      @include setFont($COLOR_666666, $FONT_WEIGHT_REGULAR, 14px);
      text-decoration: underline !important;
    }
  }
  .terms-agreement-entity-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 700;
    background-color: $COLOR_FFFFFF;
    .terms-agreement-modal-container {
      position: relative;
      display: flex;
      min-width: 320px;
      flex-direction: column;
      align-items: center;
      padding: 22px 50px 0;
      .terms-agreement-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 29px;
        margin-top: 40px;
        @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
        &:before {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 20px;
          left: 20px;
          right: 20px;
          margin: 0 auto;
          content: "약관동의";
          @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 14px);
        }
      }
      .terms-agreement-clickClose {
        position: absolute;
        top: 22px;
        left: 20px;
        @include setBackgroundImage('m_header_close.png', 18px, 18px);
        @include setCursorPointer();
      }
      .terms-agreement-checkbox-con {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin-top: 25px;
        align-items: center;
        @include setCursorPointer();
        .not-checked {
          display: block;
          @include setUnCheckedBtn(14px, 14px);
        }
        .checked {
          display: block;
          @include setCheckedBtn(14px, 14px, 6px, 6px);
        }
        .terms-agreement-all-agreement {
          margin-left: 6px;
          @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
        }
      }
      .terms-agreement-clickAgree {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: flex-start;
        justify-content: space-between;
        height: 82px;
        width: 100%;
        border: 1px solid $COLOR_212121;
        padding: 16px 21px;
        margin-bottom: 10px;
        .terms-agreement-terms {
          text-decoration: underline!important;
          @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
        }
        .terms-agreement-personal-information {
          text-decoration: underline!important;
          @include setCursorPointer();
          @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
        }
      }
      .terms-agreement-adult-agreement {
        width: 100%;
        height: 20px;
        @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 12px);
      }
      .disabled {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        min-width: 220px;
        width: 100%;
        height: 40px;
        background-color: $COLOR_DDDDDD;
        border-radius: 20px;
        @include setPointerEventsNone();
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px, true);
        @include setCursorDefault();
      }
      .enabled {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        min-width: 220px;
        width: 100%;
        height: 40px;
        background-color: $COLOR_FF6600;
        border-radius: 20px;
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px, true);
        @include setCursorPointer();
      }
    }
    @include setUsePrivacyPopup(2);
  }
  .terms-agreement-register-failed {
    position: absolute;
    display: flex;
    margin-top: 150px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 48px;
    background-color: $COLOR_212121_OP_85;
    border-radius: 5px;
    @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 8px);
    @include setCursorDefault();
    @include setUserSelectNone();
    @include fadeOut();
  }
  // 2. 회원가입 메뉴 창 시작  및 회원가입 약관 동의 모달 시작(모바일)
}
