@import "./variable.scss";
// 데스크톱 전용
@media #{$desktop} {
  // 3. 이메일 회원가입 시작(데스크톱)

  // /register/email

  .register-email-entity-container {
    display: flex;
    max-width: 990px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 110px auto 400px;
    width: 385px;
    .register-email-title {
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
    }

    .register-email-inputEmail-con {
      width: 100%;
      height: max-content;
      margin-top: 30px;
      position: relative;
      .register-email-inputEmail {
        height: 30px;
        border: none;
        width: inherit;
        padding-right: 30px;
        border-bottom: 1px solid $COLOR_DDDDDD;
        @include setValidInvalidBorder(14px);
        @include ieRemoveXButton();
      }
      .register-email-remove-btn {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right: 10px;
        @include setBackgroundImage('07_myofriends_review_photo_delete.png', 15px, 15px);
      }
      .register-email-inputErrMsg {
        position: absolute;
        top: 40px;
        left: 0;
        @include setFont($COLOR_FF0C0C, $FONT_WEIGHT_REGULAR, 12px);
      }
    }

    .register-email-inputPw-con {
      width: 100%;
      height: max-content;
      margin-top: 50px;
      position: relative;
      .register-email-inputPw {
        height: 30px;
        border: none;
        width: inherit;
        border-bottom: 1px solid $COLOR_DDDDDD;
        @include setValidInvalidBorder(14px);
        @include ieRemovePwReveal();
      }
      .register-email-removePw {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right: 10px;
        @include setBackgroundImage('07_myofriends_review_photo_delete.png', 15px, 15px);
      }
      .register-email-pwErrMsg {
        position: absolute;
        top: 40px;
        left: 0;
        @include setFont($COLOR_FF0C0C, $FONT_WEIGHT_REGULAR, 12px);
      }
    }

    .register-email-inputPwConfirm-con {
      width: 100%;
      height: max-content;
      margin-top: 50px;
      position: relative;
      .register-email-inputPwConfirm {
        height: 30px;
        border: none;
        width: inherit;
        border-bottom: 1px solid $COLOR_DDDDDD;
        @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_REGULAR, 14px);
        @include setValidInvalidBorder(14px);
        @include ieRemovePwReveal();
      }
      .register-email-removeRepeat {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right: 10px;
        @include setBackgroundImage('07_myofriends_review_photo_delete.png', 15px, 15px);
      }
      .register-email-confirmErrMsg {
        position: absolute;
        top: 40px;
        left: 0;
        @include setFont($COLOR_FF0C0C, $FONT_WEIGHT_REGULAR, 12px);
      }
    }

    .register-email-recomCode-con {
      width: 100%;
      height: max-content;
      margin-top: 60px;
      position: relative;
      .register-email-recomCode-title {
        height: 30px;
        align-self: flex-start;
        width: 100%;
        @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
      }
      .register-email-inputRecomCode {
        margin-top: 10px;
        height: 30px;
        border: none;
        width: 100%;
        border-bottom: 1px solid $COLOR_DDDDDD;
        @include setValidInvalidBorder(14px);
        @include ieRemoveXButton();
      }
      .register-email-input-RecomErrMsg {
        position: absolute;
        top: 40px;
        left: 0;
        @include setFont($COLOR_FF0C0C, $FONT_WEIGHT_REGULAR, 12px);
      }
    }

    .register-email-terms-agreement-container {
      margin-top: 40px;
      width: 385px;
      height: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @include setCursorPointer();
      .not-checked { // 14, 14
        @include setUnCheckedBtn(14px, 14px);
      }
      .checked { // 14, 14, 6, 6
        @include setCheckedBtn(14px, 14px, 6px, 6px);
      }
      .register-email-all-agreement {
        margin-left: 6px;
        @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
      }
    }

    .register-email-terms-container {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      border: 1px solid $COLOR_212121;
      padding: 16px 20px;
      margin-top: 10px;
      justify-content: space-between;
      height: 82px;
      .register-email-terms-agreement-terms {
        text-decoration: underline!important;
        display: flex;
        @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
      }
      .register-email-terms-agreement-personal-information {
        text-decoration: underline!important;
        display: flex;
        @include setCursorPointer();
        @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
      }
    }
    .register-email-terms-adult-agreement {
      width: 100%;
      margin-top: 10px;
      @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 12px);
    }
  }

  .register-email-register-btn-active {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 44px;
    background-color: $COLOR_FF6600;
    border-radius: 22px;
    @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
    @include setUserSelectNone();
    @include setCursorPointer();
  }

  .register-email-register-btn-inactive {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 44px;
    background-color: $COLOR_DDDDDD;
    border-radius: 22px;
    @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
    @include setPointerEventsNone();
    @include setUserSelectNone();
    @include setCursorDefault();
  }

  .register-email-notice-msg {
    @include serverErrorMsg(1);
  }

  @include setUsePrivacyPopup(1, auto, auto, fixed);
}
// 3. 이메일 회원가입 끝(데스크톱)
// 모바일 전용
@media #{$mobile} {
  // 3. 이메일 회원가입 시작(모바일)
  .register-email-entity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 50px 0;
    .register-email-title {
      @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
    }
    .register-email-inputEmail-con {
      width: 100%;
      height: 26px;
      margin-top: 40px;
      position: relative;
      .register-email-inputEmail {
        height: 30px;
        border: none;
        width: inherit;
        padding-right: 30px;
        border-bottom: 1px solid $COLOR_DDDDDD;
        @include setMobileSafariInputBox();
        @include setValidInvalidBorder(12px);
        @include ieRemoveXButton();
      }
      .register-email-remove-btn {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right: 5px;
        @include setBackgroundImage('07_myofriends_review_photo_delete.png', 14px, 14px);
      }
      .register-email-inputErrMsg {
        position: absolute;
        top: 32px;
        left: 0;
        @include setFont($COLOR_FF0C0C, $FONT_WEIGHT_REGULAR, 10px);
      }
    }

    .register-email-inputPw-con {
      width: 100%;
      height: 26px;
      margin-top: 32px;
      position: relative;
      .register-email-inputPw {
        height: 30px;
        border: none;
        width: inherit;
        border-bottom: 1px solid $COLOR_DDDDDD;
        @include setMobileSafariInputBox();
        @include ieRemovePwReveal();
        @include setValidInvalidBorder(12px);
      }
      .register-email-removePw {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right: 5px;
        @include setBackgroundImage('07_myofriends_review_photo_delete.png', 14px, 14px);
      }
      .register-email-pwErrMsg {
        position: absolute;
        top: 32px;
        left: 0;
        @include setFont($COLOR_FF0C0C, $FONT_WEIGHT_REGULAR, 10px, true);
      }
    }

    .register-email-inputPwConfirm-con {
      width: 100%;
      height: 26px;
      margin-top: 32px;
      position: relative;
      .register-email-inputPwConfirm {
        height: 30px;
        border: none;
        width: inherit;
        border-bottom: 1px solid $COLOR_DDDDDD;
        @include setMobileSafariInputBox();
        @include ieRemovePwReveal();
        @include setValidInvalidBorder(12px);
      }
      .register-email-removeRepeat {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right: 5px;
        @include setBackgroundImage('07_myofriends_review_photo_delete.png', 14px, 14px);
      }
      .register-email-confirmErrMsg {
        position: absolute;
        top: 32px;
        left: 0;
        @include setFont($COLOR_FF0C0C, $FONT_WEIGHT_REGULAR, 10px, true);
      }
    }

    .register-email-recomCode-con {
      width: 100%;
      height: 100%;
      margin-top: 32px;
      position: relative;
      .register-email-recomCode-title {
        height: 30px;
        align-self: flex-start;
        width: 100%;
        @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 10px);
      }
      .register-email-inputRecomCode {
        margin-top: 10px;
        height: 30px;
        border: none;
        width: 100%;
        border-bottom: 1px solid $COLOR_DDDDDD;
        @include setMobileSafariInputBox();
        @include setValidInvalidBorder(12px);
        @include ieRemoveXButton();
      }
      .register-email-input-RecomErrMsg {
        position: absolute;
        top: 32px;
        left: 0;
        @include setFont($COLOR_FF0C0C, $FONT_WEIGHT_REGULAR, 10px, true);
      }
    }

    .register-email-terms-agreement-container {
      margin-top: 15px;
      width: 100%;
      height: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @include setCursorPointer();
      .not-checked { // 14, 14
        @include setUnCheckedBtn(14px, 14px);
      }
      .checked { // 14, 14, 6, 6
        @include setCheckedBtn(14px, 14px, 6px, 6px);
      }
      .register-email-all-agreement {
        margin-left: 6px;
        @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
      }
    }

    .register-email-terms-container {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      border: 1px solid $COLOR_212121;
      padding: 16px 20px;
      margin-top: 10px;
      justify-content: space-between;
      height: 82px;
      .register-email-terms-agreement-terms {
        text-decoration: underline!important;
        display: flex;
        @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
      }
      .register-email-terms-agreement-personal-information {
        text-decoration: underline!important;
        display: flex;
        @include setFont($COLOR_212121, $FONT_WEIGHT_MEDIUM, 12px);
      }
    }
    .register-email-terms-adult-agreement {
      width: 100%;
      margin-top: 10px;
      @include setFont($COLOR_B1B1B1, $FONT_WEIGHT_MEDIUM, 12px);
    }

    .register-email-register-btn-active {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 260px;
      height: 40px;
      background-color: $COLOR_FF6600;
      border-radius: 20px;
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px, true);
      @include setCursorPointer();
      @include setUserSelectNone();
    }

    .register-email-register-btn-inactive {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 260px;
      height: 40px;
      background-color: $COLOR_DDDDDD;
      border-radius: 20px;
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px, true);
      @include setPointerEventsNone();
      @include setUserSelectNone();
      @include setCursorDefault();
    }

    .register-email-notice-msg {
      @include serverErrorMsg(2);
    }
    @include setUsePrivacyPopup(2);
  }
  // 3. 이메일 회원가입 시작(모바일)
}
