@import "./variable.scss";
// 데스크톱 전용
@media #{$desktop} {
  // 11. 아이템 호스트 리뷰(후기) 모두보기 페이지 시작(데스크톱)
  .route-review-host-all-reviews {
    max-width: 990px;
    padding: 60px 30px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    .route-review-host-reviews-entity-con {
      display: flex;
      width: 100%;
      flex-direction: row;
      position: relative;
      .route-review-host-reviews-number-star {
        height: 30px;
        .route-review-host-reviews-number-con {
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 22px);
          .route-review-host-reviews-number {
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 22px);
          }
        }
      }
      .route-review-host-star-con {
        margin-left: auto;
        margin-bottom: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          margin-right: 4px;
          display: flex;
          align-items: center;
          height: 100%;
          &:last-child {
            margin-right: 0;
          }
          .star {
            display: inline-block;
            @include setBackgroundImage('06_detailpage_host_star_on.png', 12px, 12px);
          }
          .half-star {
            display: inline-block;
            @include setBackgroundImage('07_myofriends_review_star_half.png', 12px, 12px);
          }
          .not-star {
            display: inline-block;
            @include setBackgroundImage('06_detailpage_host_star_off.png', 12px, 12px);
          }
        }
      }
    }
    .route-review-host-all-review-items {
      width: 100%;
      border-top: 2px solid $COLOR_212121;
      margin-top: 22px;
      @include setReviewHost(1, 2);
    }
    .route-review-pagination {
      @include setPagination(70px, 150px);
    }
  }
  // 11. 아이템 호스트 리뷰 페이지 끝(데스크톱)
}
// 모바일 전용
@media #{$mobile} {
  // 11. 아이템 호스트 모든 리뷰 페이지(모바일)
  .route-review-host-all-reviews {
    padding: 35px 20px 150px;
    .route-review-host-reviews-entity-con {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      .route-review-host-reviews-number-star {
        display: flex;
        height: 30px;
        align-items: center;
        .route-review-host-reviews-number-con {
          @include setFont($COLOR_212121, $FONT_WEIGHT_BOLD, 16px);
          .route-review-host-reviews-number {
            @include setFont($COLOR_212121, $FONT_WEIGHT_REGULAR, 16px);
          }
        }
      }
      .route-review-host-star-con {
        position: absolute;
        margin: 0;
        top: 25%;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          margin-right: 3px;
          display: flex;
          height: 100%;
          &:last-child {
            margin-right: 0;
          }
          .star {
            display: inline-block;
            @include setBackgroundImage('06_detailpage_host_star_on.png', 12px, 12px);
          }
          .half-star {
            display: inline-block;
            @include setBackgroundImage('07_myofriends_review_star_half.png', 12px, 12px);
          }
          .not-star {
            display: inline-block;
            @include setBackgroundImage('06_detailpage_host_star_off.png', 12px, 12px);
          }
        }
      }
    }
    .route-review-host-all-review-items {
      border-top: 1px solid $COLOR_212121;
      margin-top: 20px;
      @include setReviewHost(2, 2);
    }
    .route-review-pagination {
      @include setPagination(20px, 30px);
    }
  }
  // 11. 아이템 호스트 모든 리뷰 페이지(모바일)
}
